<div class="o-metadata__group2">
  <div class="o-metadata__group2-item">Submission Date: <%= formatted_date(resource.try(:identifier).try(:created_at)) %></div>
  <% resource.datacite_dates.available.each do |i| %>
    <div class="o-metadata__group2-item">Published Date: <%= formatted_date(i.date) %></div>
  <% end %>
  <div class="o-metadata__group2-item">Publisher: <%= resource.try(:publisher).try(:publisher) %></div>
  <div class="o-metadata__group2-item"><%= resource.try(:identifier).try(:to_s) %></div>
</div>