<% @document_list.take(5).each do |document| %>
  <% author_string = document['dc_creator_sm'] ?
        document['dc_creator_sm'].map{|i| name_reverser(i) }.reject{|i| i.blank? }.join('; ') : '' %>
  <% desc_string = author_string + '. ' + document['dc_description_s'] %>

  <div class="c-latest__dataset">
    <p class="c-latest__title" role="heading" aria-level="3"><%= link_to document['dc_title_s']&.html_safe, stash_url_helpers.show_path(document['dc_identifier_s'])%></p>
    <p class="c-latest__desc">
      <%= desc_string.truncate_words(35) %>
    </p>
  </div>
<% end %>