<% @document_list.take(5).each do |document| %>
  <div class="c-latest__dataset">
    <%= link_to document['dc_title_s'], stash_url_helpers.show_path(document['dc_identifier_s']),
                class: 'c-latest__title', title: document['dc_title_s'] %>
    <p class="c-latest__author">
      <%= (document['dc_creator_sm'] ?
        document['dc_creator_sm'].map{|i| name_reverser(i) }.reject{|i| i.blank? }.join('; ') : ''
          ) %>,
      <%= document['dc_publisher_s'] %>
    </p>
  </div>
<% end %>