<form id="help-search-form" action="/help">
  <input type="text" class="c-input__text" name="q" placeholder="Search the help center" id="help_search" aria-label="Search the help center"/>
  <button type="submit" aria-label="Search" title="Search">
    <i class="fas fa-search" aria-hidden="true"></i>
  </button>
  <input type="reset" class="o-button__plain-textlink" value="&#xf00d;" aria-label="Clear" title="Clear" />
</form>