/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.outer_container {
  height: 480px;
  margin: 40px 40px 40px 40px;
  background-color: #E5E4E2;
}

.left_container {
  width: 450px;
  height: 335px;
  margin: 20px;
  padding: 20px 10px 10px 20px;
  float: left;
  background-color: #cecdcb;
}

.right_container {
  width: 450px;
  height: 350px;
  margin: 0px;
  padding: 0px 20px 10px 20px;
  float: right;
}

.steps_to_publish ul li {
  margin: 5px 10px 10px 14px;
  padding: 5px 0 0 24px;
  background-image: url("../stash_engine/mark.png");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  font-size: 100%;
  line-height: 130%;
}

.steps_to_publish ul {
  list-style-type: none;
}

.get_started_points {
  padding: 6px;
  background-color: #cecdcb;
}
.why_share {
  padding: 8px;
  background-color: #cecdcb;
}
.steps_to_share {
  margin: 20px 10px 0px 10px;
  padding: 20px 10px 0px 10px;
}

.begin {
  margin: 30px;
  padding: 40px;
}