/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

a#upload_path {
  float: right;
}
.success_top {
  display: none;
  height:50px;
  width:50px;
  position:fixed;
  top: 0;
  float: left;
}
.success_botton{
  position:fixed;
  left: 250px;
  bottom: 0;
}