/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.upload {
    width: 400px;
    margin-top: 10px;
    padding-top: 10px;
    border-top: solid 1px #CCC;

  .progress {
    margin-top: 8px;
    border: solid 1px #555;
    -moz-border-radius: 3px;
    border-radius: 3px;
      .bar {
        height: 10px;
        background: #3EC144;
    }
  }
}

.strike-deleted {
  text-decoration: line-through;
}