<% unless file_uploads.nil? %>
  <ul class="c-review-files__list">
  <% file_uploads.each do |file_upload| %>
    <div class="<%= 'strike-deleted' if file_upload.file_state == 'deleted' %>">
      <li><%= file_upload.upload_file_name %>&nbsp;&nbsp;
      <%= file_upload.upload_file_size %> B</li>
    </div>
  <% end %>
  </ul>
<% end %>

