<% unless file_uploads.nil? %>
  <ul class="c-review-files__list">
  <% file_uploads.each do |file_upload| %>
    <li><%= file_upload.upload_file_name %>&nbsp;&nbsp;
    <%= file_upload.upload_file_size %> B</li>
  <% end %>
  </ul>
<% end %>