<p>Your certificate expires in <%= @expiration_days %>.</p>
<p>See
  the <a href="https://github.com/datadryad/dryad-app/blob/main/documentation/external_services/amazon_aws_ec2_setup.md#to-renew-the-letsencrypt-certificates">renewal
    instructions on GitHub</a>.</p>
