<style>
    pre {
        font-size: 12px;
        border: 1px solid #ccc;
        font-style: italic;
        padding: 10px;
    }
</style>

<p>CSP violation <%= Time.current %></p>
<p>API response: </p>
  <pre><%= JSON.pretty_generate(@report) %></pre>