<h1>Test#after_login</h1>
<p>Find me in app/views/stash_engine/test/after_login.html.erb</p>

<p>Auth hash:</p>
<pre>
  <%= @auth_hash.inspect %>
</pre>

<p>Params:</p>
<pre>
  <%= params.inspect %>
</pre>


<p>env:</p>
<pre>env.inspect</pre>

<p>request.env:</p>
<pre>request.env.inspect</pre>