<h1>Test#after_login</h1>
<p>Find me in app/views/stash_engine/test/after_login.html.erb</p>

<p>Auth hash:</p>
<p>
  <%= @auth_hash.inspect %>
</p>

<p>Params:</p>
<p>
  <%= params.inspect %>
</p>

<p>request.env:</p>
<p><%= request.env.inspect %></p>