<p>
  This work is licensed under a
  <a href="http://creativecommons.org/publicdomain/zero/1.0/">Creative Commons Public Domain</a> license.
</p>

<!-- I know, bad, but Joel will fix because he's been laying out and laying out some more -->
<center>
  <%= image_tag("licenses/cc0.png", size: '201x70', alt: 'Creative Commons Public Domain logo') %>
</center>