<p>
  This work is licensed under a
  <a href="https://creativecommons.org/publicdomain/zero/1.0/">Creative Commons Public Domain License.</a>
</p>
<%= image_tag("licenses/cc0.gif", alt: 'Creative Commons 0 license logo') %>