<p>This work is licensed under a <a href="http://creativecommons.org/licenses/by/4.0/" class="o-link__primary">Creative Commons Attribution 4.0 International license</a>.</p>
<%= image_tag('licenses/icon_cc-by.svg', alt: 'Creative Commons Attribution logo') %>
