<p>
  This work is licensed under a
  <a href="http://creativecommons.org/licenses/by/4.0/">
    Creative Commons Attribution 4.0 International License
  </a>
</p>
<%= image_tag("licenses/cc-by.gif", alt: 'Creative Commons Attribution 4.0 International logo') %>