<%= image_tag("licenses/cc-by.png",  size: '201x70', alt: 'Creative Commons Attribution 4.0 International logo',
      style: 'float: right;' ) %>
<p>
  This dataset will be published under a
  <a href="http://creativecommons.org/licenses/by/4.0/">
    Creative Commons Attribution 4.0 International
  </a> license.
</p>

<p>
  This license lets others distribute, modify, and build upon your work, even commercially, as
  long as they credit you for the original creation.
</p>
<div style="clear: both"></div>
