<% tiers = FeeCalculator::InstitutionService.new.storage_fee_tiers %>
<% tiers.each do |t| %>
  <% if t[:price] > 0 %>
    <tr>
      <td>Up to <%= filesize(t[:range].to_s.split('..').last.to_i) %></td>
      <td><%= number_to_currency(t[:price], precision: 0) %></td>
    </tr>
  <% end %>
<% end %>