<%# takes a local identifier AR object #%>
<h3>Works Referencing This Dataset</h3>
<% identifier.counter_stat.html_citations.each do |cite_html| %>
  <p>
    <% if cite_html[:html].blank? %>
      <%= "Citation metadata for #{cite_html[:doi]} was not available from DataCite." %>
    <% else %>
      <%= cite_html[:html] %><br/>The doi: <%= cite_html[:doi] %>
    <% end %>
  </p>
<% end %>