<div class="o-download">
  <% resource = dataset_identifier.latest_downloadable_resource(user: current_user) %>

  <%= button_to "Download dataset ~ #{filesize(resource.size, 0)}", download_resource_path(resource.id),
                class: 'o-download__files js-download', id: "dl_res_#{resource.id}" %>

</div>