<%# takes local variable of resource %>
<div class="c-sidebox">
  <h3 class="c-sidebox__heading">Data Files</h3>
  <p>
    This dataset is embargoed <% if @resource.publication_date.present? && @resource.publication_date > Time.new.utc -%>
      and will be released on <%= formatted_date(@resource.publication_date) %>
    <% end -%>.
    <% auth = @resource.authors.first %>
    <% if auth&.author_email&.present? %>
      Please contact <a href="mailto:<%= auth.author_email %>"><%= auth.author_standard_name
      %></a> with any questions.
    <% else %>
      <!-- the author sucks and didn't give an email.  Maybe imported data? -->
    <% end %>
  </p>
  <p>Lists of files and downloads will become available to the public when released.</p>
</div>