<%# takes local variable of dataset_identifier and resource %>
<div class="c-sidebox">
  <h3 class="c-sidebox__heading">Data Files</h3>
  <% dataset_identifier.resources.submitted.by_version.each do |res| %>
    <details class="c-file-group" role="group">
      <summary class="o-showhide__summary c-file-group__summary">
        Version <%= res.stash_version.version %></summary>
      <ul class="c-file-group__list">
        <% res.current_file_uploads.each do |fu| %>
          <li>
            <% if resource.public? %>
              <%= link_to fu.upload_file_name.ellipsisize(22), download_file_path(fu.id),
                        title: fu.upload_file_name, target: '_blank' %>
            <% else %>
              <%= link_to fu.upload_file_name.ellipsisize(22), download_file_stream_path(fu.id),
                          title: fu.upload_file_name, target: '_blank' %>
            <% end %>
            <div style="float: right;"><%= filesize(fu.upload_file_size) %></div>
          </li>
        <% end %>
      </ul>
    </details>
  <% end %>
</div>