<div class="c-sidebox">
  <h3 class="c-sidebox__heading">Data Files</h3>
  <p>
    You are previewing the metadata for a version of the dataset that has not yet been successfully submitted to the
    storage repository by the author.
  </p>
  <p>Lists of files and downloads will become available once it has been finalized and submitted by the author.</p>
</div>