<% resources = @id.resources_with_file_changes.submitted.by_version %>
<% if resources.count.positive? %>
<h3 class="o-heading__level2">Files changed on</h3>
<table class="t-landing__pdftable">
  <% resources.each do |resource| %>
    <tr>
      <td><%= formatted_date(resource.stash_version.updated_at) %></td>
    </tr>
  <% end %>
</table>
<% end %>