<div class="c-columns">
	<main class="t-landing__main c-columns__content">
		<div id="display_resource">
		  <%# image_tag 'stash_engine/spinner.gif', size: '80x60', alt: 'Loading spinner' %>
      <%# render(partial: 'stash_datacite/resources/show') %>
      <%= render(partial: metadata_render_path('resources', 'show')) %>
		</div>
	</main>
	<aside class="t-landing__sidebar c-columns__sidebar2">
		<div id="sidebar">
		  <%= render :partial => 'sidebar' %>
		</div>
	</aside>
</div>
<%= render partial: 'stash_engine/downloads/modal_capture_email',
    locals: { resource: @resource }%>

<% if params[:invitation] %>

  <div id="orcid_modal_dialog" style="display: none;">
    <p>You are a co-author for this dataset.</p>

    <p>[add connect orcid button/form here]</p>
  </div>

  <script>
    $("#orcid_modal_dialog").dialog({
      autoOpen: true,
      height: 'auto',
      width: 'auto',
      modal: true,
      close: function() {
        alert('close');
      }
    });
  </script>

<% end %>