<nav aria-label="Account management navigation" style="display: flex; align-items: baseline; column-gap: 30px; flex-wrap: wrap">
  <h1 style="margin-bottom: 0;">Manage accounts</h1>
  <ul class="c-header__nav-group" style="height: 22.2667px; font-size: 1rem;">
    <li class="c-second__nav-item"><a<% if current == 'users' %> aria-current="page"<%end%> href="<%= user_admin_path %>">Users</a>
    <li class="c-second__nav-item"><a<% if current == 'tenants' %> aria-current="page"<%end%> href="<%= tenant_admin_path %>">Institutions</a>
    <li class="c-second__nav-item"><a<% if current == 'journals' %> aria-current="page"<%end%> href="<%= journal_admin_path %>">Journals</a>
    <li class="c-second__nav-item"><a<% if current == 'publishers' %> aria-current="page"<%end%> href="<%= publisher_admin_path %>">Publishers</a>
  </ul>
</nav>