<div class="c-autosave-footer">
  <div class="c-autosave__text saving_text" style="display: none;">Saving&hellip;</div>
  <div class="c-autosave__text saved_text" style="display: none;">All Progress Saved.</div>
</div>
<div class="o-dataset-nav">
  <%= link_to 'Back to My datasets', stash_url_helpers.dashboard_path , id: 'dashboard_path', class: 'o-button__icon-left js-nav-out', role: 'button' %>
  <%= link_to 'Proceed to Upload', stash_url_helpers.upload_resource_path(@resource), id: 'upload_path', class: 'o-button__icon-right js-nav-out', role: 'button' %>
</div>
