<dialog id="railsConfirmDialog" class="modalDialog">
  <div>
    <h1 id="railsConfMsg" style="width: 25rem; float: left;"></h1>
    <button id="railsConfirmDialogClose" class="button-close-modal" style="float: right;" aria-label="close" type="button"></button>
    <div style="clear: both;">&nbsp;</div>
    <button id="railsConfirmDialogYes" value="default">Yes</button>
    <button id="railsConfirmDialogNo" value="cancel">No</button>
  </div>
</dialog>

<script>
  // adds the polyfill for firefox and some other browsers that are not up to date.
  // https://github.com/GoogleChrome/dialog-polyfill

  const modal = document.getElementById('railsConfirmDialog');
  dialogPolyfill.registerDialog(modal);
</script>