<dialog id="genericModalDialog" class="modalDialog">
  <div>
    <div class="modalClose">
      <button id="genericModalClose" aria-label="close" type="button">
        <i class="fa fa-window-close fa-lg" aria-hidden="true"></i>
      </button>
    </div>
    <!-- to display anything in the dialog, replace content within the genericModalContent (using Javascript) and attach any events
      you need for what you add.  The dialog comes with an event for closing and taking no action for the close button.

      Open modal with <item>.showModal(); and close with <item>.close();
      -->
    <div id="genericModalContent" class="c-modal-content__normal">&nbsp;</div>
  </div>
</dialog>

<script>
  // adds the polyfill for firefox and some other browsers that are not up to date.
  // https://github.com/GoogleChrome/dialog-polyfill

  const modal2 = document.getElementById('genericModalDialog');
  dialogPolyfill.registerDialog(modal2);

  $('#genericModalClose').click(function(){
      console.log("closing genericModal");
      document.querySelector('#genericModalContent').classList.replace('c-modal-content__wide',
								       'c-modal-content__normal');
      document.querySelector('#genericModalContent').classList.replace('c-modal-content__cedar',
								       'c-modal-content__normal');
      $('#genericModalDialog')[0].close(); // uses [0] to get native object rather than jQuery object (I think)
      $('#genericModalContent').html("");
  });
</script>
