<footer class="c-footer">
  <div class="c-footer__link-group">
    <div class="c-footer__nav-group">
      <a href="" class="c-footer__nav-item">Browse Data</a>
      <%= link_to 'About Dash', stash_url_helpers.about_path, class: 'c-footer__nav-item' %>
      <a href="" class="c-footer__nav-item">My Datasets</a>
      <div class="c-footer__logged-in-or-out">
        <!-- Login -->
        <div class="o-sites">
          <details class="o-showhide o-sites__details" role="group">
            <summary class="o-showhide__summary o-sites__summary">More Dash Sites</summary>
            <div class="o-sites__group">
              <!-- <span class="o-sites__group-heading">Participating UC Campuses</span> -->
              <span class="o-sites__group-heading">Participating partners</span>
              <%= render partial: "stash_engine/shared/sites_list" %>
            </div>
          </details>
          <a href="" class="o-sites__login">Login</a>
        </div>
        <!-- Logout -->
        <!-- <div class="o-logout">
          <button class="o-logout__button">Logout</button>
          <div class="o-logout__name">Username</div>
        </div> -->
      </div>
    </div>
    <div class="c-footer__policy-group">
      <a href="">Terms of Use</a>
      <a href="">Privacy Policy</a>
      <a href="">Accessibility Policy</a>
    </div>
  </div>
  <p>Dash is a collaborative project between UC Campus Library and the UC Curation Center of the <a href="http://www.cdlib.org" class="o-link__primary">California Digital Library</a></p>
  <p>© The Regents of the University of California</p>
</footer>
