<style>
  footer {
    border: solid;
    border-width: 1px;
    margin: 1em;
    padding: 1em 2em 1em 2em;
    font-size: 11pt;
  }

  .foot3 {
    margin: 0 2em 0 2em;
    float: left;
  }

  .foot_stack {
    margin: 10px 0 10px 0;
    text-align: center;
  }

  .special_items {
    width: 600px;
    margin: 0 auto 0 auto;
  }
</style>
<footer>
  <div class="foot_stack">
    <div class="special_items">
      <div class="foot3">
        Terms and Conditions
      </div>
      <div class="foot3">
        Privacy Policy
      </div>
      <div class="foot3">
        Accessibility Policy
      </div>
      <div style="clear:both"></div>
    </div>
  </div>
  <div class="foot_stack">
    Dash is a collaborative project between UC Campus Library and the UC Curation center at the California Digital Library.
  </div>
  <div class="foot_stack">
    &copy; The Regents of the University of California
  </div>
</footer>