<main>
  <h1>External dependency statuses</h1>

  <p>The following lists represent the current status of Dryad's external dependencies. A green icon indicates that the service is online and operational, red indicates that the service is offline and orange indicates that we could not determine it's status. Clicking on a red or orange icon will open a dialog with troubleshooting information.</p>
  <p>For general troubleshooting information, please refer to the: <%= link_to 'Main Dryad Documentation', @main_documentation %></p>

  <p><strong>The following dependencies were last checked on: <em><%= formatted_datetime(@latest_check) %></em></strong></p>

  <div class="o-dependency-group">
    <div>
      <h2>Dryad or CDL managed</h2>
      <%= render partial: 'dependency_list', locals: { dependencies: @managed_dependencies } %>
    </div>

    <div>
      <h2>Vendor managed</h2>
      <%= render partial: 'dependency_list', locals: { dependencies: @unmanaged_dependencies } %>
    </div>
  </div>
</main>

<script type="text/javascript">
  /* JS wiring for dialog boxes that open when user clicks on the status icon */
  var toggleDialog = function(el) {
    var dialog = $(el).parent().find('.dialog');
    if (dialog.hasClass('dialog-open')) {
      dialog.removeClass('dialog-open');
      dialog.addClass('dialog');
    } else {
      dialog.removeClass('dialog');
      dialog.addClass('dialog-open');
    }
  };

  $(document).ready(function(){
    $('.o-dependency-group__list__item .fa-times-circle').click(function() {
      $(this).parent().find('.dialog').css('display', 'block');
    });
    $('.o-dependency-group__list__item .fa-question-circle').click(function() {
      $(this).parent().find('.dialog').css('display', 'block');
    });

    $('.o-dependency-group__list__item .dialog-close').click(function() {
      $(this).closest('.dialog').css('display', 'none');
    });
  });
</script>