<p><%= @journal.title %></p>
<%
plan_radios = [ ['', 'None'] ]
@journal.payment_plans.each {|p| plan_radios.push([p, p.capitalize])}
%>
<fieldset class="c-fieldset">
  <legend class="c-fieldset__legend">Payment plans:</legend>
  <% plan_radios.each do |plan| %>
      <%= radio_button_tag('payment_plan_type', plan.first, @journal.payment_plan_type == plan.first || '' == plan.first) %> <label for="<%= "payment_plan_type_#{plan.first}" %>"><%= plan[1] %></label></br>
  <% end %>
</fieldset>
