<% unless authors.nil? %>
  <div>
    <% authors.each_with_index do |author, i| %>
    <% highlights = highlight_fields.detect {|h| h[:index] == i} %>
	<div class="o-metadata__group1">
	  <% if current_user && current_user.limited_curator? %>
		<%= ([ (author.author_full_name ?
			"<span class='o-metadata__author#{' highlight' if highlights&.key?(:author_full_name)}'>#{h(author.author_full_name)}</span>" : nil) ] +
		     author.affiliations.map{|i|
					     if i.smart_name.present? && i.smart_name != ',' && i.smart_name != '.'
					       "<span class='o-metadata__affiliation#{' highlight' if highlights&.key?(:affiliation)}'>#{h(i.smart_name(show_asterisk: true))}</span>"
					     else
					       nil
					     end
		     } +
		     [ (author.author_orcid ? "<span class='c-orcid__icon'></span><span>#{display_author_orcid(author)}</span>" : nil) ])
		     .flatten.reject(&:blank?).join(", ").html_safe %>
	    <% else %>
		<%= ([ (author.author_full_name ?
			"<span class='o-metadata__author'>#{h(author.author_full_name)}</span>" : nil) ] +
		     author.affiliations.map{|i|
					     if i.smart_name.present? && i.smart_name != ',' && i.smart_name != '.'
					       "<span class='o-metadata__affiliation'>#{h(i.smart_name(show_asterisk: false))}</span>"
					     else
					       nil
					     end
		     } +
		     [ (author.author_orcid ? "<span class='c-orcid__icon'></span><span>#{display_author_orcid(author)}</span>" : nil) ])
		     .flatten.reject(&:blank?).join(", ").html_safe %>
	    <% end %>
	</div>
    <% end %>
    <div class="o-metadata__group1">
			<%= authors.each_with_index.map{ |author, i|
				  highlights = highlight_fields.detect {|h| h[:index] == i}
					if author.author_email
						"<span class='#{' highlight' if highlights&.key?(:email)}'>#{author.author_email}</span>"
					else
						nil
					end
				}.reject(&:blank?).join(", ").html_safe  %>
    </div>
    <% deleted = highlight_fields.detect {|h| h.key?(:deleted) } %>
    <% if deleted %>
    	<div class="highlight"><%= deleted[:deleted] %> authors deleted</div>
    <% end %>
  </div>
<% end %>
