<% unless authors.nil? %>
  <div class="<%= 'highlight' if highlight %>">
    <% authors.each do |author| %>
	<div class="o-metadata__group1">
	    <% if current_user && current_user.limited_curator? %>
		<%= ([ (author.author_full_name ?
			"<span class='o-metadata__author'>#{h(author.author_full_name)}</span>" : nil) ] +
		     author.affiliations.map{|i|
					     if i.smart_name.present? && i.smart_name != ',' && i.smart_name != '.'
					       "<span class='o-metadata__affiliation'>#{h(i.smart_name(show_asterisk: true))}</span>"
					     else
					       nil
					     end
		     } +
		     [ (author.author_orcid ? "<span class='c-orcid__icon'></span><span>#{display_author_orcid(author)}</span>" : nil) ])
		     .flatten.reject(&:blank?).join(", ").html_safe %>
	    <% else %>
		<%= ([ (author.author_full_name ?
			"<span class='o-metadata__author'>#{h(author.author_full_name)}</span>" : nil) ] +
		     author.affiliations.map{|i|
					     if i.smart_name.present? && i.smart_name != ',' && i.smart_name != '.'
					       "<span class='o-metadata__affiliation'>#{h(i.smart_name(show_asterisk: false))}</span>"
					     else
					       nil
					     end
		     } +
		     [ (author.author_orcid ? "<span class='c-orcid__icon'></span><span>#{display_author_orcid(author)}</span>" : nil) ])
		     .flatten.reject(&:blank?).join(", ").html_safe %>
	    <% end %>
	</div>
    <% end %>
    <div class="o-metadata__group1">
	<%= authors.map{ |author| author.author_email }.reject(&:blank?).join(", ").html_safe  %>
    </div>
  </div>
<% end %>
