.o-admin-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: $spacing-md;
}

*[class^="o-admin-head-"] {
  min-width: 225px;
  border: thin solid $design-dark-blue-color;

  h2 {
    padding: $spacing-base;
    color: $design-white-color;
    background-color: $design-dark-blue-color;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0 $spacing-base; 

    li {
      line-height: 135%;
    }
  }
}

.o-admin-dialog {
  padding: 5px 15px 25px;
}

.o-admin-columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: $spacing-md;

  @include bp(screen3) {
    flex-wrap: nowrap;
  }
}

.o-admin-left, .o-admin-right {
  min-width: 225px;
  flex-grow: 1;
  flex-shrink: 1;
}

%o-admin-form {
  display: flex;
  gap: $spacing-sm;

  & > * {
    margin: 0;
  }
}

.o-admin-form {
  @extend %o-admin-form;
  flex-direction: column;
}

.o-admin-form-inline {
  @extend %o-admin-form;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.o-admin-form-pair {
  display: inline-flex;
  gap: $spacing-base/2;
  align-items: center;
  flex-wrap: wrap;
}

#search-pair {
  max-width: 100%;
  width: 660px;
  #search-terms {
    flex-grow: 1;
  }
}

#timezone {
  text-align: right;
  font-size: .9em;
  margin-bottom: -2rem;

  &:before {
    display: inline;
    font-family: FontAwesome;
    content: '\f0ac';
    margin-right: .5ch;
  }
}
