.o-admin-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: $spacing-md;
}

*[class^="o-admin-head-"] {
  min-width: 225px;
  border: thin solid $dark-blue;

  h2 {
    padding: $spacing-base;
    color: white;
    background-color: $dark-blue;
  }

  ul {
    list-style: "";
    margin: 0;
    padding: 0 $spacing-base; 

    li {
      line-height: 135%;
      margin-top: 0;
      margin-bottom: .3rem;
    }
  }
}

.o-admin-dialog {
  padding: 5px 15px 25px;
}

.o-admin-columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: $spacing-md;

  @include bp(screen3) {
    flex-wrap: nowrap;
  }
}

.o-admin-left, .o-admin-right {
  min-width: 225px;
  flex-grow: 1;
  flex-shrink: 1;
}

%o-admin-form {
  display: flex;
  gap: $spacing-sm;

  & > * {
    margin: 0;
  }
}

.o-admin-form {
  @extend %o-admin-form;
  flex-direction: column;
}

.o-admin-form-inline {
  @extend %o-admin-form;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

#admin_search {
  select {
    flex-shrink: 1;
    flex-grow: 1;
    min-width: 0;
    max-width: 300px;
    text-overflow: ellipsis;
  }
  input[type="submit"] {
    padding-right: $spacing-md;
    padding-left: $spacing-md;
  }
}

.o-admin-form-pair {
  display: inline-flex;
  gap: $spacing-base/2;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100%;

  .limiter {
    display: inline-flex;
    align-items: flex-start;
    font-size: .98rem;
    line-height: 1;
    margin-left: .25ch;
    gap: .25ch;
    label {
      white-space: wrap !important;
    }
  }
}

#search-pair {
  max-width: 100%;
  width: 660px;
  #search-terms {
    flex-grow: 1;
  }
}

.o-admin-form-pair.half-width {
  flex-basis: 50%;
  max-width: calc(50% - 2ch);
}
.o-admin-form-pair.quarter-width {
  flex-basis: 25%;
  max-width: calc(25% - 2ch);
}
.o-admin-form-pair.half-width,
.o-admin-form-pair.quarter-width {
  flex-wrap: nowrap;
  min-width: 0;
  @media (max-width: 1050px) {
    flex-basis: 50%;
    max-width: calc(50% - 1ch);
  }
  @media (max-width: 760px) {
    flex-basis: 100%;
    max-width: 100%;
    flex-wrap: wrap;
  }
}

.o-admin-form-pair.half-width,
.o-admin-form-pair.quarter-width {
  label {
    white-space: nowrap;
  }
  select {
    flex-shrink: 1;
    flex-grow: 1;
    min-width: 0;
  }
}

.admin-dashboard-form {
  margin-bottom: 2rem;

  #edit_fields-form,
  #edit_filters-form {
    border: none;
    background-color: $lightest-blue;
    padding: 20px;
    max-width: 100%;
    margin-bottom: 1.5rem;
  }

  #edit_fields-form {
    @media (min-width: 1071px) {
      &.curator { columns: 5 }
      &:not(.curator) { columns: 6 }
    }
    @media (max-width: 1070px) { columns: 5 }
    @media (max-width: 920px) { columns: 3 }
    @media (max-width: 480px) { columns: 2 }
    @media (max-width: 315px) { columns: 1 }

    div {
      margin-bottom: 4px;
      break-inside: avoid-column;
      break-inside: avoid;
    }

    &.show-help {
      columns: 3;
      @media (max-width: 650px) { columns: 2 }
      @media (max-width: 320px) { columns: 1 }
      div {
        display: table;
        
      }
      .help {
        margin: .2rem 0 1rem 1.1rem;
      }
    }
  }

  #edit_filters-form {
    display: flex;
    flex-wrap: wrap;
    gap: 2ch;
    
    .date-flex {
      margin-top: 1ch;
      display: flex;
      justify-content: space-between;
      gap: 3ch;
      flex-wrap: wrap;
      fieldset {
        gap: 1ch;
        flex-wrap: wrap;
      }
      legend {
        display: inline;
      }
    }
  }

  input[type='text'].selected,
  input[type='search'].selected,
  input[type='date'].selected,
  input[type='button'].selected,
  select.selected {
    border: thin solid $light-green;
    &:not(:focus) {
      outline: thin solid $light-green;
    }
  }

  button[type='submit'].changed {
    background-color: $lighter-green;
  }

  .help {
    display: none;
    font-size: .9em;
  }

  .show-help .help {
    display: block;
  }

  .field-pair {
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
    gap: .5ch;
  }

  select{
    max-width: 80vw;
    text-overflow: ellipsis;
  }
}

#search_form {
  max-height: 10000px;
  width: 100%;
  transition: max-height 0.3s ease-in;
  visibility: visible;

  &[hidden] {
    display: block !important;
    overflow: hidden !important;
    max-height: 0 !important;
    width: 0 !important;
    visibility: hidden;
    transition: max-height 0.3s cubic-bezier(0, 1, 0.5, 1), width 0s 0.3s, visibility 0s 0.3s;
  }
}

#save_buttons {
  width: auto;
  height: auto;
  transition: width 0s 0.2s, height 0s 0.2s;
  visibility: visible;

  &[hidden] {
    display: block !important;
    overflow: hidden !important;
    width: 0 !important;
    height: 0 !important;
    visibility: hidden;
    transition: width 0s 0.2s, height 0s 0.2s, visibility 0s 0.2s;
  }
}

#count_and_export {
  margin-left: auto;
}

.admin-dashboard-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  column-gap: 1ch;
  row-gap: .5ch;
  flex-wrap: wrap;
  margin-bottom: 1.1rem;

  h1 {
    margin-bottom: 0;
  }
}

.admin-dashboard-buttons {
  box-sizing: border-box;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 1ch;
  row-gap: .5ch;
  flex-wrap: wrap;
  margin: .8rem auto .2rem;

  *[role='heading'] {
    &[aria-level='2'] {
      font-size: 1.35em;
    }
    &[aria-level='3'] {
      font-size: 1.1em;
    }
  }

  button i {
    margin-right: .5ch;
  }
}

.admin-dashboard-results {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: flex-start;
  column-gap: 2ch;
  row-gap: 1ch;
}

#activity-at-a-glance {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
  column-gap: 1ch;
  row-gap: 3ch;
  @media screen and (min-width: 631px) and (max-width: 1100px) {
    grid-template-columns: repeat(6, 1fr);
    & > * {
      grid-column: span 2;
    }
    & > *:nth-child(-n + 2) {
      grid-column: span 3;
    }
  }
  @media screen and (max-width: 630px) {
    grid-template-columns: 1fr;
  }
  b[role="heading"] {
    font-size: 1.15rem;
  }
  .input-stack {
    row-gap: 1ch;
  }
  .input-line {
    column-gap: .5ch;
    align-items: baseline;
  }
  .c-admin-edit-icon {
    color: $dark-blue;
    @extend %o-button__link-style;
  }
  .child-details {
    flex: 1;
    padding: .75ch;
    background-color: white;
  }
}

.activity-log-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 1ch;
  row-gap: .5ch;
  flex-wrap: wrap;
}

#status-label, #doi-label {
  display: inline-block;
  border-radius: 4px;  
  padding: 0 .35rem;
  font-size: .9rem;
  line-height: 1.1rem;

  &.accepted {
    background-color: $lightest-green;
    border: 2px solid darken($lightest-green, 10);
  }
  &.rejected {
    background-color: $lightest-red;
    border: 2px solid darken($lightest-red, 10);
  }
  &.submitted {
    background-color: $lightest-blue;
    border: 2px solid darken($lightest-blue, 10);
  }
}

.changes-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.desc-changes {
  background-color: rgba(255,255,255,.8);
  border: thin solid #888;
  margin-top: .5ch;
  padding: 1px 10px;
  max-height: 500px;
  overflow-y: auto;

  ins, del {
    padding: 5px 0 3px;
  }
  ins {
    text-decoration: none;
    background-color: $lightest-orange;
    & > * {
      width: fit-content;
      text-decoration: none;
      background-color: $lightest-orange;
    }
  }
  del {
    background-color: $lightest-red;
    text-decoration: line-through;
    & > * {
      width: fit-content;
      background-color: $lightest-red;
      text-decoration: line-through;
    }
  }  
}
