// ##### Alert Component ##### //

%c-alert {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-bottom: $spacing-md;
	padding: 15px 15px 15px 50px;
	border-radius: 5px;
	background-repeat: no-repeat;
	background-position: left 15px top 15px;
	background-size: 20px;
	font-size: 1.1em;
}

.c-alert--success {
	@extend %c-alert;
	color: white;
	background-color: $dark-green;
	background-image: url('/images/scss/icon_success.svg');
}

.c-alert--informational {
	@extend %c-alert;
	color: white;
	background-color: $dark-gray;
	background-image: url('/images/scss/icon_info.svg');
}

.c-alert--notification {
  @extend %c-alert;
  color: white;
  background-color: $slate;
  background-image: url('/images/scss/icon_info.svg');
}

.c-alert--error {
	@extend %c-alert;
	color: white;
	background-color: $red;
	background-image: url('/images/scss/icon_warning-white.svg');
}

.c-alert--error-lite {
	@extend %c-alert;
	border: 2px solid $red;
	background-color: white;
	background-image: url('/images/scss/icon_warning.svg');
}

.c-alert--error-icon {
	display: block;
	padding-left: 20px;
	background-image: url('/images/scss/icon_warning.svg');
	background-repeat: no-repeat;
	background-position: left 8px;
	background-size: 20px;
	color: white;
}

.c-alert__text {
	// empty
}

.c-alert__text-lite {
	color: $red;
}

.c-alert__close {
	margin: 0 0 0 12px;

	&:hover, &:focus, &:active {
		outline: none;
		border-bottom: 3px solid white;
	}
}

.c-alert--migration {
  @extend %c-alert;
  border: 2px solid $dark-blue;
  background-color: white;
  color: $dark-blue;

  .c-alert__close {
		background: transparent url('/images/scss/icon_close-blue.png') center / 15px no-repeat;
  }
}

.c-error-box {
	width: 100%;
	margin-bottom: 1em;
	padding: 0 1em;
	clear: both;
	border: 2px solid $red;
}

#sandbox_banner {
	@extend %pull-background;
	margin-top: -10px;
	margin-bottom: 15px;
	background-color: $lightest-orange;
	font-size: .98rem;
	.modalClose {
		margin-bottom: 0;
		display: flex;
		justify-content: space-between;
		text-align: left;
		button {
			font-size: 22px;
			line-height: 0;
			height: 22px;
		}
	}
}

.fa-flag {
	font-size: .9em;
	&.dashboard-flag:last-of-type {
		margin-right: .5ch;
	}
	&.user {
		color: $medium-blue
	}
	&.inst {
		color: $dark-green;
	}
	&.jour {
		color: $orange;
	}
	&.priority {
		color: $red;
	}
	&.pending_action {
		color: #FFDB58;
	}
	&.sensitive_data {
		color: #7a0094;
	}
	&.careful_attention {
		color: black;
	}
	&.technical_glitch {
		color: #FF69B4;
	} 
}