// ##### Buttons Object ##### //

%o-button__plain-text {
  display: inline-block;
  border: none;
  text-decoration: none;
  cursor: pointer;

  &:hover {opacity: 0.85;}

  &[disabled], &[aria-disabled] {
    background-color: lighten($light-gray, 20%);
    border-color: $light-gray;
    color: $dark-gray;
    opacity: 1;
  }
}

*[role="button"] {
  cursor: pointer;
}

.o-button__plain-text {
  @extend %o-button__plain-text;
  padding: 8px 12px;
  background-color: $lightest-blue;
}

.o-button__plain-text0 {
  @extend %o-button__plain-text;
  padding: 6px 10px;
  border: thin solid $dark-green;
  background-color: $dark-green;
  color: white;

  &:focus {
    border-color: white
  }
}

.o-button__plain-text1,
input[type=file]::file-selector-button {
  @extend %o-button__plain-text;
  padding: 6px 10px;
  border: thin solid $dark-blue;
  background-color: $dark-blue;
  color: white;

  &:focus {
    border-color: white
  }
}

.o-button__plain-text2 {
  @extend %o-button__plain-text;
  padding: 8px 12px;
  background-color: $lighter-blue;
}

button[class*="-toggle"], input[type="button"][class*="-toggle"] {
  @extend %o-button__plain-text;
  padding: 8px 12px;

  &[disabled], &[aria-disabled] {
    color: black;
    border-bottom: thick solid currentColor;
  }

  &.submit-toggle {
    background-color: $lighter-blue;
    &[disabled], &[aria-disabled] {
      background-color: transparent;
      border-color: $lighter-blue;
    }
  }

  &.button-toggle {
    background-color: darken($lightest-green, 10);
    &[disabled], &[aria-disabled] {
      background-color: transparent;
      border-color: darken($lightest-green, 10);
    }
  }

  &.diff-toggle {
    background-color: #edba5a;
    &[disabled], &[aria-disabled] {
      background-color: transparent;
      border-color: #edba5a;
    }
  }
}


.o-button__plain-text3 {
  @extend %o-button__plain-text;
  padding: 8px 12px;
  border: thin solid $light-gray;
  border-radius: 0;
  background-color: white;
}

.o-button__plain-text5 {
  @extend %o-button__plain-text;
  padding: 6px 10px;
  border-radius: 0;
  background-color: $dark-blue;
  color: white;
}

.o-button__link-dark {
  @extend %o-button__plain-text;
  margin: 8px 12px;
  padding: 12px 16px;
  background-color: $dark-blue;
  color: white;
  text-decoration: none;
}

%o-button__link-style {
  display: inline-block;
  border: none;
  text-decoration: none;
  background-color: transparent;

  &:hover, &:focus  {
    text-decoration: underline;
    color: $link-body-hover-color;
  }

  &:focus {
    outline: none;
  }

  &:active {
    color: $link-body-active-color;
  }

  &[disabled] {
    color: $dark-gray;
    text-decoration: none;
  }
  &:focus-visible {
    outline: 2px solid $medium-blue;
  }  
}

.o-button__plain-text4 {
  @extend %o-button__link-style;
  padding: 5px 0;
  color: $dark-blue;
  font-size: 0.98rem;
}

.o-button__plain-textlink {
  @extend %o-button__link-style;
  color: $dark-blue;
}

.o-button__plain-text6 {
  @extend %o-button__link-style;
  margin: 0 8px 0 0;
  padding: 0 12px 0 0;
  border-right: 2px solid $light-gray;
  color: $dark-blue;
  font-weight: bold;

  @include bp(screen2) {
    margin: 0 8px 10px 0;
  }
}

.o-button__plain-text7 {
  @extend %o-button__link-style;
  padding: 0;
  color: $dark-blue;
  font-weight: bold;
  text-align: left;

  &:hover {text-decoration: underline;}

  &[disabled] {
    color: $dark-gray;
    text-decoration: none;
  }

}

// If a <button> is a flexbox child and is implemented in Rails using "button_to", add "form_class" and add this class to it:
.o-button__inline-form {
  display: inline;
  text-align: center;
}

%o-button__icon {
  display: inline-block;
  padding-top: 8px;
  padding-bottom: 8px;
  border: thin solid $light-gray;
  border-radius: 0;
  color: black;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

}

%o-button__icon-left {
  @extend %o-button__icon;
  display: flex;
  align-items: center;
  padding-right: 12px;
  padding-left: 35px;
  background: white url('/images/scss/icon_left-blue-arrow.svg') left 10px center no-repeat;
}

.o-button__icon-left {
  @extend %o-button__icon-left;
}

.o-button__icon-left--active {
  @extend %o-button__icon-left;
  border: thin solid $lighter-blue;
  background-color: $lighter-blue;
}

%o-button__icon-right {
  @extend %o-button__icon;
  padding-right: 35px;
  padding-left: 12px;
  background: white url('/images/scss/icon_right-blue-arrow.svg') right 10px center no-repeat;
}

.o-button__icon-right {
  @extend %o-button__icon-right;
}

.o-button__icon-right--active {
  @extend %o-button__icon-right;
  border: thin solid $lighter-blue;
  background-color: $lighter-blue;
}

.o-button__submit {
  width: 180px;
  height: 35px;
  padding: 0 12px;
  border: none;
  background-color: $lighter-blue;
  text-decoration: none;

  &:hover {
    opacity: 0.85;
  }

  &[disabled] {
    background-color: lighten($light-gray, 20%);
    color: $dark-gray;
    opacity: 1;
  }

}

%o-button__no-bg-icon-left {
  padding: 3px 0 3px 25px;
  border: none;
  background-color: transparent;
  color: $dark-blue;
  font-size: 0.9em;
}

.o-button__no-bg-icon-left1 {
  @extend %o-button__no-bg-icon-left;
  background: url('/images/scss/icon_point-blue.svg') left center no-repeat;
}

.o-button__no-bg-icon-left2 {
  @extend %o-button__no-bg-icon-left;
  background: url('/images/scss/icon_details.svg') left center no-repeat;
}

.o-button__undo {
  @extend %o-button__no-bg-icon-left;
  background: url('/images/scss/icon_undo-blue.png') left center no-repeat;
}

.o-button__undo-disabled {
  @extend %o-button__no-bg-icon-left;
  background: url('/images/scss/icon_undo-disabled.png') left center no-repeat;
  color: $light-gray;
}

%o-button__prev-next {
  border: none;
  background-color: white;
  font-size: 0.9em;
}

.o-button__previous {
  @extend %o-button__prev-next;
  padding: 5px 5px 5px 20px;
  background: url('/images/scss/icon_left-blue-arrow.svg') left center no-repeat;
}

.o-button__next {
  @extend %o-button__prev-next;
  padding: 5px 20px 5px 5px;
  background: url('/images/scss/icon_right-blue-arrow.svg') right center no-repeat;
}

%o-button__text-number {
  border: none;
  background-color: white;
}

.o-button__text-number {
  @extend %o-button__text-number;
}

.o-button__text-number--active {
  @extend %o-button__text-number;
  color: $dark-blue;
}

.o-button__menu {
  padding: 15px;
  border: none;
  background: url('/images/scss/icon_menu.svg') center / 35px no-repeat;
}

.o-button__close {
  padding: 10px;
  border: none;
  background: transparent url('/images/scss/icon_close.svg') center / 15px no-repeat;
}

.o-button__close-lite {
  padding: 10px;
  border: none;
  background: transparent url('/images/scss/icon_close-red.svg') center / 15px no-repeat;
}

%o-button__add-remove {
  display: inline-block;
  text-align: left;
  text-decoration: none;

  &::before {
    margin: 0 0.25em 0 0;
  }

}

.o-button__add {
  @extend %o-button__add-remove;
  padding: 5px 8px;
  border: thin solid $lighter-blue;
  background-color: $lighter-blue;
  color: black;

  &::before {
    content: '+';
  }

  &:hover {
    opacity: 0.85;
  }

  &[disabled] {
    background-color: lighten($lighter-blue, 8);
    border-color: lighten($lighter-blue, 8);
    color: $dark-gray;
    opacity: 1;
  }
}

.o-button__import-manuscript {
  @extend %o-button__add-remove;
  display: block;
  margin: 0 0 20px;
  padding: 5px 8px;
  clear: both;
  border: thin solid $lighter-blue;
  background-color: $lighter-blue;
  color: black;

  &:hover {
    opacity: 0.85;
  }

  &[disabled] {
    opacity: 1;
    color: $dark-gray;
    background-color: $lighter-gray;
  }
}

.o-button__remove {
  @extend %o-button__link-style;
  @extend %o-button__add-remove;
  padding: 2px 0;
  color: $dark-blue;
}

.o-button__connect-orcid {
  display: inline-block;
  padding: 5px 5px 5px 25px;
  border: thin solid $lighter-gray;
  border-radius: 8px;
  outline: none;
  background: white url('/images/scss/icon_orcid.png') left 5px center no-repeat;
  background-color: white;
  box-shadow: 1px 1px 3px $light-gray;
  color: $light-gray;
  font-size: .8em;
  font-weight: bold;
  line-height: 24px;
  text-decoration: none;
  vertical-align: right;
  cursor: pointer;
}

.o-button__connect-orcid:hover {
  border: thin solid $medium-blue;
  color: $medium-blue;
}

.o-button__help {
  display: inline-block;
  padding: 8px;
  border: none;
  background: white url('/images/scss/icon_question-mark.svg') center / 15px no-repeat;
  text-decoration: none;
}

.o-button__calendar {
  padding: 15px;
  border: none;
  background: transparent url('/images/scss/icon_mini_calendar.png') top / 22px no-repeat;
}

button.o-button__calendar:focus { outline: none; }
