// ##### Column Layout Component ##### //

.c-columns, #page-columns {
  display: flex;

  @include bp(screen3) {
    justify-content: flex-end;
    column-gap: 4ch;
  }

  @media (min-width: $screen-lg-min + 200) {
    column-gap: 5ch;
  }
}

.c-columns {
  flex-direction: column;
  @include bp(screen3) {
    flex-direction: row;
  }
}

#page-columns {
  flex-direction: column-reverse;

  @include bp(screen3) {
    flex-direction: row-reverse;

    &:first-child:last-child {
      min-height: calc(100vh - 240px);
    }
  }

  &:first-child:last-child {
    @media (max-width: 968px) { min-height: calc(100vh - 280px); } 
    @media (max-width: 870px) { min-height: calc(100vh - 306px); } 
    @media (max-width: 640px) { min-height: calc(100vh - 346px); }
  }
}

.c-columns__content, #page-content {
  padding: 6px;
  margin: -6px;
  overflow: auto;
  overflow-wrap: anywhere;

  @include bp(screen3) {
    flex: 0 1 44rem;
  }
  @media (min-width: $screen-lg-min + 200) {
    flex: 0 1 54rem;
  }
}

.c-columns__sidebar {
  margin: $spacing-sm 0 0;

  @include bp(screen3) {
    margin: 0;
    flex: 0 1 21rem;
    max-width: 311px;
  }
}

#page-nav {
  margin: $spacing-sm -10px 0;
  background-color: $lightest-blue;
  position: relative;

  ul {
    margin: 0;
    padding: 0;
    list-style: "";
  }

  ul ul {
    margin-left: 2ch;
  }

  a {    
    &:link, &:visited {
      text-decoration: none;
    }
    &:hover, &:focus, &:active {
      text-decoration: underline;
    }
  }

  a:link, a:visited {
    color: $link-body-color;
  }
  a:active {
    color: $link-body-active-color;
  }

  #nav-mobile-button {
    display: none;
  }

  @include bp(screen1) {
    margin: $spacing-sm -20px 0;
  }

  @include bp(screen2) {
    margin: $spacing-sm -30px 0;
  }

  @include bp(screen3) {
    margin: 0;
    flex: 0 1 35ch;

    & > ul {
      position: sticky;
      top: 0;
      padding: 1ch 2ch;
      max-height: 100vh;
      overflow-y: auto;
    }

    ul li {
      margin: $spacing-base 0;
      padding: 0;
    }
  }
  
  @media (max-width: $screen-lg-min - 1) {
    margin-top: auto;
    position: sticky;
    z-index: +1;
    bottom: 0;
    columns: 3;
    padding: 1ch 2ch;
    margin-bottom: -1.8em;
    box-shadow: 0px -3px 2px $lightest-blue;
    box-sizing: border-box;

    &.minimized {
      columns: 1;
      height: 46px;
      overflow: hidden;

      #nav-mobile-button {
        display: inline-block;
        position: absolute;
        top: 2px; right: 2px;
      }
    }

    &.expanded {
      height: auto;

      #nav-mobile-button {
        display: inline-block;
        position: absolute;
        top: 2px; right: 2px;
      }
    }    

    ul > ul {
      display: inline-block;
    }

    & > ul > li:first-child {
      margin-top: 0;
    }
  }

  @media (max-width: $screen-md-min - 1) {
    columns: 2;    
  }

  @media (max-width: $screen-sm-min - 1) {
    columns: 1;
    ul > ul {
      display: block;
    }
  }
}
