// ##### Column Layout Component ##### //

.c-columns, #page-columns {
  display: flex;

  @include bp(screen3) {
    justify-content: flex-end;
  }
}

.c-columns {
  flex-direction: column;
  @include bp(screen3) {
    flex-direction: row;
  }
}

#page-columns {
  flex-direction: column-reverse;
  min-height: calc(100vh - 240px);

  @include bp(screen3) {
    flex-direction: row-reverse;
  }
}

.c-columns__content, #page-content {
  padding-left: 2px;
  overflow: auto;
  overflow-wrap: anywhere;

  @include bp(screen3) {
    flex: 0 1 80ch;
    padding-right: 4ch;
  }
  @media (min-width: $screen-lg-min + 200) {
    flex: 0 1 90ch;
    padding-right: 5ch;
  }
}

.c-columns__sidebar {
  margin: $spacing-sm 0 0;

  @include bp(screen3) {
    margin: 0;
    flex: 0 1 40ch;
  }
  @media (min-width: $screen-lg-min + 200) {
    margin: 0;
    flex: 0 1 35ch;
  }
}

#page-nav {
  margin: $spacing-sm -10px 0;

  ul {
    margin: 0;
    padding: 0;
    list-style: "";
  }

  ul ul {
    margin-left: 2ch;
  }

  #nav-mobile-buttons {
    button {
      position: absolute;
      top: 2px;
      bottom: 2px;
      width: $spacing-lg;
      border: thick solid $dark-blue;
      border-radius: $spacing-base;
      background-color: white;
      color: $dark-blue;
      display: flex;
      align-items: center;
      justify-content: center;
      &::before {
        font-family: 'Font Awesome 6 Free';
        font-weight: 900;
        font-size: 1.25rem;
      }
    }
    #left-scroll-button {
      left: 2px;
      &::before {
        content: "\f0d9";
        content: "\f0d9" / '';
      }
    }
    #right-scroll-button {
      right: 2px;
      &::before {
        content: "\f0da";
        content: "\f0da" / '';
      }
    }
  }

  a {    
    &:link, &:visited {
      text-decoration: none;
    }
    &:hover, &:focus, &:active {
      text-decoration: underline;
    }
  }

  @include bp(screen1) {
    margin: $spacing-sm -20px 0;
  }

  @include bp(screen2) {
    margin: $spacing-sm -30px 0;
  }

  @include bp(screen3) {
    margin: 0;
    flex: 0 1 35ch;
    background-color: $lightest-blue;

    #nav-mobile-buttons {
      display: none;
    }

    & > ul {
      position: sticky;
      top: 0;
      padding: 1ch 2ch;
      max-height: 100vh;
      overflow-y: auto;
    }

    ul li {
      margin: $spacing-base 0;
      padding: 0;
    }

    a:link, a:visited {
      color: $link-body-color;
    }
    a:active {
      color: $link-body-active-color;
    }
  }
  
  @media (max-width: $screen-lg-min - 1) {
    padding: 0 $spacing-sm;
    background-color: $dark-blue;
    position: sticky;
    z-index: +1;
    bottom: 0;
    height: 2.65rem;
    overflow-x: hidden;
    overflow-y: hidden;

    li {
      margin: 0;
      padding: 0;
    }

    ul, li {
      display: flex;
    }

    & > ul {
      max-width: 100%;
      white-space: nowrap;
      overflow-x: auto;
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch;
    }

    a {
      display: block;
      padding: $spacing-base;
      color: white;
      max-width: 20ch;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  @media (max-width: $screen-lg-min - 1) {
    a {
      max-width: 10ch;
    }
  }
}
