// ##### Dataset Navigation ##### //

.o-dataset-nav {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
	gap: 2ch;
}

.saving_text, .saved_text {
	font-size: .98rem;
	color: $dark-gray;
}