// ##### Dataset Navigation ##### //

.dataset-nav-container {
	display: flex;
	flex-direction: column;
	align-self: stretch;
	justify-content: space-between;
	gap: 2ch;

	@media (max-width: 811px) {
		flex-direction: row-reverse;
		flex-basis: 100%;
	}
}

.dataset-nav, .dataset-nav-ltr {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2ch;
	flex-wrap: wrap;

	button, a {
		display: inline-flex;
		align-items: baseline;
		gap: .35ch;
	}

	a {
		margin-top: -2px;
	}

	a:visited, a:active {
		color: $link-body-color;
	}
	a:hover {
		color: $link-body-hover-color;
	}
}

.dataset-nav {
	flex-direction: row-reverse;
}

.saving_text, .saved_text {
	font-size: .98rem;
	color: $dark-gray;
}