.success-hidden {
  display: none;
  text-align: center;
}

.c-alert--success ~ #maincontent .success-hidden {
  display: block;
}

.c-datasets-heading {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: $spacing-sm;

  @include bp(screen1) {
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .c-datasets-heading__button {
    @extend %o-button__plain-text;
    align-self: center;
    height: 45px;
    padding: 0 44px 0 29px;
    font-size: 1.2em;
    border: thin solid $dark-blue;
    background-color: $dark-blue;
    color: white;    
    &:focus {
      border-color: white
    }
    i {
      margin-right: 1ch;
      font-size: .75em;
      -webkit-text-stroke: 1px white;
      vertical-align: 2px;
    }
    &[disabled] i {
      -webkit-text-stroke: 0;
    }
  }
}

.c-user-datasets-heading {
  font-weight: bold;
  color: black;
  margin-bottom: 0;
  font-size: 1.35em;
  &:first-child {
    margin-top: 0;
  }
}

.c-user-datasets-list {
  list-style: "";
  margin: 0; padding: 0;
  border-bottom: thin solid $lighter-green;

	li {
    padding: 1ch 0;
    margin: 0;
	  border-top: thin solid $lighter-green;
	  display: flex;
    row-gap: 1ch;
    column-gap: 2ch;
	 
	 	& > div {
      flex: 3;
		  &:last-child {
        flex: 1;
		    font-size: .9em;
		  }
		}

		p {
    	margin: $spacing-base auto;
  	}
  }
}

.c-user-dataset-details {
  font-size: .85em;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  column-gap: $spacing-sm;

	.prev-published {
	  margin-left: auto;

	  i {
	    color: $dark-green;
	  }
	}
}

.c-user-datasets-status {
  display: flex;
  flex-direction: column;
  row-gap: .5rem;

  .dataset-status {
    display: block;
    padding: .15rem .5rem;
  }
  .error-status {
    background-color: $red;
    color: #fff;
  }
  .warning-status {
    background-color: #edba5a;
  }
  .info-status {
    background-color: $medium-blue;
    color: #fff;
  }
  .success-status {
    background-color: $dark-green;
    color: #fff;
  }
  .disabled-status {
    background-color: $dark-gray;
    color: #fff;
  }

  .c-user-datasets-actions {
	  display: flex;
	  justify-content: space-between;
    flex-wrap: wrap;

    button i {
      margin-right: .5ch;
    }
	}
}