// ##### Fonts ##### //

@font-face {
  font-family: 'KievitWeb';
  src: url('/fonts/KievitWeb.woff') format('woff');
}

@font-face {
  font-family: 'FontAwesome';
  src: url('/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff');
  font-weight: normal;
  font-style: normal;
}
