// ##### Footer Component ##### //

#maincontent {
  min-height: calc(100vh - 240px);
  @media (max-width: 968px) { min-height: calc(100vh - 280px); } 
  @media (max-width: 870px) { min-height: calc(100vh - 306px); } 
  @media (max-width: 640px) { min-height: calc(100vh - 346px); } 
}

.c-footer {
  @extend %pull-borders;
  margin-top: 2em;
  padding-top: 10px;
  clear: both;
  border-top: thin solid $dark-gray;
  font-size: .9em;

  @include bp(screen3) {
    font-size: .8em;
  }

}

.c-footer__link-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  column-gap: 4ch;
  row-gap: 2ch;
  margin-bottom: $spacing-sm;
}

.c-footer__policy-group,
.c-footer__social-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  column-gap: 4ch;
  row-gap: 2ch;

  a {
    @extend %o-link__primary;
    i {
      font-size: 1.1em;
      display: inline-flex;
      margin-right: .25ch;
      vertical-align: -1px;
    }
  }

  a:last-child {
    margin-right: 0;
  }

}
