// ##### Search Field Component ##### //

$search-field-size: 28px;

.o-global-search {
  display: flex;
  max-width: 100%;
  height: $search-field-size;

  &:focus-within .o-global-search__input {
    outline: 2px solid $medium-blue;
  }
}

.o-global-search__label {
  @extend %hide;
}

.o-global-search__input {
  @extend %fcontrol-focus;
  flex: 1 0 auto;
  padding: 0 0 0 0.5em;
  font-size: 0.9em;
  border: solid $lighter-blue;
  border-width: 1px 3px 1px 1px; // for focus styles
  margin-right: -28px;
  max-width: calc(100% - 28px);
  padding-right: calc(28px + .5em);
  &::placeholder {
    opacity: 1;
    color: black;
  }
}

.o-global-search__submit-button {
  width: $search-field-size;
  height: $search-field-size;
  border: none;
  padding: 0;
  background: $lighter-blue;
  color: black;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-shrink: 0;
}
