// ##### Headings Object ##### //

%o-heading__level1 {
  margin-top: $spacing-md;
  margin-bottom: $spacing-sm;
  color: $dark-navy;
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: normal;
}

h1, *[class^="o-heading__level1"] {
  @extend %o-heading__level1;
}

.o-heading__level1-home {
  margin-top: 0;
  text-align: center;
}

%o-heading__level2 {
  margin-top: calc(#{$spacing-base} * 3.75);
  margin-bottom: $spacing-sm;
  color: $dark-navy;
  font-size: 1.65rem;
  line-height: 2rem;
  font-weight: normal;
}

h2, *[class^="o-heading__level2"] {
  @extend %o-heading__level2;
}

.o-heading__level2-why-share {
  text-align: center;
}

%o-heading__level3 {
  margin-top: calc(#{$spacing-base} * 3.5);
  margin-bottom: calc(#{$spacing-base} * 1.5);
  color: $dark-navy;
  font-size: 1.4rem;
  line-height: 1.75rem;
  font-weight: normal;
}

h3, *[class^="o-heading__level3"]  {
  @extend %o-heading__level3;
}

.o-heading__level3-file-title,
.o-heading__level3-related-works {
  margin: 0;
}

h1:first-child, *[class^="o-heading__level"]:first-child {
  margin-top: 0;
}

.o-heading__page-span {
  @extend %pull-background;
  margin-top: $spacing-sm;
  margin-bottom: $spacing-md;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: $dark-blue;
  color: white;
  font-size: 1.2em;
  font-weight: normal;
}

%o-heading__level4 {
  margin-top: calc(#{$spacing-base} * 3);
  margin-bottom: calc(#{$spacing-base} * 1.5);
  color: $dark-navy;
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 500;
}

h4, *[class^="o-heading__level4"]  {
  @extend %o-heading__level4;
}

h5, h6 {
  color: $dark-navy;
  margin-top: $spacing-sm;
  margin-bottom: $spacing-base;
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 500;
}

h6 {
  font-style: italic;
}


.expand-button button {
  text-align: left;
  width: 100%;
  color: $dark-blue;
  background-color: transparent;
  border: none;
  padding: 0;
  border-bottom: thin solid $green;

  &::after {
    font-family: 'Font Awesome 6 Free';
    content: " \f0da";
    content: " \f0da" / '';
    vertical-align: -1px;
    font-weight: 900;
  }

  &:focus {
    outline: 0;
  }

  &:focus-visible {
    border-color: $medium-blue;
    box-shadow: 0 4px 0px -0px $medium-blue;
  }

  &[aria-expanded=true]::after {
    content: " \f0d7";
    content: " \f0d7" / '';
  }

  &:hover, &:focus-visible {
    color: $link-body-hover-color;
    
    &::after {
      color: $green;
    }
  }
}
