// ##### Home Page Theme ##### //

.t-home__header {
  position: relative;
  z-index: 10;
  margin-bottom: 8px;
  border-bottom: none;

  @include bp(screen3) {
    margin-bottom: 0;
  }
}

.o-banner {
  @extend %pull-full-bleed;
  margin-bottom: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 27vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

  @include bp(screen4) {
    height: 345px;
  }

  @media (max-width: $screen-md-min) {
    height: 150px;
    margin-bottom: 1.2rem;
  }
}

.o-banner__stretch {
  width: 100%;
  padding: 20px 8px 26px;
  margin: auto auto -26px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5ch;

   // Blue, semi-transparent bar over banner image:
  background-color: rgba($dark-blue, .85);

  @include bp(screen1) {
    font-size: 1.7em;
  }
  @include bp(screen2) {
    font-size: 1.7em;
  }
  @include bp(screen3) {
    font-size: 1.7em;
  }
  @media (max-width: $screen-md-min) {
    height: 100%;
    margin-bottom: 0;
  }

  .o-global-search__input:focus,
  *:focus, *:focus-visible {
    outline: 2px solid white;
  }
}

.o-banner__tagline {
  color: white;
  font-style: italic;
  line-height: 1;
  margin: 0;
  font-size: 5vw;
  @include bp(screen1) {
    font-size: 3.5vw;
  }

  @include bp(screen2) {
    font-size: 3.1vw;
  }

  @include bp(screen3) {
    font-size: 1.5rem;
  }
}

.o-banner__credit {
  padding: 8px;
  font-size: .8rem;
  align-self: end;
  margin-top: auto;

  @media (min-width: $screen-md-min) {
    &.light {
      color: white;
    }
    a:link, a:visited {
      color: currentColor;
    }
    a:hover, a:focus {
      color: $medium-blue;
    }
    &.light {
      a:hover, a:focus {
        color: $light-green;
      }
    }
  }

  @media (max-width: $screen-md-min) {
    font-size: .66rem;
    line-height: 1;
    margin: -.5rem 0 -1.5rem;
  }
}

.o-banner__button {
  display: inline-block;
  z-index: 1;
  padding: 6px 12px;
  background-color: white;
  color: $dark-blue;
  text-decoration: none;

  @include bp(screen1) {
    padding: 6px 2vw;
    font-size: 2.8vw;
  }

  @include bp(screen2) {
    padding: 7px 16px;
    font-size: 1.3em;
  }
}

.t-home__quote-group {
  @extend %pull-full-bleed;
  margin-bottom: $spacing-sm;
  padding: 0;
  display: flex;
  gap: 10px;

  @media (max-width: $screen-md-min) {
    flex-direction: column;
  }
}

.t-home__quote {
  display: flex;
  flex: 1 0 0%; // 0% instead of 0 fixes ie bug
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: 120px;
  background: linear-gradient(rgba($lighter-gray, 0.85) 120px, transparent 0), url('/images/scss/bg_ramon-y-cajal.png') 0 0 / cover no-repeat;
  text-align: center;
}

.o-quote__quote {
  margin: 0 1.5rem;
  padding: 5px 16px;
  opacity: 0.9;
  background-color: $dark-gray;
  color: white;

  a:link, a:visited {
    color: white;
  }
  a:hover, a:active {
    color: $lighter-green;
  }
  @media (max-width: $screen-md-min) {
    font-size: .9em;
    padding: 16px;
  }
}

.o-home-submit-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.o-home-submit {
  flex: 1 0 0%; // 0% instead of 0 fixes ie bug
  padding: 10px;
  background-color: $lighter-blue;

  @media (max-width: $screen-sm-min - 1) {
    padding: 20px 10px;
  }  

  @include bp(screen1) {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    min-height: 120px;
    padding: 0;
  }
}

.o-home-submit__submit-button {
  font-size: 18px;
  padding: 17px 35px 15px;
  border: thin solid white;
  background-color: white;
  color: $dark-blue;
  font-weight: 2em;

  &:focus,
  &:hover {
    outline: 2px solid $medium-blue;
  }
}

.o-home__group {
  @extend %pull-full-bleed;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  margin-bottom: $spacing-lg;

  h2 {
    grid-row: 1;
    margin: 1rem 0 !important;
  }

  #latest_tiles, #blog-latest-posts {
    grid-row: 2;
    display: flex;
    margin: 0 1rem;
    flex-direction: column;
    border-top: thin solid $lighter-green;
    border-bottom: thin solid $lighter-green;

    div {
      flex: 1 1 20%;
      padding: $spacing-sm $spacing-sm;
      border: none;

      &:not(:last-child) {
        border-bottom: thin solid $lighter-green;
      }
    }
    p {
      margin: .4rem 0 0;
      font-size: .9em;
      @include bp(screen2) {
        font-size: .88em;
      }
    }
  }

  #blog-latest-posts .blog-post-heading,
  #latest_tiles .c-latest__title  {
    @extend %o-heading__level4;
    font-size: 1.13rem;
    margin: 0 0 .4rem;
  }

  .c-latest__title a {
    &:link, &:visited {
      text-decoration: none;
    }
    &:hover, &:active {
      text-decoration: underline;
    }
  }

  @media (max-width: $screen-md-min) {
    display: block;
    h2 {
      margin-top: $spacing-lg !important;
    }
  }
}
