// ##### Keywords Component ##### //
.c-keywords {
	margin: 0 0 20px;
}

.c-keywords__label {
	font-weight: bold;
}

%c-keywords__container {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	gap: .75ch;
	padding: 6px;
	background-color: $lightest-blue;
	cursor: text;
	.searchselect {
		max-width: 250px;
	}
}

.c-keywords__container,
.c-keywords__container--has-blur,
.c-keywords__container--has-focus {
	@extend %c-keywords__container;
}

.c-keywords__keyword {
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	gap: .75ch;
	padding: 5px 6px 3px;
	min-height: 0;
	background-color: $dark-green;
	color: white;
}

.c-keywords__keyword-remove {
	border: none;
	background-color: white;
	border: thin solid $light-green;
	color: $green;
	font-size: .98rem;
	line-height: 0;
	&:hover, &:active, &:focus {
		background-color: $dark-blue;
		color: white;
	}
}