// ##### Latest blog posts Component ##### //

#blog-latest-posts .blog-post-heading {
	@extend %o-heading__level3;

	a:link, a:visited {
		text-decoration: none;
	}
	a:hover, a:active {
		text-decoration: underline;
	}
}

#blog-latest-posts div {
	border-bottom: thin solid $dark-blue;
}
