// ##### Links Object ##### //

%o-link__primary {
  color: $link-body-color;
  text-decoration: underline;

  &:visited {
    color: $link-body-visited-color;
  }

  &:hover,
  &:focus {
    color: $link-body-hover-color;
  }

  &:active {
    color: $link-body-active-color;
  }
}

a {
  @extend %o-link__primary;
}

.o-link__primary {
  @extend %o-link__primary;
  cursor: pointer;
}

%o-link__secondary {
  color: $link-body-color;
  text-decoration: none;

  &:visited {
    color: $link-body-visited-color;
  }

  &:hover,
  &:focus {
    color: $link-body-hover-color;
    text-decoration: underline;
  }

  &:active {
    color: $link-body-active-color;
  }

}

.o-link__buttonlink,
.o-link__buttonlink:link,
.o-link__buttonlink:visited,
.o-link__buttonlink:hover
.o-link__buttonlink:active {
  display: inline-block;
  border: none;
  text-decoration: none;
  padding: 6px 10px;
  background-color: $dark-blue;
  border: thin solid $dark-blue;
  color: white;
  text-align: center;
}

.o-link__buttonlink:focus {
  border: thin solid white;
}

.o-link__buttonlink:hover, .o-link__buttonlink:active {
  &:hover {opacity: 0.85;}
}

.o-link__secondary {
  @extend %o-link__primary;
}

// Links in body copy:

.markdown_styles a {
  @extend %o-link__primary;
}

.t-landing__main a {
  @extend %o-link__primary;
}

// Links in sidebar:

.c-sidebox a {
  @extend %o-link__secondary;
}

// Submitted table:

.c-table-submitted .o-link__primary {
  color: $medium-blue;
  text-decoration: none;

  &:visited {
    color: $link-body-visited-color;
  }

  &:hover,
  &:focus {
    color: $link-body-hover-color;
    text-decoration: underline;
  }

  &:active {
    color: $link-body-active-color;
  }
}

// Skipnav component:

.c-skipnav {
  @extend %hide;
  z-index: 15;
  padding: $spacing-sm;
  transition: opacity 0.5s;
  opacity: 0;

  &:focus {
    top: $spacing-sm;
    left: $spacing-sm;
    opacity: 1;
    background-color: $dark-blue;
    color: white;
    outline-offset: 0;
  }
}

.pdfIcon {
  display: inline-block;
  vertical-align: middle;
  background-color: currentColor;
  mask-image: url('/images/scss/fa-pdf.svg');
  mask-repeat: no-repeat;
  width: 1em;
  height: 1em;
  margin-left: .35ch;
}

.exit-icon {
  margin-left: .25ch;
  margin-right: .1ch;
  display: inline-block;
  vertical-align: -1px;
  font-size: .85em;
}

.copy-icon {
  display: inline-block;
  cursor: pointer;
  padding: 0 5px;

  i {
    color: $dark-navy;
  }

  &:hover i {
    color: $link-body-hover-color;
  }

  &:active {
    color: $link-body-active-color;
  }

  i.fa-check {
    color: $dark-green;
  }
}
