// ##### List Object ##### //

ul, ol {
	margin: .5rem auto;
}

li {
	margin-top: $spacing-base;
	margin-bottom: $spacing-base;
}

ul.c-text_styles {
  li {
    margin: 1.2ex 0;
    padding: 0;
  }
}

.o-list {
	margin: 0 0 10px;
	padding: 0;

	li {
    line-height: 1.5;
    list-style: "";
	}
}

.zebra-list {
	li {
		margin: 0;
		padding: 4px;
		&:nth-child(odd) {
		  background-color: #f6f6f6;
		}
	}
}

.saved_searches_list {
	counter-reset: li;
	padding-left: 0;
	display: grid;
	grid-template-columns: 18px 20px 1fr 3fr 40px 40px 40px 40px;

	li:before {
		counter-increment: li;
		content: counter(li);
		padding: 5px 0 5px 5px;
	}

	li {
		display: grid;
		grid-template-columns: subgrid;
		grid-column-start: 1;
		grid-column-end: 9;
		margin: 0;
		padding: 6px 0;

		&:nth-child(odd) {
		  background-color: #f6f6f6;
		}

		& > * {
			padding: 5px;
		}

		& > *:first-child:not(.saved_search_form) {
			grid-column: 2; padding: 5px 0; text-align: center;
		}
		& > *:nth-child(2) { grid-column: 3}
		& > *:nth-child(3) { grid-column: 4}
		& > *:nth-child(4) { grid-column: 5}
		& > *:nth-last-child(3) { grid-column: 6}
		& > *:nth-last-child(2) { grid-column: 7}
		& > *:last-child:not(.saved_search_form) { grid-column: 8 }
	}

	.saved_search_form {
		grid-column: 2/ span 8;
		display: grid;
		grid-template-columns: 18px 60px 2fr 3fr 40px 40px;

		& > * {
			padding: 5px 10px;
		}

		& > div:first-of-type { grid-column: 2; padding: 5px; text-align: center;}
		& > div:nth-of-type(2) { grid-column: 3}
		& > div:nth-of-type(3) { grid-column: 4/6}
		& > button:first-of-type { grid-column: 6}
		& > button:last-child { grid-column: 7}
	}

	@media screen and (max-width: 650px) {
		grid-template-columns: 18px 20px 40px 40px 40px 1fr;
		li {
			grid-column-end: 7;
			& > *:last-child:not(.saved_search_form) { grid-column: auto }
			& > *:nth-child(2) { grid-column: 3/7}
			& > *:nth-child(3) { grid-column: 3/7}
			& > *:nth-child(4) { grid-column: 3}
			& > *:nth-child(5) { grid-column: 4}
			& > *:nth-child(6) { grid-column: 5}
			& > *:nth-child(7) { grid-column: 6}
		}
		.saved_search_form {
			grid-column: 2/ span 6;
			grid-template-columns: 18px 30px 30px 2fr;
			& > div:first-of-type { 
				grid-column: 2/ span 3;
				text-align: left;
				flex-flow: row nowrap;
				align-items: baseline;
				justify-content: flex-end;
				gap: .35ch;
				flex-direction: row-reverse;
			}
			& > div:nth-of-type(2) { grid-column: 2/ span 3 }
			& > div:nth-of-type(3) { grid-column: 2/ span 3 }
			& > button:first-of-type { grid-column: 2 }
			& > button:last-child { grid-column: 3 }


		}
	}
}