// ##### List Object ##### //

ul, ol {
	margin: .5rem auto;
}

li {
	margin-top: $spacing-base;
	margin-bottom: $spacing-base;
}

ul.c-text_styles {
  li {
    margin: 1.2ex 0;
    padding: 0;
  }
}

.o-list {
	margin: 0 0 10px;
	padding: 0;

	li {
    line-height: 1.5;
    list-style: "";
	}
}

.zebra-list {
	li {
		margin: 0;
		padding: 4px;
		&:nth-child(odd) {
		  background-color: #f6f6f6;
		}
	}
}

.saved_searches_list {
	counter-reset: li;
	padding-left: 0;
	display: grid;
	grid-template-columns: 18px 20px 1fr 3fr 40px 40px 40px;

	&.with_form {
		grid-template-columns: 18px 60px 2fr 3fr 40px 40px;
	}

	li:before {
		counter-increment: li;
		content: counter(li);
		padding: 5px 0 5px 5px;
	}

	li {
		display: grid;
		grid-template-columns: subgrid;
		grid-column-start: 1;
		grid-column-end: 8;
		margin: 0;
		padding: 6px 0;

		&:nth-child(odd) {
		  background-color: #f6f6f6;
		}

		& > * {
			padding: 5px;
		}

		& > *:first-child:not(.saved_search_form) {
			grid-column: 2; padding: 5px 0; text-align: center;
		}
		& > *:nth-child(2) { grid-column: 3}
		& > *:nth-child(3) { grid-column: 4}
		& > *:nth-child(4) { grid-column: 5}
		& > *:nth-child(5) { grid-column: 6}
		& > *:nth-child(6) { grid-column: 7}
	}

	.saved_search_form {
		margin-top: -2.5rem;
		display: grid;
		grid-template-columns: subgrid;
		grid-column-start: 1;
		grid-column-end: 8;

		& > * {
			padding: 5px 10px;
		}

		& > div:first-of-type { grid-column: 2; padding: 5px; text-align: center;}
		& > div:nth-of-type(2) { grid-column: 3}
		& > div:nth-of-type(3) { grid-column: 4/6}
		& > button:first-of-type { grid-column: 6}
		& > button:last-child { grid-column: 7}
	}

	@media screen and (max-width: 650px) {
		grid-template-columns: 40px 40px 2fr;
		&.with_form {
			grid-template-columns: 40px 60px 2fr;
		}
		li {
			grid-column-end: 4;
			& > *:nth-child(2) { grid-column: 4}
			& > *:nth-child(3) { grid-column: 4}
			& > *:nth-child(4) { grid-column: 1}
			& > *:nth-child(5) { grid-column: 2}
			& > *:nth-child(6) { grid-column: 3}
		}
		.saved_search_form {
			grid-column-end: 4;
			& > div:nth-of-type(2) { grid-column: 4}
			& > div:nth-of-type(3) { grid-column: 4}
			& > button:first-of-type { grid-column: 1}
			& > button:last-child { grid-column: 2}

			input {
				width: 100%;
				max-width: 100%;
			}
		}
	}
	@media screen and (max-width: 300px) {
		grid-template-columns: 1fr 1fr;
		&.with_form {
			grid-template-columns: 1fr 1fr;
		}
		li {
			grid-column-end: 3;
			& > *:nth-child(2) { grid-column: 1/ span 2}
			& > *:nth-child(3) { grid-column: 1/ span 2}
			& > *:nth-child(4) { grid-column: 1; text-align: center;}
			& > *:nth-child(5) { grid-column: 2; text-align: center;}
			& > *:nth-child(6) { grid-column: 1; text-align: center;}
		}
		.saved_search_form {
			grid-column-end: 3;
			& > div:nth-of-type(2) { grid-column: 1/ span 2}
			& > div:nth-of-type(3) { grid-column: 1/ span 2}
			& > button:first-of-type { grid-column: 1}
			& > button:last-child { grid-column: 2}
		}
	}
}