// ##### Locations Component ##### //

.c-locations {
	margin: 0 0 20px;
}

.c-locations__label {
	margin: 0 0 20px;
	font-weight: bold;
}

%c-locations__group {
	display: flex;
	justify-content: space-between;
	padding: 0.6em 0 0.2em;
	border-bottom: thin solid $light-gray;
}

.c-locations__point {
	@extend %c-locations__group;
	padding-left: 26px;
	background: url('/images/scss/icon_point-blue.svg') left 2px center no-repeat;
}

.c-locations__place {
	@extend %c-locations__group;
	padding-left: 26px;
	background: url('/images/scss/icon_globe.svg') left 1px center no-repeat;
}

.c-locations__area {
	@extend %c-locations__group;
	padding-left: 26px;
	background: url('/images/scss/icon_box-blue.svg') left 1px center no-repeat;
}

.c-locations__coordinate {
	color: $dark-blue;
}

.c-locations__data {
	margin: 0 1em 0 0;
}
