// ##### Metadata Object ##### //

.o-metadata {
	margin: 0 0 $spacing-sm;
}

.o-metadata__group1 {
	margin: 0 0 10px;
	font-size: 1.1em;
	font-weight: bold;
}

.o-metadata__affiliation {
	font-weight: normal;
}

.o-metadata__orcid {
	text-transform: uppercase;
}

.o-metadata__group2 {
	font-size: .95em;
}

.o-metadata__group2-item {
  margin-bottom: 0.5em;
}

.o-metadata__file-usage-entry {
  margin-bottom: 1em;
}

.o-metadata__autopopulate-message {
	display: block;
	margin: 0 0 0.5rem;
	color: $orange;
}

.o-metadata__author-list {
	margin-bottom: 0;
}

.o-metadata__author {
	font-size: 1.125rem;
}

.o-metadata__link {
	display: inline-block;
	min-width: 20px;
	text-align: center;
	font-size: .8em;
	vertical-align: super;

	&:hover i, &:hover i.fa-orcid {
		color: $link-body-hover-color;
	}
}

.o-metadata__aff-list {
	button {
		text-decoration: none;

		i {
			margin-left: .5ch;
		}

		&:hover, &:focus {
			text-decoration: none;
			i {
				color: $green;
			}
		}
	}
	p {
		margin: .5rem auto;
	}
	ol {
		font-size: .95em;
		margin-top: .5rem;
		li::marker {
			font-size: .84em;
		}
	}
}

.unmatched-icon {
	font-size: .8em;
	color: $light-orange;
	margin-left: .5ch;
	vertical-align: text-top;
}