// ##### Orcid Component ##### //

.c-orcid {
	display: flex;
	align-items: center;
	margin: 0;
}

.fa-orcid {
	color: #a6ce39;
}

a:hover .fa-orcid {
	color: lighten(#a6ce39, 10%);
}

.c-orcid__id {
	@extend %o-link__primary;
	color: $dark-blue;
}

.c-orcid__div {
	margin-bottom: 0.75em;
}
