/* Proposed Change Object */
.c-proposed-change-table {
  thead tr {
    background-color: #f6f6f6;
    border-bottom-width: thick;
  }
  tbody tr:nth-child(2n+1) {
    background-color: inherit;
  }
  tbody tr:nth-child(4n-1) {
    background-color: #f6f6f6;
    border-top-width: thick;
  } 
  tbody tr:nth-child(4n+4) {
    background-color: #f6f6f6;
    border-bottom-width: thick;
  }
  form {
    display: inline;
    select {
      margin-right: 3px;
    }
    button {
      padding: 5px 10px;
      margin: 4px 0;
    }
  }
}

.record-updater {
  thead tr, tbody tr:last-child{
    border-bottom-width: thick;
  }

  .record-updater-action {
    margin: 1ch 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2ch;

    p {
      margin-bottom: 0;
    }

    div:last-child div {
      display: flex;
      align-items: baseline;
      gap: 2ch;
    }
  }

  .record-updater-mergeable {
    background-color: $lighter-blue;
    background-clip: padding-box;
    i {
      width: 2.1ch;
      margin-left: -2.1ch;
    }
  }
}

.c-proposed-change-table__column-mergeable {
  position: relative;
  background-color: $lighter-blue;
  background-clip: border-box;

  .c-proposed-change-table__column-mergeable-icon {
    position: absolute;
    top: -1ch;
    left: 40%;
  }
}

.c-proposed-change-table__column-centered {
  text-align: center;

  button {
    margin-top: 5px;
  }
}

.c-proposed-change-table__column-small {
  width: 10%;
}

.c-proposed-change-table__column-medium {
  width: 20%;
}

.c-proposed-change-table__column-large {
  width: 30%;
}
