// ##### Quote Object ##### //

.o-quote {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: 150px;
  background: linear-gradient(rgba($lighter-gray, 0.85) 150px, transparent 0), url('/images/scss/bg_ramon-y-cajal.png') 0 0 / cover no-repeat;
  text-align: center;
}

html.no-multiplebgs .o-quote {
	background: $light-gray;
}

.o-quote__quote {
	width: 450px;
  padding: 5px;
  opacity: 0.9;
	background-color: $dark-gray;
  color: white;
	font-size: 18px;
	line-height: 1.3em;
}

.o-quote__quote:link, .o-quote__quote:visited,
.o-quote__quote a:link, .o-quote__quote a:visited {
  color: white;
}

.o-quote__author {
	width: 380px;
	color: white;
	text-align: right;
}
