// ##### Section Object ##### //

.o-section {
	@extend %pull-borders;
	margin-bottom: $spacing-md;
	padding-top: $spacing-md;
	clear: right; // for .t-review__edit-button-top float: right
	border-top: thin solid $design-dark-gray-color;
	border-bottom: thin solid $design-dark-gray-color;
}
