// ##### Select Content Object ##### //

select {
	max-width: 100%;
}

select:has(option[value='']:checked) {
  color: $medium-gray;
}

.o-select {
	margin: 0 0 20px;
}

.multiselect {
	position: relative;
	flex-grow: 2;
	min-width: 0;

	&:focus {
		outline: 0;
	}

	& > input {
		width: 100%;
		overflow-x: hidden;
		text-overflow: ellipsis;
		text-align: left;
	}

	&:focus-within > input {
		outline: 2px solid $medium-blue !important;
	}

	fieldset {
		display: block;
		min-width: 0;
		margin: 0;
		padding: 0;
		border: none;
		position: absolute;		
		top: 32px;
		right: -2px;
		left: -2px;
		z-index: 10;
		width: calc(100% + 4px);
		max-height: 50vh;
		overflow-y: auto;
		overflow-x: hidden;
		background-color: $lighter-gray;

		label {
			display: block;
			width: 100%;
			padding: 6px 10px;
			cursor: default;
			white-space: nowrap;
			overflow-x: hidden;
			text-overflow: ellipsis;

			&:hover, &:focus-within {
				color: white;
				background-color: $dark-blue;
			}

			input:focus {
				outline: none;
			}
		}
	}
}

.searchselect {
	position: relative;
	flex-grow: 2;

	& > input {
		width: 100%;
		background: url('/images/scss/icon_search-select.svg') right 5px center / 24px no-repeat, linear-gradient($light-blue, $light-blue) right / $input-height $input-height no-repeat;
		background-color: white;
	}

	&:focus-within input {
		outline: 2px solid $medium-blue !important;
	}

	ul {
		margin: 0;
		padding: 2px 0;
		list-style: "";
		position: absolute;		
		top: 32px;
		right: -2px;
		left: -2px;
		z-index: 10;
		width: calc(100% + 4px);
		max-height: 50vh;
		overflow-y: auto;
		background-color: $lighter-gray;

		li {
			padding: 6px 10px;
			margin: 0;
			cursor: default;
			&[role='option'] {
				padding-left: 3ch;
				&:before {
					content: '';
					display: inline-block;
					width: 1.8ch;
					margin-left: -1.8ch;
					font-family: 'Font Awesome 6 Free';
					font-weight: 900;
				}
				&.selected-option:before {
					content: '\f00c';
				}
				&:hover,
				&:focus,
				&.focussed {
					color: white;
					background-color: $dark-blue;
				}		 
			} 
		}
	}
}

.c-ac__error_message {
  padding: 5px;
  background-color: $red;
  color: white;
}

.c-ac__checkbox {
  display: block;
  margin-top: 12px;
}

