// ##### Sidebox Component ##### //

$sidebox-padding: 10px;

.c-sidebox {
  padding: $sidebox-padding;
  border: thin solid $design-dark-blue-color;
}

.c-sidebox__heading {
  margin: (-$sidebox-padding) (-$sidebox-padding) $sidebox-padding;
  padding: $sidebox-padding;
  background-color: $design-dark-blue-color;
  color: $design-white-color;
  font-size: 1.2em;
  font-weight: normal;
}
