.slider-values {
  display: flex;
  justify-content: space-between;
  font-size: .98rem;
}

@mixin thumb-style {
  background-color: $dark-gray;
  cursor: pointer;
  pointer-events: auto;
  border-radius: 50%;
  border: 3px solid white;
}

.slider {
  position: relative;
  width: 100%;
  height: 2.5ch;

  .slider-track {
    width: 100%;
    height: 7px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    border: 1px solid $medium-gray;
    border-radius: 5px;
  }

  input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: calc(100% - .5rem);
    outline: none;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    background-color: transparent;
    pointer-events: none;

    &::-webkit-slider-runnable-track,
    &::-moz-range-track,
    &::-ms-track {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      height: 7px;
    }
    &::-webkit-slider-thumb {      
      -webkit-appearance: none;
      height: 1.5rem;
      width: 1.5rem; 
      @include thumb-style;
    }
    &::-moz-range-thumb {
      -moz-appearance: none;
      height: 1.1rem;
      width: 1.1rem;
      margin-top: -9px;
      @include thumb-style;
    }
    &::-ms-thumb {
      appearance: none;
      height: 1.1rem;
      width: 1.1rem;
      @include thumb-style;
    }
    &:hover::-webkit-slider-thumb,
    &:active::-webkit-slider-thumb,
    &:focus::-webkit-slider-thumb {
      background-color: $dark-green;
    }
    &:hover::-moz-range-thumb,
    &:active::-moz-range-thumb,
    &:focus::-moz-range-thumb {
      background-color: $dark-green;
    }
    &:hover::-ms-thumb,
    &:active::-ms-thumb,
    &:focus::-ms-thumb {
      background-color: $dark-green;
    }

    &[id$='-most'] {
      padding-left: .5rem;
    }
  }
}

