#share_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;

  a, button {
    background: transparent;
    border: none;
    padding: 0;
    opacity: .9;

    &:hover {
      opacity: 1;
    }
  }

  a {
    font-size: 1.65rem;
  }

  button, button:hover {
    color: $dark-gray;
    font-size: 1.45rem;
  }
  a[data-share='email'] {
    &, &:hover, &:visited {
      color: $link-body-color;
    }
  }
  a[data-share='reddit'] {
    &, &:hover, &:visited {
      color: #FF4500;
    }
  }
  a[data-share='mastodon'] {
    &, &:hover, &:visited {
      color: #563ACC;
    }
  }
  a[data-share='bluesky'] {
    &, &:hover, &:visited {
      color: rgb(10, 122, 255);
    }
  }
  a[data-share='facebook'] {
    &, &:hover, &:visited {
      color: #3B5998;
    }
  }
  a[data-share='linkedin'] {
    &, &:hover, &:visited {
      color: #0077b5;
    }
  }
}

#copy-success {
  margin: 0;
  font-size: .85em;
  padding: 6px;
  color: white;
  background-color: $dark-green;
}
