.steps-wrapper {
  margin: 1.5rem auto 2rem;
  padding: 0;
  list-style: '';
  display: flex;
  justify-content: space-between;

  .step {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    button {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      border: none;
      background: transparent;
      &:hover .step-name {
        text-decoration: underline;
      }
    }

    .bar {
      position: absolute;
      border-bottom: 4px solid $lighter-gray;
      width: 100%;
      top: .9rem;
      left: 50%;
    }

    &:last-child .bar {
      display: none;
    }

    .step-counter {
      font-size: .85rem;
      line-height: 0;
      position: relative;
      z-index: 1;
      width: 1.8rem;
      height: 1.8rem;
      border-radius: 50%;
      background-color: $lighter-gray;
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-bottom: .5rem;
    }

    .error-step .step-counter {
      background-color: $lightest-red;
    }

    .error-step .step-name {
      color: $red;
    }

    &.completed {
      .bar {
        border-color: $medium-blue;
      }
      .step-counter {
        background-color: $medium-blue;
        color: white;
      }
      .error-step .step-counter {
        background-color: $red;
        color: white;
      }
      .error-step .step-name {
        color: $red;
      }
    }
    &.current {
      .step-counter {
        background-color: $lighter-blue;
      }
      .step-name {
        font-weight: bold;
      }
    }

    @media screen and (max-width: 400px) {
      font-size: .98rem;
      margin: 0 -1rem;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
      &:before {
        content: '';
        display: block;
        height: 48px;
      }
      &:nth-child(odd){
        flex-direction: column-reverse;
      }
      .bar {
        top: 45%;
        width: calc(100% - 2rem);
      }
    }
  }
}