.steps-wrapper {
  margin: 1.5rem auto 2rem;
  display: flex;
  justify-content: space-between;

  .step {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    cursor: pointer;
    &:hover .step-name {
      text-decoration: underline;
    }

    &::after {
      position: absolute;
      content: "";
      border-bottom: 4px solid $lighter-gray;
      width: 100%;
      top: .9rem;
      left: 50%;
    }

    &:last-child::after {
      content: none;
    }

    .step-counter {
      font-size: .85rem;
      line-height: 0;
      position: relative;
      z-index: 1;
      width: 1.8rem;
      height: 1.8rem;
      border-radius: 50%;
      background-color: $lighter-gray;
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-bottom: .5rem;
    }

    &.completed {
      &::after {
        border-color: $medium-blue;
      }
      .step-counter {
        background-color: $medium-blue;
        color: white;
      }
    }
    &.current {
      .step-counter {
        background-color: $lighter-blue;
      }
      .step-name {
        font-weight: bold;
      }
    }
  }
}