#submission-help {
  //position: sticky;
  //bottom: 0;
  //box-shadow: $lightest-green 0px -4px 4px -6px;
  border-top: thick solid $lightest-green;
  background-color: white;
  padding: 2rem;
  padding-left: 30px;
  width: 100%;
  display: flex;
  gap: 2ch;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row-reverse;
  position: relative;

  & > i {
    color: $light-gray;
    font-size: 2rem;
    margin-left: -1ch;
    margin-right: -.5ch;
    margin-top: -.25ch;
  }

  #submission-help-text {
    flex: 1;
    font-size: 1rem;
    *:first-child {
      margin-top: 0;
    }
    *:last-child {
      margin-top: 0;
    }
  }

  @media (max-width: 811px){
    flex-direction: column-reverse;
    & > i {
      font-size: 1.5rem;
      margin-left: 0;
      margin-right: 0;
      margin-top: -1ch;
    }
  }

  button {
    white-space: nowrap;
  }
}

#infographic {
  margin: 0;
  padding: 0;
  ::marker {
    font-size: 1px;
    color: white;
  }
  li {
    background-color: $lightest-blue;
    padding: 1ch 2ch;
    text-align: center;
    border-radius: 10px;
    margin-top: 2em;
    position: relative;
    p {
      margin: 0 auto .5ch;
      max-width: 75ch;
    }
    h3:before {
      display: block;
      position: absolute;
      top: -2em;
      left: 49.65%;
      background-color: $green;
      width: 6px;
      height: 2em;
      content: '';
      z-index: -1;
    }
    &:first-child h3:before {
      display: none;
    }
    h3 {
      font-size: 1.25rem;
      margin-top: 0;
      color: black;
      i {        
        margin: -1.75rem auto .5ch;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $green;
        padding: 5px;
        font-size: 1.5rem;
        color: $lightest-blue;
        width: 2.75rem;
        height: 2.75rem;
        border-radius: 50%;
      }
    }
  }
}