table.c-table_institutions {
  border: none;
}

table.c-table_institutions td {
  padding-right: 2em;
  vertical-align: top;
}

table.c-table_institutions ul li {
  list-style-type: none;
  line-height: 1.7ex;
}