// ##### Table Heading Component ##### //

.c-table-heading {
	@extend %pull-background;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: $dark-blue;
}

.c-table-heading__text {
	color: white;
	font-size: 1.2em;
	padding: 8px 0;
	margin: 0;
}
