// ##### Testing ##### //

// Exclusion rule for scss-lint:
// scss-lint:disable all

// Highlight an element with a border:

$bred: thin solid #f00;
$bblue: thin solid #00f;
$bgreen: thin solid #0c0;

// Highlight Bootstrap columns:

// [class^="col-"] {
// 	border: $bblue;
// }
