// ##### Upload File Component ##### //

%c-upload__item {
	@extend %pull-borders;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: thin solid $light-gray;
	border-bottom: thin solid $light-gray;

	&:not(:first-child) {
		border-top: none;
	}

}

.c-upload__item {
	@extend %c-upload__item;
}

.c-upload__item--complete {
	@extend %c-upload__item;

	.c-upload__filename {
		padding: 0 0 0 25px;
		background: url('/images/scss/icon_check-green.svg') left center / 15px no-repeat;
	}

}

.c-upload__filename {
  margin: 0 10px 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.c-upload__filesize {
	margin: 0 0 0 0.25em;
}

.c-upload__action {
	flex: 0 0 auto;

  /* getting progress color to set is a PITA:
     http://thenewcode.com/866/Using-The-HTML5-progress-Element
     http://html5doctor.com/the-progress-element/
  */

  progress {
    border: none;
    background-color: #ddd;
    color: $dark-blue;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  }

  /* stylelint-disable selector-pseudo-element-no-unknown */

  /* bar color, firefox */
  progress::-moz-progress-bar { background: $dark-blue; }

  /* foreground bar -- chrome and safari */
  progress::-webkit-progress-value {background: $dark-blue;  }

  /* background of unfilled bar -- chrome and safari */
  progress::-webkit-progress-bar { background: $lightest-gray; }

  progress::-webkit-progress-bar,
  progress::-moz-progress-bar,
  progress::progress-bar {
    background-color: $dark-blue;
  }

  /* stylelint-enable selector-pseudo-element-no-unknown */

  progress[value] {
      width: 20vw;
      height: 10px;
      border: none;
      /* appearance: none; */
  }

}

.c-upload__button {
	padding: 0 10px;
	border: none;
	background-color: transparent;
	color: $dark-blue;
	font-weight: bold;
	text-decoration: none;
}

.c-upload__no-files-text {
	margin: 0 0 10px;
	color: $dark-gray;
	font-weight: bold;
}

%c-upload__total-size {
	margin: 10px 0;
}

.c-upload__total-size {
	@extend %c-upload__total-size;
}

.c-upload__total-size--warning {
	@extend %c-upload__total-size;
	padding: 0 0 0 25px;
	background: url('/images/scss/icon_warning.svg') left center / 18px no-repeat;
}

.c-upload__upload-complete-text {
	margin: 10px 0 0;
	color: $dark-green;
	font-weight: bold;
}

.c-upload__upload-error-text {
	margin: 10px 0 0;
	color: $red;
	font-weight: bold;
}

img.c-upload__spinner {
	display: block;
	width: 50%;
	height: 50%;
	margin: auto;
	object-fit: contain;
}

#file-note-area {
	width: 100%;
	max-width: 100%;
	min-height: auto;
	margin-top: $spacing-base;
}