// ##### Global Variables ##### //

// ***** General ***** //

$global-search-width: 190px;
$input-height: 34px;

// ***** Colors ***** //

$slate: #2f4f4f;
$dark-navy: #07364b;
$dark-blue: #00527A;
$medium-blue: #0071a8;
$light-blue: rgb(55, 150, 196);
$lighter-blue: lighten($light-blue, 25%);
$lightest-blue: lighten($light-blue, 44%);
$dark-gray: rgb(78, 80, 80);
$medium-gray: #767676;
$light-gray: rgb(157, 159, 162);
$lighter-gray: rgb(211, 211, 211);
$lightest-gray: rgb(235, 235, 235);
$dark-orange: #cf4817;
$orange: #eb8148;
$light-orange: rgb(237, 129, 90);
$lightest-orange: #fff2ce;
$red: rgb(209, 44, 29);
$lightest-red: rgb(249, 213, 210);
$dark-green: #3c763d;
$green: rgb(82, 131, 70);
$medium-green: #6e9c2c;
$light-green: #74b736;
$lighter-green: rgb(172, 204, 84);
$lightest-green: lighten($dark-green, 59%);

// ***** Link Colors ***** //

$link-body-color: $dark-blue;
$link-body-hover-color: $medium-blue;
$link-body-active-color: $red;
$link-body-visited-color: #65007a;

$link-globalnav-color: black;
$link-globalnav-hover-color: $medium-blue;

// ***** Breakpoints ***** //

$screen-sm-min: 480px;
$screen-md-min: 760px;
$screen-lg-min: 900px;
$screen-max: 1280px;

// ***** Spacing ***** //

$spacing-base: .5rem;
$spacing-sm: 1rem;
$spacing-md: 2rem;
$spacing-lg: 3rem;
$spacing-body: $spacing-sm;
