<div class="o-admin-dialog">
  <p>There was a problem assembling your download request.</p>

  <p>The server may be overloaded or having problems.</p>

  <p>You may wish to try again later or download individual files from the list on the page.</p>

  <p>The Dryad team has been notified of this problem.</p>

  <p>
    <%= button_tag 'Close', type: 'button', id: 'cancel_dialog' %>
  </p>
</div>