<!-- in body, directly after the header element -->
<div class="js-alert c-alert--success" role="alert">
  <div class="c-alert__text">
    <%= @message %>
  </div>
  <button aria-label="close" class="js-alert__close o-button__close c-alert__close flash_button"></button>
</div>