<% @page_title = "Pre-publication sharing link" %>

<div class="c-datasets-heading">
  <h1 class="c-datasets-heading__heading o-heading__level1"><%= @resource.title %></h1>
</div>

<p>
  We are assembling your
  <%= link_to 'requested download', download_resource_path(resource_id: 0, share: params[:id]), class: 'js-download', remote: true %>
  for this dataset that is currently private for peer review.
</p>

<p>If the download process does not begin automatically within several seconds, click the link above to start the download.</p>

<% sfw = @resource.software_files.present_files
%>
<% if sfw.count.positive? %>
  <hr/>
  <%= image_tag('stash_engine/logo_zenodo.png', alt: 'Zenodo logo', class: 'c-review-zenodo') %>
  <p>These additional files may be downloaded from Zenodo</p>

  <% sfw.order("lower(upload_file_name) ASC").each do |s| %>
    <%= link_to s.upload_file_name, download_zenodo_path(file_id: s.id, share: params[:id]), target: '_blank' %><br/><br/>
  <% end %>
<% end %>

<!-- placeholder empty div that can have contents inserted for popup and then shown -->
<div id="popup_dialog" style="display:none;"></div>

<script>
    // This will trigger the AJAX action from the link wtih remote: true
    $(document).ready(function(){
        $(".js-download").trigger('click');
    });
</script>