<h1>Enjoy your download</h1>

<p>An author has chosen to share a <%= link_to 'pre-publication link', download_resource_path(resource_id: params[:id]), class: 'js-download', remote: true %> with you.</p>

<p>If your download does not begin, feel free to click the link above.</p>

<p>Enjoy.</p>

<!-- placeholder empty div that can have contents inserted for popup and then shown -->
<div id="popup_dialog" style="display:none;">