<h2>Information about the current queue for Zenodo</h2>

<p>
  <%= @zenodo_copies.count %> items in list
</p>

<p>
  <%= button_to('Reset stalled to error state', zenodo_queue_set_errored_path) %>
</p>
<div id="status_table">
  <%= render partial: 'status_table' %>
</div>
