<table>
  <thead>
    <tr>
      <th>Locations</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @geolocation_places.each do |geolocation_place| %>
      <tr>
        <td><%= geolocation_place.geo_location_place %></td>
        <td><%#= button_to 'remove', geolocation_place_path(geolocation_place), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn" %></td>
      </tr>
    <% end %>
  </tbody>
</table>