<% unless geolocation_places.nil? %>
  <% geolocation_places.each do |geolocation_place| %>
    <ul style="list-style-type:none">
      <li><%= image_tag("stash_datacite/globe.png", size: "20x20", alt: "Place") %><%= geolocation_place.geo_location_place %></li>&nbsp;
    </ul>
  <% end %>
<% end %>