.bundle/
log/*.log
pkg/
spec/dummy/tmp/
spec/dummy/log/*.log
test/dummy/log/*
test/dummy/db/*
test/dummy/tmp/*
test/dummy/.generators

# Ignore Mac DS_Store files
.DS_Store

.ruby-version
coverage

# Ignore IntelliJ IDE project configuration.
*.iml
*.ipr
*.iws
.rakeTasks
.idea

# Ignore Emacs backups.
*~
