language: ruby

rvm:
  - 2.2.5

addons:
  chrome: stable

services:
  - mysql

before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  # give xvfb some time to start
  - "while [ ! -e /tmp/.X11-unix/X99 ]; do sleep 1; done"

before_install:
  - gem update --system
  - gem install bundler
  - ./travis-prep.sh



