<%# javascript_tag 'application' %>
<%= javascript_pack_tag 'application' %>

<p>Hi there, this is before react</p>

<%= react_component("HelloWorld", { greeting: "Hello from react-rails." }) %>

<p>This is after react component.</p>