<p>To use the API and get JSON responses,
we suggest you set your <strong>Content-Type</strong> and
  <strong>Accept</strong> headers to <em>application/json</em>.</p>

<p>To see the API documentation, please see <a href="/api/v2/docs/">/api/v2/docs/</a></p>