<p>Welcome application owner <%= @user.name %> (id: <%= @user.id %>)</p>

<p>We received your authenticated request</p>

<p>To see the API documentation, please see <a href="/api/docs/">/api/docs/</a></p>