label {
  vertical-align: middle;
}

button.fa-workaround {
  width: 1.5rem;
  height: 1.5rem;
  display: block;
  float: left;
  transform: translateY(1.4em);
  border: none;
}

button[aria-pressed="true"] {
  box-shadow: inset 0 0 7px #000 !important;
}

li[aria-pressed="true"] {
  background: #7654C4;
  color: #fff;
}

.dragon-drop-list > li.dragon-inactive {
  box-shadow: 0 0 1px #000;
  border-color: transparent;
}

.dragon-drop-list {
  /* text-align: center;
  padding: 0 20px;
  margin: 0 auto;
  max-width: 600px;
  margin-bottom: 20px; */
  margin: 0;
  padding: 0;
}

.dragon-drop-list > li {
  margin: 15px auto;
  padding: 5px;
  box-shadow: 0 0 2px #000;
  text-align: left;
  list-style: none;
}

.handle {
  margin-right: 10px;
  border: 0;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 0 1px #000;
  padding: 5px;
  cursor: ns-resize;
}

.live-log {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70px;
  line-height: 18px;
  overflow: auto;
  padding: 7px 5px;
  box-sizing: border-box;
  background: #141414;
  color: #fff;
  opacity: .94;
  display: none;
}

.live-log.active { display: block; }

.offscreen {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

.dragon-active {
  box-shadow: 0 0 8px #000;
}

pre {
  overflow-y: auto;
  text-align: left;
}

li {
  list-style: none;
}

/**
 * Below are styles for the dragula elements
 */
.gu-mirror {
  box-sizing: border-box;
  padding: 5px;
  border: 1px solid;
  text-align: left;
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  background: #fff;
  cursor: -webkit-grabbing;
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
  list-style: none;
}