<!DOCTYPE html>
<html>
<head>
  <title>StashDatacite</title>
  <%#= stylesheet_link_tag    "stash_datacite/application", media: "all" %>
  <%#= javascript_include_tag "stash_datacite/application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
