<html>
  <body>
    <%= yield %>

    <p>Please do not reply to this email.</p>

    <p>The Dryad Team</p>
    <p><a href="<%= @dryad_url %>" title="Dryad"><%= @dryad_url %></a></p>
  </body>
</html>
