.o-admin-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: $spacing-md;
}

*[class^="o-admin-head-"] {
  min-width: 225px;
  border: thin solid $design-dark-blue-color;

  h2 {
    padding: $spacing-base;
    color: $design-white-color;
    background-color: $design-dark-blue-color;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0 $spacing-base; 

    li {
      line-height: 135%;
    }
  }
}

.o-admin-left {
  min-width: 252px;
  margin-right: 20px;
  padding: 10px;
  /* margin: 20px 20px 0 0;
  padding: 5px; */
}

.o-admin-right {
  flex-grow: 1;
  padding: 10px;
  /*margin: 25px 0 0;
  padding: 10px;
  background-color: orange; */
}

.o-admin-dialog {
  padding: 5px 15px 25px;
}

.o-admin-columns {
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-md;
}

.o-admin-25-column {
  flex: 25;
}

.o-admin-40-column {
  flex: 40;
}

.o-admin-50-column {
  flex: 50;
}

.o-admin-60-column {
  flex: 60;
}

.o-admin-75-column {
  flex: 75;
}

.o-admin-form-pair {
  display: flex;
  margin: 1rem 0;
  align-items: center;
}

.o-admin-label-left {
  flex: 0 0 30%;
  justify-content: right;
  text-align: right;
  padding-right: 1rem;
}

.o-admin-field-right {
  flex: 0 0 70%;
}
