.o-admin-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.o-admin-left-head {
  min-width: 250px;
  height: 8em;
  margin-right: 20px;
  padding: 10px;
  border: thin solid $design-light-gray-color;
}

.o-admin-right-head {
  flex-grow: 1;
  height: 8em;
  padding: 10px;
  border: thin solid $design-light-gray-color;
}

.o-admin-left {
  min-width: 252px;
  margin-right: 20px;
  padding: 10px;
  /* margin: 20px 20px 0 0;
  padding: 5px; */
}

.o-admin-right {
  flex-grow: 1;
  padding: 10px;
  /*margin: 25px 0 0;
  padding: 10px;
  background-color: orange; */
}

.o-admin-dialog {
  padding: 5px 15px 25px;
}
