// ##### Alert Component ##### //

%c-alert {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-bottom: $spacing-md;
	padding: 15px 15px 15px 50px;
	border-radius: 5px;
	background-repeat: no-repeat;
	background-position: left 15px top 15px;
	background-size: 20px;
	color: $design-white-color;
	font-size: 1.1em;
}

.c-alert--success {
	@extend %c-alert;
	background-color: $design-green-color;
	background-image: inline('../images/icon_success.svg');
}

.c-alert--informational {
	@extend %c-alert;
	background-color: $design-dark-gray-color;
	background-image: inline('../images/icon_info.svg');
}

.c-alert--notification {
  @extend %c-alert;
  background-color: $design-slate-color;
  background-image: inline('../images/icon_info.svg');
}

.c-alert--error {
	@extend %c-alert;
	background-color: $design-red-color;
	background-image: inline('../images/icon_warning-white.svg');
}

.c-alert--error-lite {
	@extend %c-alert;
	border: thin solid $design-red-color;
	background-color: $design-white-color;
	background-image: inline('../images/icon_warning.svg');
}

.c-alert--error-icon {
	display: block;
	padding-left: 20px;
	background-image: inline('../images/icon_warning.svg');
	background-repeat: no-repeat;
	background-position: left 8px;
	background-size: 20px;
	color: $design-white-color;
}

.c-alert__text {
	// empty
}

.c-alert__text-lite {
	color: $design-red-color;
}

.c-alert__close {
	margin: 0 0 0 12px;
}

.c-alert--migration {
  @extend %c-alert;
  border: thin solid $design-dark-blue-color;
  background-color: $design-white-color;
  color: $design-dark-blue-color;

  .c-alert__close {
		background: transparent inline('../images/icon_close-blue.png') center / 15px no-repeat;
  }
}

.c-error-box {
	width: 100%;
	margin-bottom: 1em;
	padding: 0 1em;
	clear: both;
	border: 2px solid $design-red-color;
}
