.c-auto_complete {
  position: relative;
  display: flex;

  .c-ac__input_with_button {
    padding-right: 3ch;
  }
  .c-ac__input-button {
    padding: 0 1ch;
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;
    border: 0;
    height: 30px;
    outline: none;
  }

  .c-ac__menu {  
    max-height: 180px;
    overflow-y: auto;
    width: 100%;
    min-width: 200px;
    background-color: #fafafa;
    position: absolute;
    top: 30px;
    margin-top: 0;
    z-index: 1000;
    padding: 0;
    list-style: none;
    border: thin solid #ddd;

    .c-ac__menu_item {
      padding: 0.25em 0.5ch;
      margin: 0;

      &.highlighted {
        background-color: #bde4ff;
      }
    }
  }
  
  .c-ac__menu_closed {
    display: none;
  }
}

.c-ac__error_message {
  padding: 5px;
  background-color: $design-red-color;
  color: $design-white-color;
}

.c-ac__checkbox {
  display: block;
  margin-top: 12px;
}