// ##### Choose Files Component ##### //

.c-choose__input-file {
	@extend %hide;
}

.c-choose__input-file-label {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 38px;
	padding: $spacing-base;
	background-color: var(--c-uploadwidget-color);
	cursor: pointer;
}

.pseudo-focus-button-label {
	outline: 2px solid red;
}
