// ##### Column Layout Component ##### //

.c-columns {

  @include bp(screen2) {
    display: flex;
    align-items: flex-start;
  }

}

.c-columns__content {
  flex: 1;
}

.c-columns__sidebar1,
.c-columns__sidebar2 {
  flex: 0 0 28%; // column width
}

.c-columns__sidebar1 {

  @include bp(screen2) {
    padding: 0 20px 0 0;
  }

}

.c-columns__sidebar2 {

	@include bp(screen2) {
    padding: 0 0 0 20px;
  }

}

#page-columns {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

#page-content {
  flex: 0 1 90ch;
  padding-right: 5ch;
}

#page-nav {
  flex: 0 1 30ch;
  padding-top: $spacing-md;
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      margin: $spacing-base 0;
    }
  }
  & > ul {
    position: sticky;
    top: $spacing-md;
  }
}

.member-list {
  columns: 3;
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block
  }
}