.o-dependency-group {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.o-dependency-group__list {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-right: 10px;
  padding: 25px;
  border: thin solid $design-black-color;
  list-style: none;
}

.o-dependency-group__list__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .dependency-name {
    padding-right: 25px;
    font-size: 1.2rem;
    font-weight: bold;
  }

  .fa-times-circle { color: $design-red-color; }       /* red */
  .fa-question-circle { color: $design-orange-color; } /* yellow */
  .fa-check-circle { color: $design-green-color; }     /* green */

  .dialog {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    top: 0;
    left: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: $design-black-color-forty-percent; /* Black w/ opacity */
  }

  .dialog-content {
    width: 80%; /* Could be more or less, depending on screen size */
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: thin solid $design-dark-gray-color;
    background-color: $design-super-extra-light-gray-color;
  }
  /* The Close Button */
  .dialog-close {
    float: right;
    color: $design-dark-gray-color;
    font-size: 28px;
    font-weight: bold;
  }

  .dialog-close:hover,
  .dialog-close:focus {
    color: $design-black-color;
    text-decoration: none;
    cursor: pointer;
  }
}
