.o-dependency-group__list {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-right: 10px;
  padding: 25px;
  border: thin solid $design-black-color;
  list-style: none;
}

.o-dependency-group__list__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .dependency-name {
    padding-right: 25px;
    font-size: 1.2rem;
    font-weight: bold;
  }

  button {
    padding: 0;
    border: 0;
    background-color: transparent;
  }

  .fa-times-circle { color: $design-red-color; }
  .fa-question-circle { color: $design-orange-color; }
  .fa-check-circle { color: $design-green-color; } 
}
