// ##### Download Object ##### //

*[class^="o-download__"] {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 6px 10px;
	border: none;
	background-color: $design-lighter-blue-color;

	&::before {
		content: '';
		display: inline-block;
		min-width: 1.5ch;
		margin-right: 1ch;
	}

	&:hover {
    opacity: 0.85;
  }
}

.o-download__files::before {
	content: inline('../images/icon_download.svg');
	margin-bottom: -6px;
}

.o-download__wait {
	background-color: $design-light-gray-color;
	&:hover {
		opacity: 1;
	}
	&::before {
		width: 20px;
		height: 20px;
		display: block;
		content: inline('../images/icon_spinner_oval.svg');
	}	
}

.o-download__docs::before {
	content: inline('../images/icon_pdf.svg');
}
