// ##### Footer Component ##### //

.c-footer {
  @extend %pull-borders;
  margin-top: 2em;
  margin-bottom: $spacing-md;
  padding-top: 10px;
  clear: both;
  border-top: thin solid $design-dark-gray-color;
  font-size: .9em;

  @include bp(screen3) {
    font-size: .8em;
  }

}

.c-footer__link-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;

  span {
    margin-bottom: $spacing-sm;
  }
}

.c-footer__policy-group,
.c-footer__social-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: left;

  a {
    @extend %o-link__primary;
    margin: 0 $spacing-md $spacing-sm 0;
    i {
      font-size: 1.5em;
      display: inline-flex;
      margin-right: 3px;
      vertical-align: -4px;
    }
  }

  a:last-child {
    margin-right: 0;
  }

}
