// ##### Headings Object ##### //

%o-heading__level1 {
  margin-top: $spacing-md;
  margin-bottom: $spacing-sm;
  color: $design-orange-color;
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: normal;
}

h1, *[class^="o-heading__level1"] {
  @extend %o-heading__level1;
}

.o-heading__level1-home {
  margin-top: 0;
  text-align: center;
}

%o-heading__level2 {
  margin-top: calc($spacing-base * 3.75);
  margin-bottom: $spacing-sm;
  color: $design-dark-blue-color;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: normal;
}

h2, *[class^="o-heading__level2"] {
  @extend %o-heading__level2;
}

.o-heading__level2-why-share {
  text-align: center;
}

%o-heading__level3 {
  margin-top: calc($spacing-base * 3.5);
  margin-bottom: calc($spacing-base * 1.5);
  color: $design-orange-color;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: bold;
}

h3, *[class^="o-heading__level3"]  {
  @extend %o-heading__level3;
}

.o-heading__level3-file-title,
.o-heading__level3-related-works {
  margin: 0;
}

.o-heading__page-span {
  @extend %pull-background;
  margin-bottom: $spacing-md;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: $design-dark-blue-color;
  color: $design-white-color;
  font-size: 1.3em;
  font-weight: normal;
}

*[class^="o-heading__level"]:first-child {
  margin-top: 0;
}

h4 {
  margin-top: calc($spacing-base * 3);
  margin-bottom: calc($spacing-base * 1.5);
  color: $design-dark-blue-color;
  font-size: 1.125rem;
  line-height: 1.5rem;
}

h5, h6 {
  margin-top: $spacing-sm;
  margin-bottom: $spacing-base;
  color: $design-orange-color;
  font-size: 1rem;
  line-height: 1.5rem;
}

h6 {
  font-style: italic;
}
