// ##### Header Component ##### //

.c-header {
  @extend %pull-borders;
  margin-bottom: $spacing-md;
  font-size: 1rem;

  @include bp(screen3) {
    display: flex;
    position: relative;
    z-index: 1; /* positioning is so that dd-menu goes in a higher order and context than some other parts of page */
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: thin solid $design-dark-gray-color;
  }

}

.c-header__logos {
  display: flex;

  @include bp(screen3) {
    display: block;
    max-width: 50%;
    margin: 5px 0; // The space between the top & bottom of logo separator line. Sets height of header, in addition to the .c-header__dash-logo-svg height properties below.
  }

}

.c-header__menu-button {
  margin: 0 25px 0 0;

  @include bp(screen3) {
    display: none;
  }

}

.c-header__dash-logo-link {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

// The SVG height properties below also set the header height, in addition to the c-header__logos margin property above.

.c-header__dash-logo-svg {
  /* Blacklight/geoblacklight resets */
  box-sizing: content-box;
  padding: 5px 0;
  max-height: 30px;

  @include bp(screen3) {
    width: 100%;
    max-height: 40px;
  }

  &:nth-child(2) {
    margin-left: 15px;
    padding-left: 15px;
    border-left: 2px solid $design-dark-gray-color;
  }

}

.c-header__nav, .c-header__nav--is-open {
  display: none;
  flex-flow: column nowrap;
  margin: 5px 0 0;

  @include bp(screen3) {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }
}

.c-header__nav--is-open {
  display: flex;
}

.c-header__global-search {
  margin: -5px auto;
  background-color: $design-light-blue-color;
  height: 38px;
  .o-global-search__input {
    font-size: 1em;
  }
  .o-global-search__submit-button {
    width: 38px;
  }

  @include bp(screen3) {
    align-self: flex-end;
    width: $global-search-width;
    margin: 0;
    padding: 0;
    background-color: $design-white-color;
    height: 28px;

    .o-global-search__input {
      font-size: .9em;
    }
    .o-global-search__submit-button {
      width: 28px;
    }
  }

}

.c-header__nav-group {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;

  @include bp(screen3) {
    z-index: 1;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;

    &:not(:first-child) {
      margin-top: 10px;
    }
  }
}

.c-header__nav-item {
  white-space: nowrap;
  margin: 0 -30px 2px;
  padding: 10px 30px;
  background-color: $design-light-blue-color;
  color: $design-white-color;
  text-decoration: none;
  position: relative;

  &.dev-only {
    text-align: right;
    @include bp(screen3) {
      color: $design-orange-color;
    }
  }

  a:link, a:visited {
    color: $design-white-color;
    text-decoration: none;
  }

  @include bp(screen3) {
    display: flex;
    margin: 0;
    padding: 0 15px;
    background-color: $design-white-color;
    
    a:link, a:visited {
      color: $design-black-color;
      text-decoration: none;
    }

    a:hover,
    a:focus {
      color: $link-globalnav-hover-color;
      text-decoration: underline;
    }

    &:not(:last-child) {
      border-right: thin solid $design-orange-color;
    }

    &.is-open {
      padding-bottom: 10px;
      margin-bottom: -10px;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}

.c-header_nav-button {
  border: none;
  background-color: transparent;

  &::after {
    color: $design-white-color;
    font-family: FontAwesome;
    content: " \f0d7";
  }

  &[aria-expanded=true]::after {
    content: " \f0d8";
  }

  @include bp(screen3) {
    padding: 0;
    color: $design-black-color;

    &:hover,
    &:focus {
      color: $link-globalnav-hover-color;
      text-decoration: none;
    }

    &::after {
      color: $design-dark-blue-color;
    }
  }
}

.c-header__nav-submenu {
  list-style-type: none;
  margin: 10px 0 -10px;
  padding: 0;

  @include bp(screen3) {
    position: absolute;
    top: 100%;
    right: -1px;
    margin: 0;
    min-width: 180px;
    white-space: nowrap;
    border-right: thin solid $design-orange-color;
  }

  li {
    margin: 0;
    a {
      display: block;
      margin: 0 0 2px;
      padding: 10px;
      background-color: $design-light-blue-color;
      color: $design-white-color;
      text-decoration: none;
      border-top: 2px solid $design-white-color;

      @include bp(screen3) {
        margin: 0;
        background-color: $design-white-color;
        color: $design-black-color;
        border-top: none;
        border-left: thin solid $design-light-gray-color;
        border-bottom: thin solid $design-light-gray-color;

        &:hover,
        &:focus {
          color: $link-globalnav-hover-color;
          text-decoration: underline;
        }

        &:hover,
        &:focus {
          color: $link-globalnav-hover-color;
        }
      }
    }
  }
}