// ##### Header Component ##### //

.c-header {
  @extend %pull-borders;
  margin-bottom: $spacing-md;

  @include bp(screen3) {
    font-size: 1rem;
    display: flex;
    position: relative;
    z-index: 1; /* positioning is so that dd-menu goes in a higher order and context than some other parts of page */
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: thin solid $design-dark-gray-color;
  }

}

.c-header__logos {
  display: flex;
  margin: 0 0 $spacing-base;

  @include bp(screen3) {
    display: block;
    max-width: 50%;
    margin: $spacing-base 0 0; // The space between the top & bottom of logo separator line. Sets height of header, in addition to the .c-header__dash-logo-svg height properties below.
  }

}

// The SVG height properties below also set the header height, in addition to the c-header__logos margin property above.

.c-header__dash-logo-link {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;

  div {
    &:nth-child(2) {
      margin-left: $spacing-sm;
      padding-left: $spacing-sm;
      border-left: 2px solid $design-dark-gray-color;
    }
  }
}



.c-header__dash-logo-svg {
  /* Blacklight/geoblacklight resets */
  box-sizing: content-box;
  max-height: 2rem;

  @include bp(screen3) {  
    max-height: 3rem;
  }
}

.c-header__nav {
  display: flex;
  flex-flow: column nowrap;
  margin: 5px 0 0;

  @media (max-width: $screen-lg-min) {
    .hide-mobile {
      display: none !important;
    } 
  }
  @include bp(screen3) {
    display: flex;
    justify-content: space-between;
    margin: 0;

    .show-mobile {
      display: none !important;
    }
  }
}

.c-header__nav-group {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;

  &#site-menu {
    display: none;
    flex-flow: column nowrap;

    &.is-open {
      display: flex;
    }
  }

  &#mobile-nav-bar {
    align-items: baseline;
    margin: 0 -10px 2px;
    background-color: $design-lightest-blue-color;
    
    @include bp(screen1) {
      margin: 0 -20px 2px;
    }

    @include bp(screen2) {
      margin: 0 -30px 2px;
    }
    @include bp(screen3) {
      margin: 0;
      background-color: transparent;
    }
  }

  &#site-menu {
    @include bp(screen3) {
      margin-top: 10px;
    }
  }

  &#mobile-nav-bar, &#site-menu {
    @include bp(screen3) {
      display: flex;
      z-index: 1;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: flex-end;
    }
  }
}

#mobile-nav-bar .c-header__nav-item {
  margin: 0;
  padding: 0;
  flex: 1;
  text-align: center;
  text-decoration: none;

  a:link, a:visited {
    color: $design-dark-blue-color;
    text-decoration: none;
  }

  @include bp(screen3) {
    flex: 0 1 auto;
    text-align: left;
  }

  &.is-open {
    padding-bottom: 6px;
    margin-bottom: -6px;
    background-color: $design-medium-blue-color;
    color: $design-white-color;
  }

  a {
    display: inline-flex;
    width: 100%;
    height: 48px;
    padding: 0 $spacing-base;
    align-items: center;
    justify-content: space-around;
    @include bp(screen3) {
      width: auto;
      height: auto;
      padding: 0;
    }
  }
}

#site-menu .c-header__nav-item {
  white-space: nowrap;
  text-decoration: none;
  margin: 0 -10px 2px;
  padding: 0;

  @media (max-width: $screen-lg-min - 1) {
    a, button {
      background-color: $design-medium-blue-color;
      color: $design-white-color;
      padding: 10px 30px;
      display: block;
      width: 100%;
      text-align: left;

      &:hover, &[aria-expanded="true"] {
        background-color: $design-light-blue-color;
      }
    }
  }

  a:link, a:visited {
    color: $design-white-color;
    text-decoration: none;
  }

  @include bp(screen1) {
    margin: 0 -20px 2px;
  }

  @include bp(screen2) {
    margin: 0 -30px 2px;
  }

  .c-header__nav-submenu {
    list-style-type: none;
    margin: 0;
    padding: 0;

    @include bp(screen3) {
      position: absolute;
      top: 100%;
      right: -1px;
      margin: 0;
      min-width: 180px;
      white-space: nowrap;
      border-right: thin solid $design-orange-color;
    }

    li {
      margin: 0;
      padding: 0;
      a {
        display: block;
        padding: 10px 30px;
        background-color: $design-white-color;
        color: $design-dark-blue-color;
        text-decoration: none;
        border-top: 2px solid $design-medium-blue-color;

        &:hover {
          background-color: $design-lighter-blue-color;
        }

        @include bp(screen3) {
          margin: 0;
          background-color: $design-white-color;
          color: $design-black-color;
          border-top: none;
          border-left: thin solid $design-light-gray-color;
          border-bottom: thin solid $design-light-gray-color;

          &:hover,
          &:focus {
            color: $link-globalnav-hover-color;
            background-color: $design-white-color;
            text-decoration: underline;
          }

          &:hover,
          &:focus {
            color: $link-globalnav-hover-color;
          }
        }
      }
    }
  }
}

#mobile-nav-bar .c-header__nav-item, 
#site-menu .c-header__nav-item {
  position: relative;

  &.dev-only {
    text-align: right;
    color: $design-orange-color;
    background-color: $design-white-color;
    @media (max-width: $screen-lg-min - 1) {
      position: absolute;
      top: 0;
      right: 0;
      z-index: +1;
    }
  }

  @include bp(screen3) {
    display: flex;
    margin: 0;
    padding: 0 15px;
    background-color: $design-white-color;
    
    a:link, a:visited {
      color: $design-black-color;
      text-decoration: none;
    }

    a:hover,
    a:focus {
      color: $link-globalnav-hover-color;
      text-decoration: underline;
    }

    &:not(:last-child) {
      border-right: thin solid $design-orange-color;
    }

    &:last-child {
      padding-right: 0;
    }

    &.last-child {
      padding-right: 0;
      border-right: none;
    }

    &.is-open {
      padding-bottom: 10px;
      margin-bottom: -10px;
    }    
  }
}

.c-header_nav-button {
  border: none;
  background-color: transparent;

  &::after {
    color: $design-white-color;
    font-family: FontAwesome;
    content: " \f0d7";
  }

  &[aria-expanded=true]::after {
    content: " \f0d8";
  }

  @include bp(screen3) {
    padding: 0;
    color: $design-black-color;

    &:hover,
    &:focus {
      color: $link-globalnav-hover-color;
      text-decoration: none;
    }

    &::after {
      color: $design-dark-blue-color;
    }
  }
}

.c-header__global-search {
  margin: -5px auto;
  background-color: $design-light-blue-color;
  height: 38px;
  .o-global-search__input {
    font-size: 1em;
    min-width: 6ch;
    width: calc(100% - 48px);
  }
  .o-global-search__submit-button {
    width: 32px;
  }

  @include bp(screen3) {
    align-self: flex-end;
    width: $global-search-width;
    margin: 0;
    padding: 0;
    background-color: $design-white-color;
    height: 28px;

    .o-global-search__input {
      font-size: .9em;
      width: calc(100% - 38px);
    }
    .o-global-search__submit-button {
      width: 28px;
    }
  }
}

.c-header__menu-button {
  height: 48px;
  width: 100%;
  padding: 0 $spacing-base;
  background-color: transparent;
  border: none;
  color: $design-dark-blue-color;
  white-space: nowrap;

  i {
    margin-left: 2px;
  }

  &[aria-expanded="true"] {
    color: $design-white-color;
  }
}