// ##### Home Page Theme ##### //

.t-home__header {
    position: relative;
    z-index: 10;
	margin-bottom: 10px;
	border-bottom: none;

	@include bp(screen3) {
		margin-bottom: 0;
	}
}

.t-home__banner {
	@extend %pull-full-bleed;
	margin-bottom: 10px;

	.o-banner__tagline {
		margin: auto auto -16px;

		@media (max-width: $screen-sm-min - 1) {
			margin: auto;
		}
	}

	.o-banner__credit {
		padding: 8px;
		font-size: .8rem;
		color: $design-white-color;
		align-self: end;
		margin-top: auto;

		@media (max-width: 760px) {
			font-size: .7rem;
		}

		@media (max-width: $screen-sm-min - 1) {
			display: none;
		}
	}
}

.t-home__quote-search-group {
	@extend %pull-full-bleed;
	margin-bottom: $spacing-md;
	padding: 0;

	@include bp(screen1) {
		display: flex;
	}

}

.t-home__quote {
	display: none;

	@include bp(screen2) {
		display: flex;
		flex: 1 0 0%; // 0% instead of 0 fixes ie bug
		margin: 0 5px 0 0;
	}

}

.t-home__search {
	flex: 1 0 0%; // 0% instead of 0 fixes ie bug

	@include bp(screen2) {
		margin: 0 0 0 5px;
	}

	@media (max-width: $screen-sm-min - 1) {
		padding: 20px 10px;
	}

}
