// ##### import metadata Component ##### //
.c-import__fieldset {
	border: none;
	margin: 1em auto;
	padding: 0;
}

.c-import__choicesbox {
	display: flex;
	justify-content: space-evenly;
}

.c-import__choicebox {
	text-align: center;
}

.c-import__icon {
	display: inline-block;
	margin-bottom: 1rem;
}

.c-import__form-section {
	margin: 2rem 0 0;
}

.c-import__info-section {
	margin: 2rem 0 0;
}
