// ##### Landing Page Theme ##### //

.t-landing__data-type {
	margin: 0 0 $spacing-md;
}

.t-landing__metadata {
	margin: 0 0 $spacing-md;
}

.t-landing__main {

	@include bp(screen2) {
		margin: 0 30px 0 0;
	}

}

.citation-section {
	background-color: $design-lightest-blue-color;
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	column-gap: 1ch;
	row-gap: $spacing-base;
	padding: .75rem;

	h2, h3, p {
		margin: 0;
	}

	.copy-icon {
		border: none;
		background-color: transparent;
		box-shadow: none;
	}

	p {
		flex-basis: 100%;
	}
}

.t-landing__sidebar {
	margin: 0 0 $spacing-md;

	@include bp(screen2) {
		margin: 0;
	}

	.o-download {
		margin: 0 0 $spacing-md;
	}

	.c-sidebox {
		margin: 30px 0 0;

		&:first-child {
			margin-top: 0;
		}
	}

}

.t-landing__pdftable {
  margin-bottom: 1.5em;

  td {
    padding: 0.25em 1em;
  }
}

.t-landing__text-wall {
	margin-bottom: 1.5em;
	line-height: 3ex;
}
