// ##### Latest Datasets Component ##### //

.c-latest {

	@include bp(screen1) {
    margin: 0 -10px;
  }

	@include bp(screen2) {
		display: flex;
		flex-flow: row wrap;
		margin: 0 -20px;
	}

}

.c-latest__dataset {
	padding: 10px 0 0;
	border-top: 1px solid $design-dark-gray-color;

	@include bp(screen1) {
		display: flex;
		justify-content: space-between;
		padding: 10px 10px 0;
	}

	@include bp(screen2) {
		flex: 1 0 40%;
		padding: 20px 20px 0;

		&:nth-of-type(even) {
			border-left: 1px dashed $design-orange-color;
		}

	}

}

.c-latest__title-group {
	flex: 0 1 auto; // IE 10 fix
}

.c-latest__title {
	@extend %o-link__primary;
	font-size: 1.4em;
}

.c-latest__author {
	// empty
}

.c-latest__type {
	margin: 0 0 10px 1em;
	font-size: 0.9em;
	font-weight: bold;
	text-align: right;
}
