// ##### Latest Datasets Component ##### //

.c-latest {

	@include bp(screen1) {
    // margin: 0 -10px;
  }

	@include bp(screen2) {
		display: flex;
		flex-flow: row wrap;
		// margin: 0 -20px;
	}

}

.c-latest__dataset {
	padding: 10px 0 0;
	border-top: thin solid $design-orange-color;

	&:nth-of-type(-n+2) {
		border-top: none;
	}

	@include bp(screen1) {
        /* one column */
		display: flex;
		justify-content: space-between;
		padding: 10px 10px 0;
	}

	@include bp(screen2) {
        /* two column */
		flex: 1 0 40%;
        justify-content: space-between;
		padding: 20px 20px 0;

		&:nth-of-type(even) {
			border-left: thin solid $design-orange-color;
		}
	}
}

.c-latest__title-group {
	flex: 3 1 auto; // IE 10 fix, modified to make safari work, also
}

.c-latest__title {
	@extend %o-link__primary;
	font-size: 1.2em;
}

.c-latest__author {
	// empty
}

.c-latest__type {
    flex: 1 0 auto; // for safari so that things don't overflow
	margin: 0 0 10px 1em;
	font-size: 0.8em;
	font-weight: bold;
	text-align: right;
}
