// ##### Links Object ##### //

%o-link__primary {
  color: $link-body-color;
  /* text-decoration: underline; */

  &:visited {
    color: $link-body-visited-color;
  }

  &:hover,
  &:focus {
    color: $link-body-hover-color;
    /* text-decoration: none; */
    text-decoration: underline;
  }
}

a {
  @extend %o-link__primary;
}

.o-link__primary {
  @extend %o-link__primary;
}

%o-link__secondary {
  color: $link-body-color;
  text-decoration: none;

  &:visited {
    color: $link-body-visited-color;
  }

  &:hover,
  &:focus {
    color: $link-body-hover-color;
    text-decoration: underline;
  }


}

.o-link__buttonlink,
.o-link__buttonlink:link,
.o-link__buttonlink:visited,
.o-link__buttonlink:hover
.o-link__buttonlink:active {
  display: inline-block;
  border: none;
  text-decoration: none;
  padding: 8px 12px;
  background-color: $design-dark-blue-color;
  color: $design-white-color;
  white-space: nowrap;
}

.o-link__buttonlink:hover, .o-link__buttonlink:active {
  &:hover {opacity: 0.85;}
}

.o-link__secondary {
  @extend %o-link__primary;
}

// Links in body copy:

.markdown_styles a {
  @extend %o-link__primary;
}

.t-landing__main a {
  @extend %o-link__primary;
}

// Links in sidebar:

.c-sidebox a {
  @extend %o-link__secondary;
}

// Links in Geoblacklight UI:

.category-block .more_facets_link {
  @extend %o-link__primary;
}

.facet-values .more_facets_link {
  @extend %o-link__secondary;
}

.home-facet-link {
  @extend %o-link__primary;
}

.facet_select {
  @extend %o-link__secondary;
}

.index_title a {
  @extend %o-link__secondary;
  color: $design-medium-blue-color;
}

.facet-label .selected {
  color: $design-green-color;
}

// Submitted table:

.c-table-submitted .o-link__primary {
  color: $design-medium-blue-color;
  text-decoration: none;

  &:visited {
    color: $link-body-visited-color;
  }

  &:hover,
  &:focus {
    color: $link-body-hover-color;
    text-decoration: underline;
  }


}

// Skipnav component:

.c-skipnav {
  @extend %hide;
  z-index: 15;
  padding: $spacing-sm;
  transition: opacity 0.5s;
  opacity: 0;  

  &:focus {
    top: $spacing-sm;
    left: $spacing-sm;
    opacity: 1;
    background-color: $design-dark-blue-color;
    color: $design-white-color;
    outline-offset: 0;
  }
}

.pdfIcon {
  display: inline-block;
  vertical-align: middle;
  background-color: currentColor;
  mask-image: inline('../images/fa-pdf.svg');
  mask-repeat: no-repeat;
  width: 1em;
  height: 1em;
  margin-left: .5ch;
}

.copy-icon {
  display: inline-block;
  cursor: pointer;
  padding: 0 5px;

  i {
    color: $design-dark-navy-color;
  }

  &:hover i {
    color: $link-body-hover-color;
  }

  i.fa-check {
    color: $design-green-color;
  }
}