.t-login__section {
  display: grid;
  grid-column-gap: $spacing-lg;
  grid-row-gap: $spacing-lg;
  width: 100%;
  text-align: center;

  & > div {
    padding: $spacing-md $spacing-sm;
    @include bp(screen3) {
      padding: $spacing-md;
    }
  }
}

.t-login__box, .t-login__choose {
  @include bp(screen3) {
    grid-column: 1;
  }

  h1 {
    margin-bottom: 45px;
  }

  p {
    margin-top: 45px;
  }

  .c-institution__container {
    margin-bottom: 25px;
    margin-left: 0;

    .c-auto_complete {
      width: 20rem;
      margin-right: 10px;

      .c-input__text.c-ac__input_with_button, .c-ac__input-button {
        height: 45px;
      }
      .c-ac__menu {
        top: 45px;
        text-align: left;
      }
    }
  }
}

.t-login__info {
  text-align: left;
  border-top: thin solid $design-orange-color;

  @include bp(screen3) {
    grid-column: 2;
    border-top: none;
    border-left: thin solid $design-orange-color;
  }
}

.t-login__buttonlink,
.t-login__buttonlink:link,
.t-login__buttonlink:visited,
.t-login__buttonlink:hover
.t-login__buttonlink:active {
  color: $design-black-color;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 15px;
  border: 2px solid $design-orange-color;
  border-radius: 35px;
  background-color: $design-white-color;
  white-space: nowrap;
}

.t-login__buttonlink:hover, .t-login__buttonlink:active {
  outline: 2px solid #cf4817;
}

.t-login__or-box {
  width: 100px;
  margin: 0 auto;
}

.t-login__more-messages {
  display: flex;
  align-items: center;
  width: 300px;
  margin: 0 auto;
}

.t-login__orcid {
  display: block;
  width: 300px;
  height: 90px;
  margin-right: auto;
  margin-left: auto;
  background: inline('../images/logo_orcid.svg') center no-repeat;
}

.t-login__orcid-big {
  display: block;
  width: 10em;
  height: 10em;
  margin: 0 auto 2em;
  padding: 20px;
}

.t-login__orcid-small {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
}

/*
.t-login__orcid-small {
  display: inline-block;
  width: 80px;
  height: 30px;
  background: inline('../images/logo_orcid.svg') center / 80px no-repeat;
}*/

.t-login__selector {
  display: inline-block;
  padding: 35px 0 0;
  text-align: center;
}

.c-institution__container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    width: 100%;
  }
}

.c-institution__column {
  margin-right: 5em;
}

.c-institution__datalist {
  flex-grow: 2;
  height: 30px;
  margin-top: 5px;
  margin-right: 5px;
}

.c-institution__button {
  margin-top: 1em;
  padding: 10px;
}

.o-heading__level2-login-with {
  margin-bottom: 0;
  font-size: 1.6em;
  text-align: center;

  a:link,
  a:visited,
  a:hover,
  a:active {
    color: $design-dark-blue-color;
    text-decoration: none;
  }
}
