.modalDialog {
  position: fixed;
  top: 50%;
  left: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
}

.modalDialog button, .modalDialog input[type=submit], {
  @extend %o-button__plain-text;
  border: 1px solid $design-light-gray-color;
  border-radius: 0;
  background-color: $design-white-color;
}

.c-modal-h1 {
  @extend %o-heading__level1;
  font-size: 1.5em;
}

.c-modal-h2 {
  @extend %o-heading__level2;
}

.c-modal-h3 {
  @extend %o-heading__level3;
}

.modalDialog .c-uploadmodal__button-close-modal {
  background-color: white;
}
