.modalDialog {
  position: fixed;
  max-width: 45rem;

  .modalClose button, input[type=submit], button[type=submit] {
    @extend %o-button__plain-text;
    border: thin solid $design-light-gray-color;
    border-radius: 0;
    background-color: $design-white-color;
  }
}

.modalClose {
  text-align: right;
  margin-bottom: -1em;
}

.c-modal-h1 {
  @extend %o-heading__level1;
  font-size: 1.5em;
}

.c-modal-h2 {
  @extend %o-heading__level2;
}

.c-modal-h3 {
  @extend %o-heading__level3;
}

.modalDialog .c-uploadmodal__button-close-modal {
  background-color: white;
}

.c-uploadmodal__header * {
  word-break: break-all;
}
