.c-space-paginator {
  margin: $spacing-md 0;
}

.search-results-footer {
  margin: $spacing-md 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: $spacing-md;

  .c-space-paginator {
    margin: 0;
    margin-left: auto;
  }
}

nav.pagination, .c-paginator-page_size {
  text-align: right;
  & > * {
    margin: 0 ($spacing-base/2);
  }
}

nav.pagination + .c-paginator-page_size {
  margin-top: $spacing-sm;
}
