// ##### Progress Component ##### //

.c-progress {
  margin: 0 0 $spacing-md;

  @include bp(screen1) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 1ch;
    column-gap: .5ch;
  }

  a {
    @include bp(screen1) {
      display: flex;
      position: relative;
      flex: 1 0 auto;
      align-items: center;
      justify-content: center;
      height: 33px;
      border: thin solid $design-dark-gray-color;
      max-width: 33%;
    }

    &:link, &:visited {
      color: $design-black-color;
      text-decoration: none;
      white-space: nowrap;
    }

    &:hover,
    &:focus {
      text-decoration: underline;
      outline: none;
    }

    &:not(:last-child) {

      @include bp(screen1) {
        margin: 0 5vw 0 0;
        border-right: none;
      }

      &::after {
        content: '>';
        display: inline-block;
        font-size: 1.2em;

        // Right angle arrow using borders:
        @include bp(screen1) {
          content: '';
          position: absolute;
          top: 4px;
          right: -12px;
          padding: 11px;
          transform: rotate(45deg);
          border-width: 1px;
          border-top-style: solid;
          border-right-style: solid;
          border-color: $design-dark-gray-color;
        }

      }
    }

    &:focus {
      height: 34px;
      border-width: 2px;
      border-color: $design-medium-blue-color;
      &:not(:last-child) {
        &::after {
          border-width: 2px;
          border-color: $design-medium-blue-color;
          @include bp(screen1) {
            top: 3px;
          }
        }
      }
    }

    &[class*="--active"] {
      height: 34px;
      border-width: 2px;
      border-color: $design-orange-color;
      color: $design-orange-color;

      &:not(:last-child) {
        &::after {
          border-width: 2px;
          border-color: $design-orange-color;
          // Right angle arrow using borders:
          @include bp(screen1) {
            top: 3px;
          }

        }
      }
    }

    &[class*="--inactive"] {
      border-width: 2px;
      border-color: $design-light-gray-color;
      color: $design-light-gray-color;

      &::after {
        border-width: 2px;
        border-color: $design-light-gray-color;
      }
    }

  }
 
}
