// ##### Review & Submit Theme ##### //

.t-review__edit-button-top {
	margin: 0 0 20px;

	@include bp(screen1) {
		float: right;
	}

}

.t-review__funding-section {
	position: relative; // to t-review__edit-button-bottom
}

.t-review__agree-to-license {
  position: relative;
  width: 25px;
  margin: 5px;
  border: thin solid $design-extra-light-gray-color;
  background: $design-extra-light-gray-color;
  cursor: pointer;

}

.t-review__doi {
	padding: 0 170px 0 0; // provides space for edit button below
}

.t-review__edit-button-bottom {
	margin: 0 0 20px;

	@include bp(screen1) {
		position: absolute; // to t-review__funding-section
		right: 0;
		bottom: 0;
	}

}

.t-review__user-comment {
  height: 30px;
}

.highlight {
    background-color: #FFFF00
}
