// ##### Table Progress Component ##### //

// These styles extend the table object styles (o-table) and need to be applied together on the table element: <table class="o-table c-table-progress">

// ***** Large Screen Styles ***** //

@include bp(screen2) {

  .c-table-progress td:nth-of-type(2) {
    white-space: nowrap;
  }

}

// ***** Small Screen Styles ***** //

@media (max-width: $screen-md-min - 1) {

  .c-table-progress td:nth-of-type(2),
  .c-table-progress td:nth-of-type(3),
  .c-table-progress td:nth-of-type(4) {
    display: none;
  }

  .c-table-progress td:nth-of-type(1),
  .c-table-progress--details td:nth-of-type(1) {
    margin: 0;
    font-weight: normal;
  }

  .c-table-progress td:nth-of-type(2),
  .c-table-progress--details td:nth-of-type(2) {

    &:before {
      content: 'Description:';
    }

  }

  .c-table-progress td:nth-of-type(3):before,
  .c-table-progress--details td:nth-of-type(3):before {
    content: 'Files:';
  }

  .c-table-progress td:nth-of-type(4):before,
  .c-table-progress--details td:nth-of-type(4):before {
    content: 'Created:';
  }

  .c-table-progress td:nth-of-type(5) {
    margin: 0;
  }

  .c-table-progress--details td:nth-of-type(5):before {
    content: 'Modified:';
  }

  .c-table-progress td:nth-of-type(6),
  .c-table-progress--details td:nth-of-type(6) {
    margin: 0;
  }

}
