.c-space-paginator {
  margin: 15px 0;
}

.screen-reader-only {
  position:absolute;
  top:auto;
  left:-10000px;
  width:1px;
  height:1px;
  overflow:hidden;
}

.c-admin-table-header__hidden {
  overflow: hidden;
  border-width: 0 1px 0 0;
  border-color: black;
}

.c-admin-table__user-campus {
  width: 27%;
}

.c-admin-table__user-name {
  width: 33%;
}

.c-admin-table__user-role {
  width: 15%;
}

.c-admin-table__role-edit {
  width: 5%;
}

.c-admin-table__user-last-login {
  width: 20%;
}

/* this cascading is to get it to override a style from hell I can't get rid of */
.c-lined-table__head > th.c-admin-hide-border-right {
  padding: 8px;
  border-collapse: collapse;
  border: thin solid $design-dark-gray-color;
  border-right: none;
  font-weight: bold;
  text-align: left;
}

.c-lined-table__head > th.c-admin-hide-border-left {
  border-collapse: collapse;
  border: thin solid $design-dark-gray-color;
  border-left: none;
}

.c-lined-table__row > td.c-admin-hide-border-right {
  border-right: none;
}

.c-lined-table__row > td.c-admin-hide-border-left,
{
  border-left: none;
}

.c-lined-table__head a:link,
.c-lined-table__head a:visited {
  color: $link-body-color;
}

.c-admin-table__sort-asc:after {
  content: '\f15d';
  float: right;
  color: $design-dark-gray-color;
  font-family: 'FontAwesome', sans-serif;
  font-size: 1em;
  line-height: normal;
}

.c-admin-table__sort-desc:after {
  content: '\f15e';
  float: right;
  color: $design-dark-gray-color;
  font-family: 'FontAwesome', sans-serif;
  font-size: 1em;
  line-height: normal;
}

.c-admin-edit-icon {
  margin: 10px 0;
  float: right;
  border: none;
  background: none;
}

.c-admin-edit-icon:focus {outline: 0;}
