// ##### Testing ##### //

// Exclusion rule for scss-lint:
// scss-lint:disable all

// Highlight an element with a border:

$bred: 1px solid #f00;
$bblue: 1px solid #00f;
$bgreen: 1px solid #0c0;

// Highlight Bootstrap columns:

// [class^="col-"] {
// 	border: $bblue;
// }
