strong {
  font-weight: bold;
}

blockquote.c-text_styles {
  line-height: 150%;
}

ul.c-text_styles {
  li {
    margin: 1.2ex 0;
    padding: 0;
  }
}

code,
kbd,
pre,
samp {
  font-family: Monaco, monospace, monospace;
  font-size: .9em;
}

code, a {
  overflow-wrap: break-word;
} 

img {
  max-width: 100%;
}

*[hidden] {
  display: none !important;
}

.screen-reader-only {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

blockquote {
  margin: 2rem 0 2rem 2.2rem;

  &:before {
    font-family: FontAwesome;
    content: '\f10d';
    font-size: 2rem;
    margin-left: -2.2rem;
    position: absolute;
    color: $design-orange-color;
  }
}

figure {
  margin: 0 0 2rem 2.2rem;

  blockquote {
    margin: 2rem 0 0;
  }
}
  
