strong {
  font-weight: bold;
}

blockquote.c-text_styles {
  line-height: 150%;
}

ul.c-text_styles {
  li {
    margin: 1.2ex 0;
    padding: 0;
  }
}

#page-columns {
  table {
  border-collapse: collapse;
  }

  td, th {
    text-align: left;
    padding: 8px 4px !important;
    border: thin solid #ccc;
  }
}

blockquote {
  margin: 2rem 0 2rem 2.2rem;

  &:before {
    font-family: FontAwesome;
    content: '\f10d';
    font-size: 2rem;
    margin-left: -2.2rem;
    position: absolute;
    color: $design-orange-color;
  }
}

figure {
  margin: 0 0 2rem 2.2rem;

  blockquote {
    margin: 2rem 0 0;
  }
}
  
