
/* ******************* CEDAR *************** */

.cedar-container {
  background-color: rgba(233, 236, 239, 1);
  padding: 20px;
  margin-bottom: 20px;

  label {
    display: block;
  }

  select {
    margin-right: 10px;
  }

  o-button__add {
    padding: 5px 8px;
    border: 1px solid #9fc7d8;
    background-color: #9fc7d8;
    color: rgb(0, 0, 0);
  }
}

.cedar-heading__level3 {
  margin: 0 0 20px;
  color: rgb(0, 85, 129);
  font-size: 1.1em;
  font-weight: bold;
}

.c-modal-content__cedar {
  padding: 0;
  margin: 0;

  .mat-card {
    padding: 0;
    margin: 0;
    box-shadow: none !important;
    background-color: transparent !important;
  }
}

.template-card {
  padding: 0;
  margin: 0;
  max-width: 100% !important;
  background-color: transparent !important;
}

.mat-card-header {
  align-items: flex-start;

  .mat-card-title {
    font-size: inherit;
  }
}

.mat-card {
  padding: 0;
  margin: 0;

  /* should be h1 */
  .mat-card-title {
    margin: 0 0 20px;
    color: #cf4817;
    font-size: 1.8em;
    font-weight: normal;
  }

  .mat-card-header-text {
    padding: 0;
    margin: 0;
  }

  .mat-card {
    padding: 0;
    margin: 0;

    .mat-card-header {
      margin: 16px -1rem 20px;
      padding: 10px 16px 0;
      background-color: rgb(0, 85, 129);
      color: #fff;
    }

    .mat-card-title {
      color: #fff;
      font-size: 1.3em;
      font-weight: normal;    
    }

    .mat-card-header-text {
      margin: 0;
    }

    /* should be h3 */
    .mat-card {
      .mat-card-header {
        margin: 16px 0 0;
        padding: 0;
        background-color: #fff;
        color: #000;
      }
      .mat-card-title {
        color: #000;
      }
    }
  }
}

.mat-icon {
  font-size: 22px !important;
  height: 22px !important;
  width: 22px !important;
}

.mat-card-avatar {
  display: none;
}

/* tooltips */
.mat-tooltip {
  /* this background-color is just to prove that the selector is getting the correct element; 
  remove it when we get the positioning to work properly */
  background-color: rgb(20,20,0) !important;
  z-index: 100000 !important;
  position: relative;
}

/* ********************************************** */

