
/* ******************* CEDAR *************** */

.cedar-container {
  background-color: rgba(233, 236, 239, 1);
  padding: 20px;
  margin-bottom: 20px;

  label {
    display: block;
  }

  select {
    margin-right: 10px;
  }

  o-button__add {
    padding: 5px 8px;
    border: 1px solid #9fc7d8;
    background-color: #9fc7d8;
    color: rgb(0, 0, 0);
  }
}

.cedar-heading__level3 {
  margin: 0 0 20px;
  color: rgb(0, 85, 129);
  font-size: 1.1em;
  font-weight: bold;
}

.c-modal-content__cedar {
  padding: 0;
  margin: 0;

  .mat-card {
    padding: 0;
    margin: 0;
    box-shadow: none !important;
    background-color: white !important;
  }
}

.template-card {
  padding: 0;
  margin: 0;
  background-color: white !important;
}

.mat-card-header .mat-card-title {
  fond-size: inherit;
}

.mat-card {
  padding: 0;
  margin: 0;

  /* should be h1 */
  .mat-card-title {
    margin: 0 0 20px;
    color: #cf4817;
    font-size: 1.8em;
    font-weight: normal;
  }

  .mat-card-header-text {
    padding: 0;
    margin: 0;
  }

  .mat-card {
    padding: 0;
    margin: 0;

    /* should be h2 */
    .mat-card-header {
      display: block;
      margin: 0;
      margin-block-start: 0.83em;
      margin-block-end: 0.83em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
    }

    .mat-card-title {
      margin-bottom: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
      background-color: rgb(0, 85, 129);
      color: rgb(255, 255, 255);
      font-size: 1.3em;
      font-weight: normal;    
    }

    .mat-card-header-text {
      margin: 0;
    }

    /* should be h3 */
    .mat-card .mat-card-title {
      background-color: white;
      color: black;
    }
  }
}

.mat-card-avatar {
  display: none;
}

/* tooltips */
.mat-tooltip {
  /* this background-color is just to prove that the selector is getting the correct element; 
  remove it when we get the positioning to work properly */
  background-color: rgb(20,20,0) !important;
  z-index: 100000 !important;
  position: relative;
}

/* ********************************************** */

