// ##### Upload Modal Component ##### //

.c-uploadmodal {
  border: none;

  &::backdrop { // native
    background-color: rgba(0, 0, 0, 0.5);
  }

  + .backdrop { // polyfill
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.c-uploadmodal__header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.c-uploadmodal__textarea-url-label {
  @extend %o-heading__level2;
  display: block;
  margin-top: 0;
  margin-bottom: $spacing-md;
}

.c-uploadmodal__button-close-modal {
  display: block;
  padding: 15px;
  border: none;
  background: $design-white-color inline('../images/icon_close-blue.png') center / 18px no-repeat;
}

.c-uploadmodal__textarea-url {
  width: 100%;
  height: 200px;
}

.c-uploadmodal__text-content {
  margin-top: $spacing-md;
  margin-bottom: $spacing-md;
}

.c-uploadmodal__button-validate {
  display: block;
  margin-top: $spacing-md;
}

.c-modal-content__normal {
  width: 40rem;
  float: left;
}

.c-modal-content__wide {
  width: 95%;
  float: left;
}
