// ##### Upload Table Component ##### //

.c-uploadtable-wrapper {
  margin-bottom: $spacing-lg;
}

.c-uploadtable {
  th,
  td {
    padding: $spacing-sm;
    border: thin solid #888;
    text-align: left;
  }

  th {

    &[scope='col'] {
      font-weight: bold;
    }

    &[scope='row'] {
      font-weight: normal;
    }
  }

  tr:not(:first-child) th {
    font-weight: normal;
  }

  a {
    @extend %o-link__primary;
  }

  button {
    @extend %o-link__primary;
    padding: 0;
    border: none;
    background-color: transparent;
    color: $design-dark-blue-color;
  }

  .c-uploadtable-size {
    font-size: .9em;
  }
}

.c-uploadtable__status {
  width: 5rem;

  progress {
    width: 100%;
  }
}
