// ##### Global Variables ##### //

// ***** General ***** //

$global-search-width: 190px;
$input-height: 30px;

// ***** Colors ***** //

$design-dark-blue-color: #00527A;
$design-medium-blue-color: #00669b;
$design-light-blue-color: rgb(72, 145, 175);
$design-lighter-blue-color: lighten($design-light-blue-color, 25%);
$design-dark-gray-color: rgb(78, 80, 80);
$design-light-gray-color: rgb(157, 159, 162);
$design-extra-light-gray-color: rgb(211, 211, 211);
$design-super-extra-light-gray-color: rgb(235, 235, 235);
$design-orange-color: #cf4817;
$design-light-orange-color: rgb(237, 129, 90);
$design-black-color: rgb(0, 0, 0);
$design-black-color-forty-percent: rgba(0, 0, 0, 0.4);
$design-white-color: rgb(255, 255, 255);
$design-offwhite-color: rgb(242, 242, 242);
$design-red-color: rgb(209, 44, 29);
$design-pink-color: rgb(249, 213, 210);
$design-green-color: #3c763d;
$bhavis-random-color: rgb(51, 140, 175);
$design-standard-link: #00e;
$design-dark-navy-color: #07364b;
// $design-slate-color: #2c6261;
$design-slate-color: #2f4f4f;

// ***** Link Colors ***** //

$link-body-color: $design-dark-blue-color;
$link-body-hover-color: $design-orange-color;
$link-body-visited-color: #65007a;

$link-globalnav-color: $design-black-color;
$link-globalnav-hover-color: $design-orange-color;

// ***** Breakpoints ***** //

$screen-sm-min: 480px;
$screen-md-min: 760px;
$screen-lg-min: 870px;
$screen-max: 1280px;

// ***** Spacing ***** //

$spacing-base: .5rem;
$spacing-sm: 1rem;
$spacing-md: 2rem;
$spacing-lg: 3rem;
$spacing-body: $spacing-sm;
