// ##### Why Share section ##### //

.o-heading__level2-why-share {
  margin-top: .6rem;
  margin-bottom: $spacing-sm;

  @include bp(screen3) {
    text-align: center;
  }

}

.t-home__why-share-group {
  padding-top: $spacing-sm;
  @media (max-width: 550px) {
    margin-bottom: $spacing-md;
  }
}

.c-why-share {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  height: 100%;
}

.c-why-share__icon {
  color: $design-dark-blue-color;
  text-align: center;
}

.c-why-share__halo {
  position: relative;
  top: -18px;
  width: 100%;
  height: 16px;
  text-align: center;
}

.c-why-share__user {
  position: relative;
  top: -15px;
  width: 100%;
  height: 32px;
  text-align: center;
}

.c-why-share__icon-squish {
  display: block;
  clear: both;
  transform: scale(1, 0.3); /* W3C */
}


.c-why-share__info {
  width: 100%;
  display: inline-flex;
  flex-direction: column;

  @media (max-width: 550px) {
    flex: 1 0 100%;
    padding: $spacing-sm 0;
    &:not(:last-child) {
      border-bottom: thin solid $design-orange-color;
    }
  }

  @media (min-width: 550px) and (max-width: 1000px) {
    /* two column */
    flex: 1 0 50%;
    padding: $spacing-sm 0 $spacing-md;

    &:nth-child(-n+2) {
      border-bottom: thin solid $design-orange-color;
    }

    &:nth-child(odd) {
      border-right: thin solid $design-orange-color;
    }
  }

  @media (min-width: 1000px) {
    /* four column */
    flex: 1 0 24%;
    height: auto;
    margin-bottom: $spacing-md;

    &:not(:last-child) {
      border-right: thin solid $design-orange-color;
    }
  }
}

.c-why-share__text-group {
  padding: 0 $spacing-md;

  div {
    font-size: 1.1rem;
    line-height: 150%;

    @include bp(screen3) {
      font-size: 1.3rem;      
    }
  }
}
