// ##### Styles for Dash ##### //

// ***** Global Settings ***** //

@import 'variables';
@import 'mixins';
@import 'testing';

// ***** Vendor Libraries ***** //

@import '../bower_components/normalize-scss/_normalize.scss';

// ***** Objects ***** //

@import 'banner';
@import 'buttons';
@import 'data-list-heading';
@import 'dataset-nav';
@import 'download';
@import 'drop';
@import 'global-search';
@import 'headings';
@import 'home-search';
@import 'links';
@import 'list';
@import 'logout';
@import 'map';
@import 'metadata';
@import 'metrics';
@import 'quote';
@import 'section';
@import 'select';
@import 'showhide';
@import 'sites';
@import 'table';

// ***** Components ***** //

@import 'alert';
@import 'autosave';
@import 'choose';
@import 'columns';
@import 'datasets-heading';
@import 'data-results';
@import 'facet';
@import 'fieldsets';
@import 'file-group';
@import 'footer';
@import 'form-group';
@import 'header';
@import 'input';
@import 'keywords';
@import 'latest';
@import 'license';
@import 'location';
@import 'locations';
@import 'orcid';
@import 'pagination';
@import 'progress';
@import 'pubdate';
@import 'review-files';
@import 'sidebox';
@import 'table-heading';
@import 'table-latest';
@import 'table-progress';
@import 'table-submitted';
@import 'upload-file';

// ***** Themes ***** //

@import 'datasets';
@import 'describe';
@import 'help';
@import 'home';
@import 'landing';
@import 'review';
@import 'search-results';
@import 'upload';

// ***** Global Styles ***** //

@import 'fonts';
@import 'resets';
@import 'ui-library';

body {
	max-width: $screen-max - ($spacing-lg * 2);
	margin: 0 auto;
	padding: 10px;
	font-family: 'KievitWeb';

	/* Blacklight/geoblacklight resets */
	font-size: initial;
	line-height: initial;

	@include bp(screen1) {
		padding: 10px 20px;
	}

	@include bp(screen2) {
		padding: 10px 30px;
	}

}
