<div id="internal_data" style="clear: both">
  <div style="float: left"><h2>Notifications</h2></div>

  <% if policy([:stash_engine, :admin_datasets]).data_popup? %>
    <div style="float: right">
      <br/>
      <%= form_with(url: admin_dash_edit_delete_reference_date_path(id: @identifier&.id, field: 'curation_activity'), method: :get, local: false) do %>
        <button class="o-button__submit" aria-haspopup="dialog" aria-expanded="false" id="data_button_<%= @identifier&.id %>" style="width: auto">
          Change delete reference date
        </button>
      <% end %>
    </div>
  <% end %>
</div>
