<table class="c-lined-table" id="payment_info_table">
  <thead>
    <tr>
      <th>Payment type</th>
      <th>Payment ID</th>
      <th>Waiver basis</th>
    </tr>
  </thead>
  <tbody>
    <tr class="c-lined-table__row">
      <td>
        <% if @identifier.user_must_pay? && (@identifier.payment_type.blank? || @identifier.payment_type == 'unknown') %>
          User
        <% else %>
          <%= @identifier.payment_type %>
        <% end %>
      </td>
      <td><%= @identifier.payment_id %></td>
      <td><%= @identifier.waiver_basis %></td>
    </tr>
  </tbody>
</table>
