<%= form_with(url: stash_url_helpers.url_for(controller: 'stash_engine/admin_datasets', action: 'stats_popup', id: resource_id, only_path: true),
             method: :get, local: false) do -%>
  <button class="c-admin-edit-icon js-stats" title="See dataset statistics" aria-label="See dataset statistics"><i class="fa fa-bar-chart" aria-hidden="true"></i></button>
<% end %>
