// replace dialog div with contents of dialog text from partial
<% title = @resource.title&.html_safe %>

$('#genericModalContent').html("<h1><%= escape_javascript(title) %></h1><%= escape_javascript(@error_message) %>");
$('#genericModalDialog')[0].showModal();

