// replace dialog div with contents of dialog text from partial
<% title = @resource.title.html_safe %>

$('#genericModalContent').html("<h1><%= title %></h1><%= @error_message %>");
$('#genericModalDialog')[0].showModal();

