// ##### Data List Heading ##### //

.c-data-list-heading {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
}

.c-data-list-heading__text {
	flex: 1 0 auto;
	margin: 0 10px 10px 0;
	font-size: 1.1em;
	font-weight: bold;
}

.c-data-list-heading__buttons {
	display: flex;
	flex: 1 0 auto;
	justify-content: space-around;
	margin: 0 0 10px;
}
