---
http_interactions:
- request:
    method: get
    uri: https://www.research.gov/awardapi-service/v1/awards.json?id=1457726&printFields=agency,fundProgramName,id,offset,primaryProgram,title,date
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{
      "response": {
        "parameters":{"offset":"1"},
        "award":[
          {
            "agency":"NSF",
            "fundProgramName":"Biodiversity: Discov &Analysis",
            "id":"1457726",
            "primaryProgram":["01001516DB NSF RESEARCH & RELATED ACTIVIT","01001617DB NSF RESEARCH & RELATED ACTIVIT"],
            "date":"03/23/2015",
            "title":"Collaborative Research: A Comparative Phylogeographic Approach to Predicting Cryptic Diversity"
          }
        ]
      }}'
  recorded_at: Mon, 22 Sep 2025 14:11:47 GMT
recorded_with: VCR 6.3.1
