---
http_interactions:
- request:
    method: get
    uri: https://www.research.gov/awardapi-service/v1/awards.json?id=1457726&printFields=agency,fundProgramName,id,offset,primaryProgram,title,date
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"response":{"parameters":{"offset":"1"},"award":[]}}'
  recorded_at: Mon, 22 Sep 2025 14:11:48 GMT
recorded_with: VCR 6.3.1
