<% if !review.readme_content.blank? %>
  <% content = review.readme_content %>
  <div id="landing_readme">
    <% readme_html = readme_render content.sub(/^# /, '# README: ') %>
    <% readme_parsed = Nokogiri::HTML5::DocumentFragment.parse(readme_html)
      pres = readme_parsed.css('code, samp, kbd')
      pres.each do |pre|
        pre.content = CGI.unescapeHTML(pre.content)
      end
      h2 = display_desc(readme_parsed.css('h2')&.first&.inner_html)&.html_safe %>
    <% if params[:controller].include?('landing') %>
      <h2 class="expand-button"><button id="readme" aria-expanded="false" aria-controls="readme-sec"><%= h2.presence || 'README' %></button></h2>
    <% else %>
      <h2><%= h2.presence || 'README' %></h2>
    <% end %>
    <div id="readme-sec" class="t-landing__text-wall" <% if params[:controller].include?('landing') %>hidden<% end %>>
      <% readme_parsed.search('h2')&.first&.remove %>
      <%= display_desc(readme_parsed).html_safe %>
    </div>
  </div>
<% end %>