<h3 class="o-heading__level2">Abstract</h3>
<p>
  <%= abstract.description %>
</p>

<h3 class="o-heading__level2">Methods</h3>
<p>
  <%= methods.description %>
</p>

<h3 class="o-heading__level2">Usage Notes</h3>
<p>
  <%= usage_notes.description %>
</p>