// ##### Alert Component ##### //

%c-alert {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-bottom: $spacing-md;
	padding: 15px 15px 15px 50px;
	border-radius: 5px;
	background-repeat: no-repeat;
	background-position: left 15px top 15px;
	background-size: 20px;
	color: $design-white-color;
	font-size: 1.1em;
}

.c-alert--success {
	@extend %c-alert;
	background-color: $design-green-color;
	background-image: inline('../images/icon_success.svg');
}

.c-alert--informational {
	@extend %c-alert;
	background-color: $design-dark-gray-color;
	background-image: inline('../images/icon_info.svg');
}

.c-alert--notification {
  @extend %c-alert;
  background-color: $design-slate-color;
  background-image: inline('../images/icon_info.svg');
}

.c-alert--error {
	@extend %c-alert;
	background-color: $design-red-color;
	background-image: inline('../images/icon_warning-white.svg');
}

.c-alert__text {
	// empty
}

.c-alert__close {
	margin: 0 0 0 12px;
}
