// ##### Headings Object ##### //

%o-heading__level1 {
  margin: 0 0 $spacing-md;
  color: $design-orange-color;
  font-size: 2em;
  font-weight: normal;
}

.o-heading__level1 {
  @extend %o-heading__level1;
}

.o-heading__level1-home {
  @extend %o-heading__level1;
  text-align: center;
}

%o-heading__level2 {
  margin: 12px 0 $spacing-md;
  color: $design-dark-blue-color;
  font-size: 1.3em;
  font-weight: normal;
}

.o-heading__level2 {
  @extend %o-heading__level2;
}

.o-heading__level2-why-share {
  text-align: center;
}

%o-heading__level3 {
  margin: 0 0 $spacing-md;
  color: $design-black-color;
  font-size: 1.1em;
  font-weight: bold;
}

.o-heading__level3 {
  @extend %o-heading__level3;
}

.o-heading__page-span {
  @extend %pull-background;
  margin-bottom: $spacing-md;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: $design-dark-blue-color;
  color: $design-white-color;
  font-size: 1.3em;
  font-weight: normal;
}
