.c-horizontal-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 1em 0;
}

%c-horizontal-form__input {
  display: inline-block;
  margin-right: 2em;
}

.c-horizontal-form__input {
  @extend %c-horizontal-form__input;
}

.c-horizontal-form__input--search {
  @extend %c-horizontal-form__input;
  width: 20em;
  margin-right: 0;
}

.c-horizontal-form__input--filter-by {
  @extend %c-horizontal-form__input;
  margin-right: 1em;
}

.c-horizontal-form__input--status {
  @extend %c-horizontal-form__input;
  margin-right: 3em;
}
