.t-login__section {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.t-login__box {
  flex-basis: 20em;

  a:link,
  a:visited,
  a:hover,
  a:active {
    color: $design-dark-blue-color;
    text-decoration: none;
  }
}

.t-login__info {
  flex-basis: 30em;
  text-align: left;
}

.t-login__or-box {
  width: 100px;
  margin: 0 auto;
}

.t-login__more-messages {
  display: flex;
  align-items: center;
  width: 300px;
  margin: 0 auto;
}

.t-login__orcid {
  display: block;
  width: 300px;
  height: 90px;
  margin-right: auto;
  margin-left: auto;
  background: inline('../images/logo_orcid.svg') center no-repeat;
}

.t-login__orcid-big {
  display: block;
  width: 10em;
  height: 10em;
  margin: 0 auto;
  padding: 20px;
}

.t-login__orcid-small {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
}

/*
.t-login__orcid-small {
  display: inline-block;
  width: 80px;
  height: 30px;
  background: inline('../images/logo_orcid.svg') center / 80px no-repeat;
}*/

.t-login__selector {
  display: inline-block;
  padding: 35px 0 0;
  text-align: center;
}

.o-heading__level2-login-with {
  @extend %o-heading__level2;
  margin-bottom: 0;
  font-size: 1.6em;
  text-align: center;

  a:link,
  a:visited,
  a:hover,
  a:active {
    color: $design-dark-blue-color;
    text-decoration: none;
  }
}
