// ##### Quote Object ##### //

.o-quote {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: 150px;
  background: linear-gradient(rgba($design-light-gray-color, 0.85) 150px, transparent 0), inline('../images/bg_ramon-y-cajal.png') 0 0 / cover no-repeat;
}

html.no-multiplebgs .o-quote {
	background: $design-light-gray-color;
}

.o-quote__quote {
	width: 320px;
	margin: 0 0 15px;
	color: $design-white-color;
	font-size: 24px;
	line-height: 1.3em;
}

.o-quote__author {
	width: 320px;
	color: $design-white-color;
	text-align: right;
}
