// ##### Latest Activity Table Component ##### //

// These styles extend the table object styles (o-table) and need to be applied together on the table element: <table class="o-table c-table-latest">

// ***** Large Screen Styles ***** //

@include bp(screen2) {

  .c-table-latest td:nth-of-type(1) {
    font-size: 1.1em;
  }

}

// ***** Small Screen Styles ***** //

@media (max-width: $screen-md-min - 1) {

  .c-table-latest td {
    margin: 0;

    &:nth-of-type(1) {
      font-size: 1.3em;
      font-weight: normal;
    }

  }

}
