// ##### Global Variables ##### //

// ***** General ***** //

$global-search-width: 190px;
$input-height: 30px;

// ***** Colors ***** //

$design-dark-blue-color: rgb(0, 85, 129);
$design-light-blue-color: rgb(72, 145, 175);
$design-lighter-blue-color: lighten($design-light-blue-color, 25%);
$design-dark-gray-color: rgb(124, 126, 127);
$design-light-gray-color: rgb(157, 159, 162);
$design-extra-light-gray-color: rgb(211, 211, 211);
$design-super-extra-light-gray-color: rgb(235, 235, 235);
$design-orange-color: rgb(230, 87, 34);
$design-black-color: rgb(0, 0, 0);
$design-white-color: rgb(255, 255, 255);
$design-offwhite-color: rgb(242, 242, 242);
$design-red-color: rgb(209, 44, 29);
$design-green-color: rgb(56, 152, 24);
$bhavis-random-color: rgb(51, 140, 175);
$design-standard-link: #00e;
$design-dark-navy-color: #07364b;
// $design-slate-color: #2c6261;
$design-slate-color: #2f4f4f;


// ***** Breakpoints ***** //

$screen-sm-min: 480px;
$screen-md-min: 760px;
$screen-lg-min: 870px;
$screen-max: 1280px;

// ***** Spacing ***** //

$spacing-base: 5px;
$spacing-sm: 10px;
$spacing-md: 20px;
$spacing-lg: 30px;
$spacing-body: $spacing-sm;
