/*
    TODO: see if it's possible to remove this classes and uses only
      the ones from UI Library
*/

.UploadFiles {
    margin-bottom: 50px;
}

.LoadingSpinner {
    height: 70px;
    width: 70px;
    margin-top: -20px;
}

img.Spinner {
    display: block;
    margin: auto;
    height: 50%;
    width: 50%;
    object-fit: contain;
}
