.UploadFiles {
    margin-bottom: 50px;
}

h1 {
    color: #cf4817;
}

h1.FileTitle {
    font-size: x-large;
    color: #005581;
}

table {
    width: 100%;
}

th {
    text-align: left;
}

th, td {
    padding: 5px;
}

table, th, td {
    border: 1px solid;
}