<h1>Zenodo submission queue</h1>
<p>
  <%= @zenodo_copies.count %> items in list.
</p>

<p>
  Look at the <strong>state</strong> column after clicking <strong>resend</strong> to see that action was taken:
</p>
<ul>
  <li><strong style="color: #F00">prerequisite</strong> means another items in the series must be submitted first</li>
  <li>
    <strong style="color: #F00">in runner</strong> means the item is already in the delayed job runner (though you may want to clear it in
    the database if the execution has expired or it received a SIGTERM and then "reset stalled" below)
  </li>
  <li><strong style="color: #0F0">...submitting</strong> means you just successfully re-enqueued a submission</li>
</ul>

<p>
  <%= button_to('Reset stalled to error state', zenodo_queue_set_errored_path, class: 'o-button__plain-text2') %>
</p>
<div id="status_table">
  <%= render partial: 'status_table' %>
</div>

<h2>Information</h2>

<ul>
  <li>
    Click an <em>id</em> or <em>error</em> to see the full information in the Zenodo Copies table as
    well as any delayed job worker queue information.
  </li>
  <li>
    Clicking an identifier id shows all the errored submissions for one dataset.  This can be useful if you want to troubleshoot
    just one dataset or resubmit items in order.
  </li>
  <li>
    Hovering over an error displays more information.
  </li>
  <li>
    Clicking <em>resend</em> will re-insert a job into the delayed job worker queue to send to Zenodo again.
  </li>
  <li>
    The <em>Reset stalled to error state</em> button will look through the items in the list and reset any that are not
    in the active delayed job queue (ie actively replicating or waiting to replicate) to an error state.  This makes the
    list more accurate for stalled items.
  </li>
</ul>
