<% @page_title = 'Create a submission' %>
<% content_for(:head) do %>
<!-- needed for react -->
<%= javascript_pack_tag 'application' %>
<%= stylesheet_pack_tag 'application' %>
<% end %>
<div id="find_or_create"
    data-load="<%= stash_url_helpers.datacite_metadata_entry_pages_path(resource_id: params[:resource_id], display_validation: params[:display_validation], format: :js) %>" aria-live="assertive">
  <p><i class="fas fa-spin fa-spinner" aria-hidden="true"></i></p>
</div>
