<%# the local variable 'related_identifier' should be passed in to this partial %>
<div class="js-related_id_errors">
  <% unless related_identifier&.related_identifier.blank? %>
    <% unless related_identifier.valid_doi_format? %>
      <div class="o-metadata__autopopulate-message">Please ensure that your DOI identifier above is in a valid format</div>
    <% end %>
    <% unless related_identifier.verified? %>
      <div class="o-metadata__autopopulate-message">Your DOI identifier above couldn't be verified</div>
    <% end %>
  <% end %>
</div>