<% unless related_identifiers.blank? || related_identifiers.length < 1 %>
  <h2 class="o-heading__level2">References</h2>
  <ul class="o-list">
    <% related_identifiers.each do |related_identifier| %>
      <li>This dataset <%= related_identifier.relation_name_english %>
        <%= display_id(type: related_identifier.related_identifier_type,
                         my_id: related_identifier.related_identifier) %></li>
    <% end %>
  </ul>
<% end %>
