<div class="o-metadata__group2">
  <div class="o-metadata__group2-item">Publication date: <%= formatted_date(resource.publication_date) %></div>
  <div class="o-metadata__group2-item">Publisher: <%= resource.try(:publisher).try(:publisher) %></div>
  <% if resource.identifier %>
    <div class="o-metadata__group2-item">
      <%= display_id_plain(type: resource.identifier.identifier_type,
                           my_id: resource.identifier.identifier) %>
    </div>
  <% end %>
</div>
