<% @page_title = "Privacy Policy and Terms of Service" %>

<h1>Terms of Service Coming Here</h1>

<p>They will be migrated from <a href="https://datadryad.org/pages/policies">Terms of Service</a></p>.
