<% @page_title = "Privacy Policy and Terms of Service" %>

<h1>Privacy Policy</h1>

<p>Dryad respects the privacy of our users and works to protect the personally identifiable information we collect,
  which is limited to name and contact information. View our <a href="https://datadryad.org/pages/policies#privacy">full
  privacy policy</a></p>

<h1>Terms of Service</h1>

<p>To use Dryad's data publishing services, you must agree to the <a href="https://datadryad.org/pages/policies">Terms
  of Service</a></p>

<div class="c-terms-of-service">
  <%= button_to 'Yes. I accept the Terms of Service.', terms_accept_path , class: 'c-migrate-banner__button' %>
  <%= button_to 'I disagree. Log me out.', sessions_destroy_path, class: 'c-migrate-banner__button' %>
  <p/>
</div>
