<h2 class="o-heading__level1-home">How it works</h2>
<div class="t-home__why-share-group">
  <div class="c-why-share">
    <div class="c-why-share__info">
      <div class="c-why-share__icon" aria-hidden="true"><i class="fa fa-sign-in fa-2x" aria-hidden="true"></i></div>
      <div class="c-why-share__text-group">
        <h3 class="o-heading__level2-why-share">Login</h3>
        <div>
          Use your ORCiD. <a href="<%= stash_url_helpers.join_us_path(anchor: 'our_membership') %>">If your institution is a Dryad partner</a>, connect to your existing credentials.
        </div>
      </div>
    </div>
    <div class="c-why-share__info">
      <div class="c-why-share__icon" aria-hidden="true"><i class="fa fa-cloud-upload fa-2x" aria-hidden="true"></i></div>
      <div class="c-why-share__text-group">
        <h3 class="o-heading__level2-why-share">Submit</h3>
        <div>
          Whether or not your data are related to an article, <a href="<%= stash_url_helpers.submission_process_path(anchor: 'upload-methods') %>">upload your data files</a> and receive a citable DOI.
        </div>
      </div>
    </div>
    <div class="c-why-share__info">
      <div class="c-why-share__icon" aria-hidden="true"><i class="fa fa-users fa-2x" aria-hidden="true"></i></div>
      <div class="c-why-share__text-group">
        <h3 class="o-heading__level2-why-share">Review</h3>
        <div>
          <a href="<%= stash_url_helpers.submission_process_path(anchor: 'curation') %>">Our curators will check your submission</a> to ensure the data are usable. They may contact you with advice or questions.
        </div>
      </div>
    </div>
    <div class="c-why-share__info">
      <div class="c-why-share__icon" aria-hidden="true"><i class="fa fa-quote-left fa-2x" aria-hidden="true"></i> <i class="fa fa-quote-right fa-2x" aria-hidden="true"></i></div>
      <div class="c-why-share__text-group">
        <h3 class="o-heading__level2-why-share">Cite</h3>
        <div>
          <a href="<%= stash_url_helpers.submission_process_path(anchor: 'citation') %>">Cite and promote your data publication</a>!
        </div>
      </div>
    </div>
  </div>
</div>
