<div class="t-home__why-share-group">
  <h2 class="o-heading__level1-home">How it works</h2>
  <div class="c-why-share">
    <div class="c-why-share__info">
      <div class="c-why-share__icon" aria-hidden="true"><i class="fa fa-sign-in fa-2x" aria-hidden="true"></i></div>
      <div class="c-why-share__text-group">
        <h2 class="o-heading__level2-why-share">Login</h2>
        <div>
          Use your ORCiD. If your institution is a <a href="<%= stash_url_helpers.join_us_path(anchor: 'our_membership') %>">Dryad member</a>, connect to your existing credentials.
        </div>
      </div>
    </div>
    <div class="c-why-share__info">
      <div class="c-why-share__icon" aria-hidden="true"><i class="fa fa-cloud-upload fa-2x" aria-hidden="true"></i></div>
      <div class="c-why-share__text-group">
        <h2 class="o-heading__level2-why-share">Submit</h2>
        <div>
          Whether or not your data are related to an article, <a href="<%= stash_url_helpers.submission_process_path(anchor: 'upload-methods') %>">upload</a> your data files and receive a citable DOI.
        </div>
      </div>
    </div>
    <div class="c-why-share__info">
      <div class="c-why-share__icon" aria-hidden="true"><i class="fa fa-users fa-2x" aria-hidden="true"></i></div>
      <div class="c-why-share__text-group">
        <h2 class="o-heading__level2-why-share">Review</h2>
        <div>
          Our <a href="<%= stash_url_helpers.submission_process_path(anchor: 'curation') %>">curators</a> will check through your submission to ensure the data are usable. They may contact you with advice or questions.
        </div>
      </div>
    </div>
    <div class="c-why-share__info">
      <div class="c-why-share__icon" aria-hidden="true"><i class="fa fa-quote-left fa-2x" aria-hidden="true"></i> <i class="fa fa-quote-right fa-2x" aria-hidden="true"></i></div>
      <div class="c-why-share__text-group">
        <h2 class="o-heading__level2-why-share">Cite</h2>
        <div>
          <a href="<%= stash_url_helpers.submission_process_path(anchor: 'citation') %>">Cite</a> and promote your data publication!
        </div>
      </div>
    </div>
  </div>
</div>
