<% @page_title = 'About' %>
<h1>About</h1>

<% if current_tenant %>
    <div class="toc">
      <%= render "tenants/#{current_tenant.tenant_id}/about", toc: true %>
    </div>
    <%= render "tenants/#{current_tenant.tenant_id}/about" %>
<% else %>
    <p>A placeholder for the About page.</p>
<% end %>
