<% @page_title = 'Dryad APIs' %>
<% content_for(:head) do %>
  <script type="module" src="/openapi-explorer/dist/browser/openapi-explorer.min.js"></script>
<% end %>

<openapi-explorer id="api-explorer" spec-url="/openapi.yml" hide-components default-schema-tab="body">
  <div slot="overview-header"><h1 class="screen-reader-only">Dryad API</h1></div>
</openapi-explorer>

<% content_for(:doc_end) do %>
  <script type="text/javascript">
    const apiExplorer = document.getElementById('api-explorer');
    const observer = new MutationObserver((mutationsList, observer) => {
      for(let mutation of mutationsList) {
        if (mutation.type === 'childList' && apiExplorer.shadowRoot) {
          observer.disconnect();
          const style = apiExplorer.shadowRoot.querySelector('style')
          if (style) {
            style.append(`
              .body {
                flex-direction: row-reverse;
              }
              .nav-bar-paths-under-tag .nav-bar-path,
              .nav-bar-path:hover,
              .body a {
                text-decoration: underline;
              }
              .nav-bar-paths-under-tag .nav-bar-path {
                color: var(--secondary-color)
              }
              .body a:visited {
                color: var(--purple);
              }
              .nav-bar-paths-under-tag .nav-bar-path:hover,
              .body a:hover, .body a:focus {
                color: var(--hover-color);
              }
              .nav-bar-paths-under-tag .nav-bar-path:active,
              .body a:active {
                color: var(--red);
              }
              .main-content-inner {
                padding: 2px !important;
                padding-right: 5ch !important;
              }
              .section-gap--focused-mode {
                padding: 5px 0 0 !important;
              }
              .sticky-scroll-element {
                z-index: 0 !important;
              }
              h1, h2, h3, h4, h5, h6 {
                color: var(--primary-color);
                font-weight: normal;
              }
              h2 {
                margin-top: calc(var(--spacing-base) * 3.75);
                margin-bottom: calc(var(--spacing-base) * 2);
                font-size: 1.65rem !important;
                line-height: 2rem;
              }
              h3 {
                margin-top: calc(var(--spacing-base) * 3.5) !important;
                margin-bottom: calc(var(--spacing-base) * 1.5);
                font-size: 1.4rem !important;
                line-height: 1.75rem;              
              }
              h4 {
                margin-top: calc(var(--spacing-base) * 3);
                margin-bottom: calc(var(--spacing-base) * 1.5);
                font-size: 1.25rem !important;
                line-height: 1.5rem;
              }
              h5, h6 {
                margin-top: calc(var(--spacing-base) * 2);
                margin-bottom: var(--spacing-base);
                font-size: 1.125rem !important;
                line-height: 1.5rem;
              }
              h6 {
                font-style: italic;
              }
              .m-btn.primary:hover,
              .m-btn.primary:focus,
              .m-btn.primary.small:hover,
              .m-btn.primary.small:focus {
                color: white !important;                
              }
              .m-btn.primary:focus {
                border-color: white !important;
              }
              button:focus {
                outline: thin solid var(--hover-color) !important;
              }
            `)
          }
        }
      }
    });
    observer.observe(document, { childList: true, subtree: true });
  </script>
<% end %>