<% @page_title = 'Dryad APIs' %>
<% content_for(:head) do %>
  <script type="module" src="/openapi-explorer.min.js"></script>
<% end %>

<openapi-explorer spec-url="/openapi.yml" hide-components default-schema-tab="body">
  <div slot="overview-header"><h1 class="screen-reader-only">Dryad API</h1></div>
</openapi-explorer>