<% @page_title = 'Good data practices' %>
<div id="page-columns">
  <nav id="page-nav" aria-label="Page navigation">
    <%= render "layouts/best_practices", toc: true %>
  </nav>
  <div id="page-content"><%= render "layouts/best_practices" %></div>
</div>
