<% @page_title = 'Close page' %>

<body onload="window.open('', '_self', ''); window.close();">
    <h1>Operation complete</h1>
    <p>Please close this page and return to your previous page.</p>
</body>

