<% @page_title = 'Help' %>
<h1>Help</h1>

<% if current_tenant %>
    <div class="toc">
      <%= render "tenants/#{current_tenant.tenant_id}/help", toc: true %>
    </div>
    <%= render "tenants/#{current_tenant.tenant_id}/help" %>
<% else %>
    <p>A placeholder for the Help page.</p>
<% end %>
