<% @page_title = "Login error" %>

<h1 class="o-heading__level2">Unable to log in to your organization's Dryad account</h1>

<p>Please <%= link_to 'try logging in again', stash_url_helpers.choose_login_path %> while using
  your organization's network or VPN in order to validate your membership in Dryad.</p>

<p>
  After successfully logging in for the first time you will no longer need to be on your organization's network
  or VPN for subsequent logins.
</p>

<p>
  Please email <a href="mailto:help@datadryad.org">help@datadryad.org</a> if the problem persists after trying from your
  organization's network or VPN.
</p>

