<h1>Testing Milkdown</h1>

<p>Rather than installing it here, I'll point to the demo at <a href="https://milkdown.dev/playground">https://milkdown.dev/playground</a>.

<p>It seems to have basic features, including tables, yet some things are difficult to control.</p>

<ul>
  <li>If you insert a table, how do you add a row or column?</li>
  <li>I didn't see a way to switch between code and rendered view (which may be useful)</li>
  <li>I don't think we should expect most users to know to
    <blockquote>
      You can type `||` and a `space` to create a table
    </blockquote>
    Or other md syntax inside a GUI.
  </li>
  <li>I guess it is very expandable and open source-y</li>
</ul>

<script src="md_toast_ui.js"></script>
