<% @page_title = 'Terms of service' %>

<% if current_tenant %>
    <div class="toc">
      <!-- Since the content is same for all tenants currently, the partial layouts/about will be the commom part. -->
      <%#= render "layouts/terms", toc: true %>
    </div>
    <div class="terms-page">
      <%= render "layouts/terms" %>
    </div>
    <%#= render "tenants/#{current_tenant.tenant_id}/terms" %>
<% else %>
    <p>A placeholder for the Terms of Service page.</p>
<% end %>
