<% @page_title = "Web crawling isn't supported" %>

<h1 class="o-heading__level2">Why can't I add my HTML file?</h1>

<p>
  A HTML file by itself will not usually display or work correctly since it depends on many other files on the
  web site or the internet to work (such as additional CSS, Javascript and image files).
</p>

<p>
  In addition, we've found that HTML content is usually best added in another way or may indicate a problem.
</p>

<p>For example</p>

<ul>
  <li>
    A publisher's web page for a paper or other related work is probably best added under the
    <strong>Related works</strong> section and by using the DOI or other permanent identifier rather than trying
    to upload a live web page.
  </li>
  <li>
    If you are trying to upload a file from a file sharing site and it returns HTML then it probably means that
    site is presenting the file in a web page or with a warning rather than allowing direct retrieval of the file
    you want to preserve.
  </li>
  <li>
    The HTML file by itself isn't self-contained and may end up with missing dependencies which will change display and function.
    If you need to add additional information files to your dataset, then consider formats such as text,
    rich text or PDF that will be readable even after being moved and don't rely on additional external resources which may change.
  </li>
</ul>

<p>
  If you have a specialized case where you need to preserve a complete web page or web site, then web crawling tools such as
  <a href="https://archive.org" target="_blank">the Internet Archive</a>, <a href="https://archive-it.org">Archive-It</a>
  or <a href="https://www.httrack.com/">HTTrack</a> <em>may</em> preserve all the embedded dependencies and the context needed
  for a web page to be usable later at a different internet location.
</p>

<p>
  Web crawling and preservation tools are specialized and complex and fall outside Dryad's core uses for preserving datasets.
</p>

