<p>There are large files in dataset &ldquo;<%= @resource.title %>&rdquo;
  (<%= link_to(@resource.identifier_uri, @resource.identifier_uri)%>)
  for user <%= link_to(@resource.user.name, "mailto:#{@resource.user.email }") %>. 
</p>

<p>The current size of these files is <%= @resource.size %> bytes. -- Please discuss the
    file size and associated fees with the submitter."
</p>


