<h1>Welcome to Dash2 institution placeholder page</h1>
<p>Please choose your login below:</p>

<% @tenants.each do |tenant| %>
  <p><%= link_to tenant.long_name, tenant.omniauth_login_path %></p>
<% end %>

<% if Rails.env == 'development' %>
  <p>
    <a href="/stash/auth/developer">Developer login</a>
  </p>
<% end %>

