<h1>Welcome to Dash2 institution placeholder page</h1>
<p>Please choose your login below:</p>

<!-- this is something like /Shibboleth.sso/Login?target=https://#{host}/auth/shibboleth/callback -->

<!--
def self.login_path_with_entity(host, entity)
  "https://#{host}/Shibboleth.sso/Login?target=#{self.return_target(host)}&entityID=#{self.shibboleth_entity_id(entity)}"
end

# host would be dash2-dev.cdlib.org, for example.
# entity would be like urn:mace:incommon:ucop.edu  or https://idp.calstatela.edu/idp/shibboleth or urn:mace:incommon:ucla.edu

# self.return_target(host) is -> CGI.escape("https://#{host}/auth/shibboleth/callback")
# self.shibboleth_entity_id(entity) is -> CGI.escape(entity)

-->
<%# @tenants.inspect %>
<% @tenants.each do |tenant| %>
  <p><%= link_to tenant.long_name, tenant.omniauth_login_path %></p>
<% end %>
<!--
<p>
  <a href="https://dash2-dev.ucop.edu/Shibboleth.sso/Login?target=https%3A%2F%2Fdash2-dev.ucop.edu%2Fstash%2Fauth%2Fshibboleth%2Fcallback&entityID=urn%3Amace%3Aincommon%3Aucop.edu">UCOP Login</a>
</p>
-->
<% if Rails.env == 'development' %>
<p>
  <a href="/stash/auth/developer">Developer login</a>
</p>
<% end %>

<p>
  <a href="/stash/auth/orcid">Login to orcid</a>
</p>
