openapi: 3.1.0

info:
  title: dryad-api
  description: |
    The API for the [Dryad](https://datadryad.org) data publication and
    preservation platform.

    In addition to this documentation, please see the [descriptive API documentation](https://github.com/CDL-Dryad/dryad-app/tree/main/documentation/apis),
    particularly the [API Submission Examples](https://github.com/CDL-Dryad/dryad-app/blob/main/documentation/apis/submission.md) which give concrete
    examples of submission through the Dryad API.

    Our [Github documentation directory](https://github.com/CDL-Dryad/dryad-app/tree/main/documentation) will also be expanded further in the future as more
    documentation is created (though not all of it may be relevant to API users).

    Rate limits:
      - Anonymous users of the API are limited to 30 requests per minute, with a lower limit for downloads of data files.
      - Authenticated users of the API are limited to 120 requests per minute.
  version: "2.1.0"

servers:
  - url: https://datadryad.org/api/v2
    description: Main Dryad server
  - url: https://dryad-stg.cdlib.org/api/v2
    description: Staging server, for testing new features.

tags:
    - name: root
      description: Root-level API calls
    - name: datasets
      description: Dataset operations
    - name: versions
      description: Operations on individual versions of a dataset
    - name: files
      description: Operations on individual files of a dataset
    - name: reports
      description: Reports on content in Dryad
    - name: internal
      description: Internal APIs not of general interest to the public
    
paths:
  # --- root uri ----
  /:
    get:
      summary: The root of the API
      tags:
        - root 
      description: Mainly to have HATEOAS links to root level objects like datasets.
      responses:
        '200':
          description: The root of the API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/root_links'
              examples:
                success:           
                  externalValue: api/v2/docs/examples/root.json
        '406':
          $ref: '#/components/responses/Unacceptable'

  # --- test for bearer authentication ---
  /test:
    get:
      security:
        - bearerAuth: []
      summary: Test OAuth2 and bearer authentication.
      tags:
        - root 
      description: "Test authentication by sending authenticated headers like **'Accept: application/json'**, **'Content-Type: application/json'**, **'Authorization: Bearer {your-token}'**."
      responses:
        '200':
          description: a welcome message if successful
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: "Welcome Brenda Ngrulu"
                  user_id:
                    type: integer
                    example: 10
        '406':
          $ref: '#/components/responses/Unacceptable'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # --- datasets uris ---
  /datasets:
    get:
      summary: Get list of all datasets
      tags:
        - datasets 
      description: Items returned may depend on user or permission and are paged.
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
        - $ref: '#/components/parameters/publicationISSN'
        - $ref: '#/components/parameters/manuscriptNumber'
      responses:
        '200':
          description: A list of datasets.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/datasets'
              examples:
                success: 
                  externalValue: api/v2/docs/examples/datasets.json
        '406':
          $ref: '#/components/responses/Unacceptable'
    post:
      summary: Create a new dataset with a DOI automatically generated
      tags:
        - datasets 
      description: You must be logged in. Use the JSON structure and schema as shown below.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dc_metadata'
            examples:
              request:
                externalValue: api/v2/docs/examples/dataset_post_request.json
      responses:
        '201':
          description: response showing dataset info that has been saved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/datasets'
              examples:
                success:
                  externalValue: api/v2/docs/examples/dataset.json
        '406':
          $ref: '#/components/responses/Unacceptable'
        '401':
          $ref: '#/components/responses/Unauthorized'

  '/datasets/{doi}':
    get:
      summary: Get a dataset by its doi
      tags:
        - datasets 
      description: 
        Be sure to encode the DOI (see below for format). Datasets that are not yet published are only 
        retrievable by users with permission to access them.
      parameters:
        - $ref: '#/components/parameters/doi'
      responses:
        '200':
          description: A dataset
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dataset'
            examples:
              success:
                externalValue: api/v2/docs/examples/dataset.json
        '406':
          $ref: '#/components/responses/Unacceptable'
        '401':
          $ref: '#/components/responses/Unauthorized'
    put:
      summary: Update (overwrite) dataset metadata for DOI or insert new with specified DOI
      tags:
        - datasets 
      description: This will overwrite writeable metadata for an in-progress dataset or will create a new dataset with the specified DOI identifier if one doesn't exist.  This is an insert or update action (upsert).
      parameters:
        - $ref: '#/components/parameters/doi'
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dc_metadata'
            examples:
              request:
                externalValue: api/v2/docs/examples/dataset_post_request.json
      responses:
        '200':
          description: response showing dataset info that has been saved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/datasets'
              examples:
                success:
                  externalValue: api/v2/docs/examples/dataset.json
        '406':
          $ref: '#/components/responses/Unacceptable'
        '401':
          $ref: '#/components/responses/Unauthorized'
    patch:
      parameters:
        - $ref: '#/components/parameters/doi'
      security:
        - bearerAuth: []
      summary: Update state or details of an in-progress dataset
      tags:
        - datasets 
      description: "Sending a JSON patch request whose JSON body looks like **[ { 'op': 'replace', 'path': '/versionStatus', 'value': 'submitted' } ]**. (This is the most common command, attempting to change the versionStatus to Submitted.) Other options are available that are useful for integration with manuscript processing systems. See the [embedded Dryad documentation](https://github.com/CDL-Dryad/dryad-app/blob/main/documentation/apis/embedded_submission.md) for details. Set http header **'Content-Type: application/json-patch+json'** when making the request instead of a standard json content-type."
      requestBody:
        description: JSON Patch object
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/dataset_submission'
      responses:
        '202':
          description: Submission taking place, watch the dataset versionStatus for changes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dataset'
              examples:
                success:
                  externalValue: api/v2/docs/examples/dataset.json
        '406':
          $ref: '#/components/responses/Unacceptable'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: 'Your dataset cannot be updated now'
          $ref: '#/components/content/Error'

  '/datasets/{doi}/download':
    get:
      summary: Get download package for dataset.
      tags:
        - datasets 
      description: This would download the zip file for the latest submitted and visible version of the dataset to the user (if authorized) or the public.
      parameters:
        - $ref: '#/components/parameters/doi'
      responses:
        '200':
          description: The binary content for a compressed archive
          content:
            application/zip:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/Unauthorized'

  '/datasets/{doi}/versions':
    get:
      summary: Show all versions of a dataset
      tags:
        - datasets 
      description: The versions endpoint allows seeing all (visible) versions. This is in contrast to GETting the datasets endpoiunt for a DOI, since it only embeds metadata for the latest visible version.
      parameters:
        - $ref: '#/components/parameters/doi'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: A list of a dataset's versions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/versions'
              examples:
                success:
                  externalValue: api/v2/docs/examples/versions.json
        '406':
          $ref: '#/components/responses/Unacceptable'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # --- versions uris ---
  '/versions/{id}':
    get:
      summary: Show a specific dataset version
      tags:
        - versions
      description: "If you know the dataset version's internal id, you can request to see it directly. The versions endpoint lists the versions and their ids if you need to find this id."
      parameters:
        - $ref: '#/components/parameters/version_id'
      responses:
        '200':
          description: The version of the dataset
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/version'
              examples:
                success:
                  externalValue: api/v2/docs/examples/version.json
        '406':
          $ref: '#/components/responses/Unacceptable'
        '401':
          $ref: '#/components/responses/Unauthorized'

  '/versions/{id}/files':
    get:
      summary: Show a list of files and file metadata in this version
      tags:
        - versions
      description: Returns the list of files and file metadata for a known version of a dataset with the version id you specify.
      parameters:
        - $ref: '#/components/parameters/version_id'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: A list of the files in the version
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/files'
              examples:
                success:
                  externalValue: api/v2/docs/examples/files.json
        '406':
          $ref: '#/components/responses/Unacceptable'
        '401':
          $ref: '#/components/responses/Unauthorized'

  '/versions/{id}/download':
    get:
      summary: Get a download package for a dataset version
      tags:
        - versions
      description: This only works for versions submitted to the repository (and assuming permission to view).  Allows you to download a zip file for the contents for that version of the dataset.
      parameters:
        - $ref: '#/components/parameters/version_id'
      responses:
        '200':
          description: The binary content for a compressed archive
          content:
            application/zip:
              schema:
                type: string
                format: binary
        '404':
          description: 'not found'
          $ref: '#components/content/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'

  '/files/{id}':
    get:
      summary: Get metadata information about a file
      tags:
        - files
      description: Returns file metadata information (if visible to you) and if you know the internal id.  The version file list embeds this and also gives the internal ids.
      parameters:
        - $ref: '#/components/parameters/file_id'
      responses:
        '200':
          description: A single file
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/file'
              examples:
                success:
                  externalValue: api/v2/docs/examples/file.json
        '406':
          $ref: '#/components/responses/Unacceptable'
        '401':
          $ref: '#/components/responses/Unauthorized'
    delete:
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/file_id'
      summary: Remove a file from an in-progress dataset version
      tags:
        - files
      description: "This action only works on an in-progress dataset (this means that the latest version of a dataset associated with this file has to be in-progress). It will destroy the metadata and file if it's a staged file that hasn't been submitted to the repository yet.  If the file was submitted previously in an earlier version of the same dataset it will stage removal from the in-progress dataset version.  In order to finalize staged file changes into the storage repository, the in-progress dataset must be submitted again after all changes are ready."
      responses:
        '201':
          description: The file and metadata was removed from staging.  Or the file and metadata was staged for removal from this version.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/file'
              examples:
                success:
                  externalValue: api/v2/docs/examples/file.json
        '406':
          $ref: '#/components/responses/Unacceptable'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: 'This file must be part of an an in-progress version'
          $ref: '#/components/content/Error'

  '/files/{id}/download':
    get:
      summary: Download a specific file
      tags:
        - files
      description: Only files that have been stored in the storage repository may be downloaded (and ability to download may depend on the user).  Versions of a dataset still in-progress only have staged files that may not be downloaded until they have been submitted to the storage repository.
      parameters:
        - $ref: '#/components/parameters/file_id'
      responses:
        '200':
          description: The binary content of the file downloads as the http body.  The "Content-Type" and "Content-Disposition" headers will be set to reflect the file content-type and filename when downloading (following http standards).
          content:
            "*/*":
              schema:
                type: string
                format: binary
        '404':
          description: 'Not found'
          $ref: '#/components/content/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # --- upload a file in body with filename in url ---
  '/datasets/{doi}/files/{filename}':
    put:
      summary: Upload and stage a file for an in-progress dataset.
      tags:
        - files
      description: Allows uploading a file to be staged for submission to the storage repository. The files will be stored in the storage repository after the dataset is submitted.  The body of the request will be the file you are uploading.  Set the **'Content-Type'** http header to the appropriate mimetype for your file when uploading.
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/doi'
        - $ref: '#/components/parameters/filename'
      requestBody:
        description: a binary file with content-type set
        required: true
        content:
          "*/*":
            schema:
              type: string
              format: binary
      responses:
        '201':
          description: file was created on the server
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/file'
              examples:
                success:
                  externalValue: api/v2/docs/examples/file.json
        '401':
          $ref: '#/components/responses/Unauthorized'

  '/datasets/{doi}/urls':
    put:
      summary: Stage a file submission by URL
      tags:
        - files
      description: "The URL you specify will be deposited into the storage repository from a publicly accessible URL on the internet when the in-progress dataset is submitted.  The dataset must be an in-progress dataset. The URL will be validated and metadata about it obtained to populate metadata about the file when it is added.  Send the url to be retrieved as part of a JSON document like **{'url': 'http://example.org/testing/my/file.csv' }**.  Priviliged users may have additional options to specify URL metadata rather than having live-validation and metadata gathering performed from the Internet."
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/doi'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/url_json'
      responses:
        '201':
          description: Metadata for the URL was saved and the response json indicates information populated for a file object based on the URL.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/file'
              examples:
                success:
                  externalValue: api/v2/docs/examples/file.json
        '406':
          $ref: '#/components/responses/Unacceptable'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # --- internal ---
  '/processor_results/{id}':
    get:
      security:
        - bearerAuth: [ ]
      summary: Get processor results for the id given
      tags:
        - internal
      description: Shows the processor results stored in the database for the given ID
      parameters:
        - $ref: '#/components/parameters/processor_result_id'
      responses:
        '200':
          description: A json representation of processor results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/processor_result'
        '406':
          $ref: '#/components/responses/Unacceptable'
        '401':
          description: unauthorized
          $ref: '#/components/content/Error'
    put:
      security:
        - bearerAuth: [ ]
      summary: Overwrite processor results for the id given
      tags:
        - internal
      description: Overwrite the processor results stored in the database for the given ID, resource_id, dates can't be manually changed
      parameters:
        - $ref: '#/components/parameters/processor_result_id'
      responses:
        '200':
          description: A json representation of processor results that were saved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/processor_result'
        '406':
          $ref: '#/components/responses/Unacceptable'
        '401':
          description: unauthorized
          $ref: '#/components/content/Error'

  '/versions/{version_id}/processor_results':
    get:
      security:
        - bearerAuth: [ ]
      summary: Get processor results for the version given
      tags:
        - internal
      description: Shows the processor results stored in the database for the resource_id
      parameters:
        - $ref: '#/components/parameters/version_id'
      responses:
        '200':
          description: A json representation of processor results for the version id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/processor_results'
        '406':
          $ref: '#/components/responses/Unacceptable'
        '401':
          description: unauthorized
          $ref: '#/components/content/Error'
    post:
      security:
        - bearerAuth: [ ]
      summary: Create processor results for the id given
      tags:
        - internal
      description: Create new processor result in the database
      parameters:
        - $ref: '#/components/parameters/processor_result_id'
      responses:
        '200':
          description: A json representation of processor results that were saved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/processor_result'
        '406':
          $ref: '#/components/responses/Unacceptable'
        '401':
          description: unauthorized
          $ref: '#/components/content/Error'

  '/datasets/{doi}/related_works/{related_doi}':
    put:
      security:
        - bearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/related_type'
      summary: Update related works for a dryad doi
      tags:
        - internal
      description: Adds or updates related works for a dryad doi
      parameters:
        - $ref: '#/components/parameters/doi'
        - $ref: '#/components/parameters/doi'
      responses:
        '200':
          description: A json representation of related work that was saved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/relatedWork'
        '406':
          $ref: '#/components/responses/Unacceptable'
        '401':
          description: unauthorized
          $ref: '#/components/content/Error'

  # --- reports ---
  /reports:
    get:
      summary: Get a list of reports that are updated regularly
      tags:
        - reports
      responses:
        '200':
          description: A list of reports.
          content:
              application/json:
                schema:
                  $ref: '#/components/schemas/reports'
        '406':
          $ref: '#/components/responses/Unacceptable'

  '/reports/{name}':
    get:
      summary: Get a particular report
      tags:
        - reports
      parameters:
        - in: path
          name: name
          schema:
            type: string
          required: true
          description: "The name of a report."
      responses:
        '200':
          description: A report (CSV download)
          examples:
          content:
            text/csv:
              schema:
                type: string
        '406':
          $ref: '#/components/responses/Unacceptable'
        '500':
          description: Unable to render report file
          $ref: '#/components/content/Error'
        '404':
          description: Could not find requested report {name}
          $ref: '#/components/content/Error'

  # --- search ---
  /search:
    get:
      summary: Search over the publicly-available datasets
      tags:
        - root
      description: Search the published Dryad datasets by keyword, institutional affiliation, and date.
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
        - in: query
          name: q
          schema:
            type: string
          description:
            A list of terms to be searched. If multiple terms are
            supplied, matches will only be returned for items that contain
            all terms. Terms may include an `*` at the end to indicate a
            wildcard. A term may be negated to indicate terms that should *not*
            be present in the results (e.g., `cat -fish`).
        - in: query
          name: affiliation
          schema:
            type: string
          description:
            A *ROR* identifier specifying an institutional
            affiliation that must be present in the list of dataset authors. The
            identifier should be in the full "https" format and should be
            URL-encoded, e.g., `https%3A%2F%2Fror.org%2F00x6h5n95`.
        - in: query
          name: tenant
          schema:
            type: string
          description:
            The abbreviation for a "tenant" organization in
            Dryad. This will automatically search all affiliations associated
            with the given tenant. If both a *tenant* and *affiliation* are
            specified, the tenant will be ignored.
        - in: query
          name: modifiedSince
          schema:
            type: string
          description:
            A timestamp for limiting results. Datasets will
            only be returned that have been modified since the given
            time. The time must be specified in ISO 8601 format, and the time
            zone must be set to UTC, e.g., `2020-10-08T10:24:53Z`. Shortened versions
            of the time string are acceptable, e.g., `2020-10`.
      responses:
        '200':
          description: A list of datasets.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/datasets'
              examples:
                success:
                  externalValue: api/v2/docs/examples/datasets.json
        '400':
          description:
            Dryad encountered an error parsing the query options for the search.
            The most likely cause of this problem is an improperly-formatted timestamp
            for the `modifiedSince` parameter.
          $ref: '#/components/content/Error'

# ------------------
# --- components ---
# ------------------
components:
  
  responses:

    Unacceptable:
      description: '406 - unacceptable: please set your Content-Type and Accept headers for application/json'
      $ref: '#/components/content/Error'

    NotFound:
      description: 'not-found'
      $ref: '#/components/content/Error'

    Unauthorized:
      description: 'Unauthorized, must have current bearer token'
      $ref: '#/components/content/Error'
  
  content:

    Error:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'


  schemas:

    # --- root ---
    root:
      type: object
      properties:
        _links:
          $ref: '#/components/schemas/root_links'
      required:
        - _links

    root_links:
      type: object
      properties:
        self:
          $ref: '#/components/schemas/hal_link'
        "stash:datasets":
          $ref: '#/components/schemas/hal_link'
        "reports":
          $ref: '#/components/schemas/hal_link'
        curies:
          type: array
          items:
            $ref: '#/components/schemas/hal_curie'
      required:
        - self

    # --- Dataset(s) ---

    # plural
    datasets:
      allOf:
        - $ref: '#/components/schemas/hal_paged_response'
        - $ref: '#/components/schemas/embedded_datasets'

    embedded_datasets:
      type: object
      properties:
        _embedded:
          type: object
          properties:
            'stash:datasets':
              type: array
              items:
                $ref: '#/components/schemas/dataset'

    #singular
    dataset:
      allOf:
        - $ref: '#/components/schemas/dataset_links'
        - $ref: '#/components/schemas/version'
      properties:
            id:
              type: integer
            identifier:
              type: string
            storageSize:
              type: string
            license:
              type: string
            relatedPublicationISSN:
              type: string

    dataset_links:
      properties:
        _links:
          allOf:
            - $ref: '#/components/schemas/hal_self_link'
            - $ref: '#/components/schemas/hal_dataset_links'

    hal_dataset_links:
      properties:
        'stash:versions':
          $ref: '#/components/schemas/hal_link'
        'stash:version':
          $ref: '#/components/schemas/hal_link'
        'stash:download':
          $ref: '#/components/schemas/hal_link'
        curies:
          type: array
          items:
            $ref: '#/components/schemas/hal_curie'

    dataset_submission:
      properties:
        op:
          type: string
          enum: ['replace']
          example: replace
        path:
          type: string
          enum: ['/versionStatus']
          example: "/versionStatus"
        value:
          type: string
          enum: ['submitted']
          example: submitted

    # --- Version(s) ---
    # plural
    versions:
      allOf:
        - $ref: '#/components/schemas/hal_paged_response'
        - $ref: '#/components/schemas/embedded_versions'

    embedded_versions:
      type: object
      properties:
        _embedded:
          type: object
          properties:
            'stash:versions':
              type: array
              items:
                $ref: '#/components/schemas/version'

    # singular
    version:
      allOf:
        - $ref: '#/components/schemas/version_links'
        - $ref: '#/components/schemas/dc_metadata'
        - properties:
            versionNumber:
              type: integer
            userId:
              type: integer
            versionStatus:
              type: string
              description: Internal processing status, aka Merritt State.
            curationStatus:
              type: string
              description: Status in the curation workflow. See https://github.com/CDL-Dryad/dryad-app/blob/main/documentation/submission_flow.md
            visibility:
              type: string
              description: Whether this version is publicly visible or not
            versionChanges:
              type: string
              description: Whether this version has had files_changed, or only metadata_changed
            lastModificationDate:
              type: string

    version_links:
      properties:
        _links:
          allOf:
            - $ref: '#/components/schemas/hal_self_link'
            - $ref: '#/components/schemas/hal_version_links'

    hal_version_links:
      properties:
        'stash:dataset':
          $ref: '#/components/schemas/hal_link'
        'stash:files':
          $ref: '#/components/schemas/hal_link'
        'stash:download':
          $ref: '#/components/schemas/hal_link'
        curies:
          type: array
          items:
            $ref: '#/components/schemas/hal_curie'

    simple_version:
      allOf:
        - $ref: '#/components/schemas/dc_metadata'

    # --- file(s) ---

    # plural
    files:
      allOf:
        - $ref: '#/components/schemas/hal_paged_response'
        - $ref: '#/components/schemas/embedded_files'

    embedded_files:
      type: object
      properties:
        _embedded:
          type: object
          properties:
            'stash:files':
              type: array
              items:
                $ref: '#/components/schemas/file'

    # singular
    file:
      allOf:
        - $ref: '#/components/schemas/file_links'
        - properties:
            path:
              type: string
            size:
              type: integer
            mimeType:
              type: string
            status:
              type: string
            digest:
              type: string
            digestType:
              type: string

    file_links:
      properties:
        _links:
          allOf:
            - $ref: '#/components/schemas/hal_self_link'
            - $ref: '#/components/schemas/hal_file_links'

    # singular
    processor_result:
      allOf:
        - properties:
            id:
              type: integer
              example: 27
            resource_id:
              type: integer
              example: 48
            processing_type:
              type: string
              enum: ['excel_to_csv', 'compressed_info', 'frictionless']
              example: excel_to_csv
            parent_id:
              type: integer
              example: 747
            completion_state:
              type: string
              enum: ['not_started', 'processing', 'success', 'error']
              example: success
            message:
              type: string
              example: Completed processing with no errors
            structured_info:
              type: string
              example: "{\"cat\": \"dog\"}"
            created_at:
              type: string
              format: date-time
            updated_at:
              type: string
              format: date-time

    processor_results:
      type: array
      items:
        $ref: '#/components/schemas/processor_result'

    # singular
    url:
      properties:
        url:
          type: string

    hal_file_links:
      properties:
        'stash:dataset':
          $ref: '#/components/schemas/hal_link'
        'stash:version':
          $ref: '#/components/schemas/hal_link'
        'stash:files':
          $ref: '#/components/schemas/hal_link'
        'stash:download':
          $ref: '#/components/schemas/hal_link'
        curies:
          type: array
          items:
            $ref: '#/components/schemas/hal_curie'

    dc_metadata:
      type: object
      properties:
        title:
          type: string
        authors:
          type: array
          items:
            $ref: '#/components/schemas/author'
        abstract:
          type: string
        funders:
          type: array
          items:
            $ref: '#/components/schemas/funder'
        keywords:
          type: array
          items:
            type: string
        methods:
          type: string
        usageNotes:
          type: string
        locations:
          type: array
          items:
            $ref: '#/components/schemas/geolocation'
        relatedWorks:
          type: array
          items:
            $ref: '#/components/schemas/relatedWork'
      required:
        - title
        - authors
        - abstract

    author:
      properties:
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
        affiliation:
          type: string
        affiliationROR:
          type: string
        affiliationISNI:
          type: string
        orcid:
          type: string
        order:
          type: integer
    simple_author:
      properties:
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
        affiliation:
          type: string
    funder:
      properties:
        organization:
          type: string
        awardNumber:
          type: string
        identifier:
          type: string
        identifierType:
          description: type of identifier -- null, isni, grid, crossref_funder_id or other
          type: string
    relatedWork:
      properties:
        relationship:
          format: string
          enum: [ 'article', 'dataset', 'preprint', 'software', 'supplemental_information', 'primary_article', 'data_management_plan' ]
        identifierType:
          type: string
        identifier:
          type: string
    geolocation:
      properties:
        place:
          description: a place name.
          type: string
        box:
          $ref: '#/components/schemas/geolocationBox'
          description: a bounding box.
        point:
          $ref: '#/components/schemas/geolocationPoint'
          description: a coordinate point.
    geolocationBox:
      properties:
        swLongitude:
          description: the longitude of the southwest corner of the box.
          type: number
        swLatitude:
          description: the latitude of the southwest corner of the box.
          type: number
        neLongitude:
          description: the longitude of the northeast corner of the box.
          type: number
        neLatitude:
          description: the latitude of the northeast corner of the box.
          type: number
    geolocationPoint:
      type: object
      properties:
        latitude:
          description: the latitude of the point.
          type: number
        longitude:
          description: the longitude of the point.
          type: number
    embargo:
      type: object
      properties:
        embargoEndDate:
          format: date
          description: the end date of the embargo.
          type: string
    tenant:
      type: object
      properties:
        id:
          format: string
        abbreviation:
          format: string
        shortName:
          format: string
        longName:
          format: string
        domainName:
          format: string
    related_type:
      type: object
      properties:
        work_type:
          format: string
          enum: [ 'article', 'dataset', 'preprint', 'software', 'supplemental_information', 'primary_article', 'data_management_plan' ]
          example: article

    # --- Non-dataset APIs -- #
    reports:
      properties:
        _links:
          type: object
          properties:
            self:
              $ref: '#/components/schemas/hal_link'
            reports:
              type: array
              items:
                $ref: '#/components/schemas/hal_link'
            curies:
              type: array
              items:
                $ref: '#/components/schemas/hal_curie'

    # --- specific link section for different resources ---


    # --- generic linking methods that give links for boilerplate junk used everywhere ---
    # TODO: hal_links should be purged because it's too generic and doesn't express real link structure
    hal_links:
      properties:
        self:
          $ref: '#/components/schemas/hal_link'
        curies:
          type: array
          items:
            $ref: '#/components/schemas/hal_curie'
      required:
        - self

    hal_self_link:
      type: object
      properties:
        self:
          $ref: '#/components/schemas/hal_link'

    hal_page_links:
      properties:
        first:
          $ref: '#/components/schemas/hal_link'
        last:
          $ref: '#/components/schemas/hal_link'
        prev:
          $ref: '#/components/schemas/hal_link'
        next:
          $ref: '#/components/schemas/hal_link'

    paging_counts:
      properties:
        count:
          type: integer
        total:
          type: integer

    hal_link:
      type: object
      properties:
        href:
          type: string
          format: uri
      required:
        - href

    hal_curie:
      type: object
      properties:
        name:
          type: string
        href:
          type: string
          format: uri
        templated:
          type: boolean
      required:
        - name
        - href
        - templated

    hal_paged_response:
      allOf:
        - properties:
            _links:
              allOf:
                - $ref: '#/components/schemas/hal_self_link'
                - $ref: '#/components/schemas/hal_page_links'
        - $ref: '#/components/schemas/paging_counts'

    url_json:
      type: object
      properties:
        url:
          type: string
      required:
        - url

    Error:
      type: object
      properties:
        error:
          type: string


  # parameters for going into URLs (and json?)
  parameters:
    doi:
      in: path
      name: doi
      schema:
        type: string
      required: true
      description: "DOI like doi:10.1000/18238577 that should be escaped (example: doi%3A10.1000%2F18238577 )"

    version_id:
      in: path
      name: id
      schema:
        type: integer
      required: true
      description: "The version id is a unique integer and can be obtained from the list of versions for a dataset"

    processor_result_id:
      in: path
      name: id
      schema:
        type: integer
      required: true
      description: "The processor results id for a single item"

    file_id:
      in: path
      name: id
      schema:
        type: integer
      required: true
      description: "The file id is a unique integer and can be obtained from the list of files for a version of a dataset"

    filename:
      in: path
      name: id
      schema:
        type: string
      required: true
      description: "The filename is the filename for the file. It should be escaped in the URL (for example 'cat tundra.jpg' would be 'cat%20tundra.jpg'.  Your programming language will have a library to encode for you."

    page:
      in: query
      name: page
      schema:
        type: integer
      description:
        Which page of results to view. Defaults to page 1.

    per_page:
      in: query
      name: per_page
      schema:
        type: integer
      description:
        Number of results to return on each page. Defaults
        to 20. Maximum allowed is 100.

    publicationISSN:
      in: query
      name: publicationISSN
      schema:
        type: string
      description:
        ISSN of a journal associated with the datasets.

    manuscriptNumber:
      in: query
      name: manuscriptNumber
      schema:
        type: string
      description:
        Manuscript number associated with the dataset.

      
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
