// ##### Banner Object ##### //

.o-banner {
  display: flex;
  position: relative;
  z-index: 0;
  flex-flow: column nowrap;
  align-items: center;
  padding: 10px 0;
  background-color: $design-light-blue-color;

	// 'background-image: none' needs to override the inline background-image style in the HTML at small screen:

	// scss-lint:disable ImportantRule
  @media (max-width: $screen-sm-min - 1) {
  	background-image: none !important;
  }

  @include bp(screen1) {
    height: 27vw;
    padding: 10vw 0 0;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100%;

    // Blue, semi-transparent bar over banner image:

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(transparent 8vw, rgba($design-dark-blue-color, 0.6) 8vw, rgba($design-dark-blue-color, 0.6) 15vw, transparent 15vw);
  	}

  }

  @include bp(screen2) {
		padding: 75px 0 0;

  	&::before {
			background: linear-gradient(transparent 60px, rgba($design-dark-blue-color, 0.6) 60px, rgba($design-dark-blue-color, 0.6) 130px, transparent 130px);
  	}

  }

  @include bp(screen4) {
		height: 345px;
  }

}

html.no-multiplebgs .o-banner {
	padding: 20px 0;
	background: $design-light-blue-color;
}

.o-banner__tagline {
  z-index: 1;
  margin: 0 0 10px;
  color: $design-white-color;
  font-size: 1.7em;
  font-style: italic;

  @include bp(screen1) {
    margin: 0 0 2vw;
    font-size: 3.5vw;
  }

  @include bp(screen2) {
    font-size: 3.1vw;
  }

  @include bp(screen3) {
    font-size: 2.1em;
  }

  @include bp(screen4) {
    margin: 0 0 15px;
    font-size: 2.6em;
  }

}

.o-banner__button {
	display: inline-block;
    z-index: 1;
	padding: 6px 12px;
	background-color: $design-white-color;
	color: $design-dark-blue-color;
	text-decoration: none;

	@include bp(screen1) {
		padding: 6px 2vw;
		font-size: 2.8vw;
	}

	@include bp(screen2) {
		padding: 7px 16px;
		font-size: 1.3em;
	}

}
