// ##### Choose Files Component ##### //

.c-choose__input-file {
	@extend %hide;
}

.c-choose__input-file-label {
	display: block;
	padding: $spacing-sm;
	background-color: var(--c-uploadwidget-color);
	text-align: center;
	cursor: pointer;
}
