// ##### Search Field Component ##### //

$search-field-size: 28px;

.o-global-search {
  display: flex;
  height: $search-field-size;
}

.o-global-search__label {
  @extend %hide;
}

.o-global-search__input {
  @extend %fcontrol-focus;
  flex: 1 0 auto;
  padding: 0 0 0 0.5em;
  border: solid $design-light-blue-color;
  border-width: 1px 3px 1px 1px; // for focus styles
  font-size: 0.9em;

  &::placeholder {
    opacity: 1;
    color: $design-black-color;
  }

}

.o-global-search__submit-button {
  width: $search-field-size;
  border: none;
  background: $design-light-blue-color inline('../images/icon_magnifying-glass.svg') top 4px center no-repeat;
}
