// ##### Links Object ##### //

%o-link__primary {
  color: $design-dark-blue-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

}

.o-link__primary {
  @extend %o-link__primary;
}

.c-skipnav {
  @extend %hide;
  z-index: 15;
  padding: $spacing-sm;
  transition: opacity 0.5s;
  opacity: 0;
  background-color: $design-dark-blue-color;
  color: $design-white-color;

  &:focus {
    top: $spacing-sm;
    left: $spacing-sm;
    opacity: 1;
  }

}
