// ##### List Object ##### //

.o-list {
	margin: 0 0 10px;
	padding: 0;

	li {
    line-height: 1.5;
    list-style: none;
	}

}

.o-list-related {
	margin: 8px 0 6px;
	padding: 0;

	li {
		line-height: 1.25;
		list-style: none;
	}

	li:last-child {
		padding-bottom: 6px;
		list-style: none;
	}

}
