// ##### Review Files Component ##### //

.c-review-files {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	justify-content: space-between;
	margin: 0 0 10px;
}

.c-review-files__list {
	margin: 0 10px 0 0;
	padding: 0;
	list-style: none;

	li {
		margin: 0 0 10px;
	}

}

.c-review-files-button {
	margin: 0 0 10px;
}
