blockquote.c-text_styles {
  line-height: 135%;
  strong {
    font-weight: bold;
    letter-spacing:1px;
    text-shadow: 1px 0;
  }
}

ul.c-text_styles {
  li {
    margin: 1.2ex 0;
    padding: 0;
  }
  strong {
    font-weight: bold;
    letter-spacing:1px;
    text-shadow: 1px 0;
  }
}