<% if @in_progress_lines.blank? %>
  <p>You do not have any datasets in progress.</p>
<% else %>
  <table class="c-user-datasets-table">
    <%= render 'in_progress_head' %>
    <tbody>
      <%= render partial: 'in_progress_line', collection: @in_progress_lines, as: :line %>
    </tbody>
  </table>
  <%= paginate @resources, params: {page_size: @page_size}, remote: true %>
  <br/>
<% end %>
