<% if @submitted_lines.blank? %>
  <p>You do not have any submitted datasets.</p>
<% else %>
  <table class="c-user-datasets-table">
    <%= render 'submitted_head' %>
    <tbody>
    <%= render partial: 'submitted_line', collection: @submitted_lines, as: :line %>
    </tbody>
  </table>
  <%= paginate @resources, params: {page_size: @page_size}, remote: true %>
<% end %>
