<div class="c-space-paginator">
  <% pagination = Kaminari.paginate_array([], total_count: count).page(page).per(page_size) %>
  <%= paginate pagination, params: {controller: :admin_dashboard, action: :results, _: nil, _method: nil, authenticity_token: nil, utf8: nil, page_size: page_size, sort: params[:sort], direction: params[:direction], search: params[:search]}, remote: true %>
  <div class="c-paginator-page_size">
    Page size:
    <%[10, 50, 100].each do |ps| %>
      <% if ps == page_size.to_i %>
        <span class="page-current"><%= ps %></span>
      <% else %>
        <%= link_to(ps, stash_url_helpers.admin_dashboard_results_path(page_size: ps, page: 1, sort: params[:sort], direction: params[:direction], search: params[:search]), remote: true) %>
      <% end %>
    <% end %>
  </div>
</div>