document.getElementById('count_and_export').innerHTML = `<span><b><%= number_with_delimiter(@count) %></b> results</span><%= link_to "Export results as CSV", stash_url_helpers.admin_dashboard_results_path(format: :csv, search: params[:search], share: params[:share]), class: 'o-link__buttonlink' %>`;
document.getElementById('count_and_export').setAttribute('aria-busy', false)
document.getElementById('admin-pagination').innerHTML = "<%= escape_javascript(render(partial: 'pagination', locals: {count: @count, page: params[:page], page_size: params[:page_size], sort: params[:sort], direction: params[:direction], search: params[:search], share: params[:share]})) %>";

document.getElementById('search_charts').innerHTML = ''
document.getElementById('search_charts').append(document.createRange().createContextualFragment("<%= escape_javascript(render partial: 'search_charts', locals: { charts: @charts }) %>"));
document.getElementById('search_charts').setAttribute('aria-busy', false)