// replace dialog div with contents of dialog text from partial
document.getElementById('genericModalContent').innerHTML = '<h1 id="dialog-title">Update error!</h1><%= escape_javascript(@error_message) %>';
