document.getElementById('search_save').remove()
document.getElementById('search_open').removeAttribute('hidden')
document.getElementById('search_open').setAttribute('aria-expanded', false)
document.getElementById('search_open').firstElementChild.classList.add('fa-sliders')
document.getElementById('search_open').firstElementChild.classList.remove('fa-square-caret-up')
if (document.getElementById('search_edit')) {
  document.getElementById('search_edit').setAttribute('hidden', true)
  document.getElementById('search_edit').setAttribute('aria-expanded', false)
}
if (document.getElementById('search_clear')) {
  document.getElementById('search_clear').setAttribute('hidden', true)
}
<% if @saved_search %>
document.getElementById("search_head").innerHTML = 'Search results: <a href="/account/saved_searches" style="font-weight: normal;"><%= @saved_search.title %></a>';
<% unless @saved_search.default? %>
document.getElementById('search_form').firstElementChild.setAttribute('action', '/admin_dashboard?search=<%= @index %>')
const url = new URL(window.location.href);
url.searchParams.set('search', '<%= @index %>');
window.history.pushState(null, '', url.toString());
<% end %>
<% end %>
document.getElementById('search_form').setAttribute('hidden', true)
document.getElementById('save_buttons').setAttribute('hidden', true)
document.getElementById('genericModalDialog').close();