<% if Date.today < Date.parse('11-07-2026') %>
<div class="callout site_banner" id="popup" role="marquee" aria-labelledby="popup-label">
  <div><b id="popup-label">Help build a better Dryad.</b> We need your insight to better understand our impact on research, and improve our service. <a href="https://dryad.typeform.com/to/qnfEwGhH?utm_source=popup">Take our quick survey, and help shape our future</a>.</div>
</div>
<% end %>