<h3 class="o-heading__level2">References</h3>
<% unless related_identifiers.blank? %>
<p>This dataset is cited by:</p>
<ul class="o-list">
  <% related_identifiers.each do |related_identifier| %>
 		<li><%= related_identifier.related_identifier %>,&nbsp;
    <%= related_identifier.try(:related_identifier_type).try(:related_identifier_type) %>,&nbsp;
    <%= related_identifier.try(:relation_type).try(:relation_type) %></li>
  <% end %>
</ul>
<% end %>
