<p>
  You may upload <%= filesize(current_tenant.max_total_version_size) %> of files directly or up to
  <%= filesize(current_tenant.max_submission_size) %> of files by a sharing URL for where your data
  live on a public server.
</p>