$('#not_uploaded_file_<%= @temp_id%>').remove();

<%= render partial: 'stash_engine/data_files/redraw_files_table.js', locals: { resource: @resource} %>

// these are the upload buttons for items with the remove link visible, so upload hasn't started
var to_upload_buttons = $('.js-unuploaded .js-remove_link:visible').closest('.js-unuploaded').find('.js-upload-it');
if(to_upload_buttons.length && uploadInProgress){
  to_upload_buttons.first().click();
}else if($('.js-upload-it').length < 1 && uploadInProgress){
  // all are done, so stop the upload process
  uploadInProgress = false;
  $('#cancel_all').hide();
  updateButtonLinkStates(); // for file upload method
  $('#upload_message').removeClass();
  $('#upload_message').addClass('c-upload__upload-complete-text');
  $('#upload_message').html('<p>Upload complete.</p>');
  $('#upload_message').show(0); //.delay(5000).fadeOut(1000)
}
