<!doctype html>
<html>
<head>
  <meta charset='utf-8' />
  <%# wicked_pdf_stylesheet_link_tag "pdf" -%>
  <%# wicked_pdf_javascript_include_tag "number_pages" %>
</head>
<body ongload='number_pages'>
<div id="header">
  <%# wicked_pdf_image_tag 'mysite.jpg' %>
</div>
<div id="content">
  <%# yield %>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ultricies est quis magna posuere accumsan. Proin sodales vitae elit vitae gravida. Integer volutpat elementum quam sit amet commodo. Sed vitae mi erat. Phasellus gravida sed eros ac varius. Quisque et odio eros. Vivamus sed libero euismod, consequat nibh eu, tristique felis.
  </p>

  <p>
    Proin nunc mi, tincidunt a ante vitae, venenatis porta ligula. Vivamus vitae velit non felis ultricies posuere. Nulla ac ullamcorper tortor. Aenean interdum tortor a nunc pretium eleifend. Sed tempus maximus nulla ac rutrum. Duis eu facilisis sem, vitae ultricies ligula. Nullam dui erat, porta eu lacus vitae, sollicitudin pellentesque turpis. Integer volutpat interdum tellus, at gravida ante maximus viverra. Ut et risus ut libero suscipit facilisis molestie laoreet leo. Praesent quis malesuada erat. Vivamus ligula velit, efficitur id euismod non, euismod at velit. Suspendisse in porta odio, maximus posuere velit. Vestibulum mattis, mi ut dapibus fermentum, neque libero consequat ante, varius laoreet mi nisl a libero. Aenean id cursus lectus, ut facilisis eros. Ut finibus quam sit amet arcu tristique, non varius tortor laoreet.
  </p>

  <p>
    Vestibulum vitae ultrices massa, et pulvinar dolor. Nulla a vestibulum arcu. Cras eleifend lacinia quam sit amet rhoncus. Donec non velit interdum, semper ligula ac, ultrices turpis. Suspendisse rutrum elit rutrum, venenatis sapien tempus, eleifend leo. In tellus massa, dapibus a urna ac, pulvinar dapibus enim. Vivamus efficitur id lacus sit amet elementum. Aliquam felis arcu, blandit vitae porta eget, venenatis eget magna. Proin ultricies congue egestas. Pellentesque quis libero interdum, venenatis nulla tincidunt, ultrices lectus.
  </p>

  <p>
    Curabitur pellentesque quam quam, sit amet consectetur enim ullamcorper eu. Curabitur a nunc feugiat, iaculis neque ut, bibendum libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In pharetra ultricies lectus eget convallis. Aenean lacus ligula, interdum non ex molestie, elementum finibus purus. Nunc non commodo diam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras pharetra nunc at mauris blandit, vitae pharetra tellus feugiat. Curabitur tristique lacus eu nibh maximus hendrerit. Nunc at felis id erat malesuada fermentum.
  </p>

  <p>
    Nulla fermentum cursus enim in consequat. Curabitur tincidunt condimentum dui at vestibulum. Nulla iaculis posuere sapien et ornare. Nulla vel varius libero, quis pretium ligula. Curabitur bibendum orci cursus risus dictum, sit amet tempor quam tempus. Aenean iaculis mi ligula. Duis lobortis finibus augue, eget aliquam nunc ornare vitae. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam in dui in mi varius congue. Praesent ornare diam ut nunc tincidunt, vitae volutpat orci elementum. In varius massa nec ligula suscipit lobortis. Praesent venenatis tincidunt accumsan. Vivamus diam tortor, cursus in convallis a, venenatis consectetur odio. Aenean sed elit nec velit aliquet tincidunt aliquam nec nisi. Sed justo justo, tincidunt id scelerisque vitae, iaculis in ex. Etiam turpis lectus, aliquam vel imperdiet a, bibendum eu ipsum.
  </p>
</div>
</body>
</html>