<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @resources.each do |resource| %>
      <tr>
        <td><%= title(resource) %></td>
        <td><%= link_to 'Edit', stash_datacite.generals_edit_path(resource_id: resource.id), class: "btn" %></td>
        <td><%= link_to 'Delete', '#', class: "btn" %></td>
      </tr>
    <% end %>
  </tbody>
</table>