<% @page_title = 'Finalize submission - publish and preserve your data' %>
<%= render partial: 'stash_engine/shared/dataset_non_user_editor', locals: {resource: @resource} %>
<%= render partial: 'stash_engine/shared/dataset_steps_nav' %>

<div id="review"
    data-load="<%= metadata_url_helpers.resources_review_path(id: params[:id], format: :js) %>">
  <%= image_tag 'stash_engine/spinner.gif', size: '80x60', alt: 'Loading spinner' %>
</div>

