<%= render partial: 'stash_engine/shared/dataset_steps_nav' %>

<h1>Finalize Submission</h1>

<h2>Review Documentation</h2>
<div>
  <h3>Specifics for Datacite Review here from partial in stash_datacite engine</h3>
</div>