<% if params[:controller].include?('landing') %>
  <h1 class="o-heading__level1 <%= 'highlight' if highlight %>"><%= title %></h1>
<% else %>
  <h2 class="o-heading__level1 <%= 'highlight' if highlight %>"><%= title %></h2>
<% end %>
