<% @page_title = 'test page' %>
<%= javascript_pack_tag 'application' %>

<h1>test page</h1>

<%= react_component('components/MetadataEntry/RorAutocomplete') %>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ipsum faucibus vitae aliquet nec ullamcorper sit amet. Ac turpis egestas maecenas pharetra convallis. Leo vel orci porta non pulvinar neque laoreet suspendisse interdum. Elementum tempus egestas sed sed risus pretium quam. Hendrerit gravida rutrum quisque non tellus orci ac. Mattis molestie a iaculis at erat pellentesque. Eget duis at tellus at urna condimentum mattis pellentesque. Vehicula ipsum a arcu cursus. Sodales neque sodales ut etiam sit. Velit aliquet sagittis id consectetur purus ut. Amet risus nullam eget felis. At volutpat diam ut venenatis tellus in metus vulputate eu. Ipsum dolor sit amet consectetur adipiscing elit ut aliquam. Aliquet risus feugiat in ante metus dictum at. Vitae elementum curabitur vitae nunc sed velit dignissim. Quam pellentesque nec nam aliquam sem et tortor consequat id. Odio pellentesque diam volutpat commodo sed egestas egestas. Enim lobortis scelerisque fermentum dui faucibus in ornare quam.
</p>

<p>
  Integer enim neque volutpat ac tincidunt vitae semper quis. Amet tellus cras adipiscing enim. Auctor elit sed vulputate mi sit. Felis imperdiet proin fermentum leo vel orci. Natoque penatibus et magnis dis parturient. Proin nibh nisl condimentum id venenatis a condimentum vitae. Nascetur ridiculus mus mauris vitae ultricies leo integer. Diam maecenas ultricies mi eget mauris. Nunc non blandit massa enim nec dui. Amet dictum sit amet justo donec enim diam vulputate. Eu sem integer vitae justo eget magna fermentum iaculis eu. Enim nunc faucibus a pellentesque sit. Donec adipiscing tristique risus nec feugiat in. Scelerisque varius morbi enim nunc faucibus a. Suspendisse faucibus interdum posuere lorem ipsum dolor. Enim facilisis gravida neque convallis a cras semper auctor neque. Morbi tristique senectus et netus. Ac tortor vitae purus faucibus ornare suspendisse sed nisi lacus. Euismod in pellentesque massa placerat duis ultricies lacus sed.
</p>

<p>
  Mi proin sed libero enim sed faucibus turpis in. Diam maecenas sed enim ut sem. Non curabitur gravida arcu ac tortor dignissim convallis aenean. Vulputate dignissim suspendisse in est ante in. Id volutpat lacus laoreet non curabitur gravida arcu. Feugiat in fermentum posuere urna nec tincidunt praesent. Maecenas volutpat blandit aliquam etiam erat velit scelerisque in dictum. Accumsan lacus vel facilisis volutpat est velit egestas dui. Est ullamcorper eget nulla facilisi etiam. Vel pharetra vel turpis nunc eget lorem. In hac habitasse platea dictumst. Malesuada fames ac turpis egestas sed tempus urna et pharetra. Lacus luctus accumsan tortor posuere ac ut.
</p>

<p>
  Enim sed faucibus turpis in eu. Vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt. Purus sit amet volutpat consequat mauris nunc congue nisi vitae. Libero volutpat sed cras ornare arcu dui vivamus arcu felis. Integer eget aliquet nibh praesent tristique. Proin fermentum leo vel orci porta non. Massa vitae tortor condimentum lacinia quis vel eros. In massa tempor nec feugiat nisl pretium. Quis imperdiet massa tincidunt nunc pulvinar sapien et. Eget sit amet tellus cras. Gravida quis blandit turpis cursus in hac habitasse platea dictumst. Dictum at tempor commodo ullamcorper a lacus vestibulum.
</p>

<p>
  Facilisis magna etiam tempor orci eu lobortis elementum. Aenean pharetra magna ac placerat. Nec feugiat nisl pretium fusce id. Feugiat in fermentum posuere urna nec tincidunt praesent. Nibh nisl condimentum id venenatis. Vitae purus faucibus ornare suspendisse sed. Elementum sagittis vitae et leo. Risus nec feugiat in fermentum. Diam maecenas sed enim ut sem viverra aliquet eget. Porttitor lacus luctus accumsan tortor posuere.
</p>