<p class="share-link">
  <b>Reviewer sharing link:</b>
  <button title="Copy sharing link" aria-label="Copy sharing link" class="copy-icon" data-item="Sharing link"><i class="fa fa-paste" role="status"></i><span>Copy</span></button>
  <code id="sharing_link"><%= share.sharing_link %></code>
</p>
<p>Link to an anonymous download of your unpublished files. This is a temporary URL and should not be published or made publicly available.</p>