<div class="metadata_basics">
  <h1>Metadata basics</h1>
  <p>Comprehensive data documentation (i.e. metadata) is the key to future understanding of data. Without a thorough description of the context of the data file, the context in which the data were collected, the measurements that were made, and the quality of the data, it is unlikely that the data can be easily discovered, understood, or effectively used. Metadata is important not only to help people understand and make proper use of a data resource, but metadata also makes the resource discoverable (for example through internet searches or data indexing services). Read more about metadata in the <a href="http://www.dataone.org/sites/all/documents/DataONE_BP_Primer_020212.pdf">DataONE Primer on Data Management<span class="pdfIcon" role="img" aria-label=" (PDF)"></span></a>.</p>

  <p>Dash requires a few key pieces of metadata. A complete list of the metadata fields in Dash is below. Additional metadata can be uploaded alongside the dataset (e.g., as a readme.txt file). The metadata entry form for Dash is based on fields from the <a href="http://schema.datacite.org/meta/kernel-3/index.html">DataCite schema</a>, version 3.0.</p>
  <br/>

  <table class="metadata_basics_table">
    <thead>
      <tr>
        <th>Metadata Field Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Title *</td>
        <td>Title of the dataset. Be as descriptive as possible.</td>
      </tr>
      <tr>
        <td>Data type *</td>
        <td>Type of data. This entry is constrained to a list from DataCite.</td>
      </tr>
      <tr>
        <td>Author(s) *</td>
        <td>Main researcher(s) involved in producing the data.</td>
      </tr>
      <tr>
        <td>Affiliation</td>
        <td>Name of the institution that supported creation of the resource.</td>
      </tr>
      <tr>
        <td>Abstract</td>
        <td>An abstract or general description of the dataset.</td>
      </tr>
      <tr>
        <td>Methods</td>
        <td>Any technical or methodological information that may help others to understand how the data were generated and/or how they may be properly reused.</td>
      </tr>
      <tr>
        <td>Keyword(s)</td>
        <td>Descriptive words that may help others discover your dataset. Dash recommends that you research whether your discipline has an existing controlled vocabulary from which to choose your keywords. Please enter one keyword per line.</td>
      </tr>
      <tr>
        <td>Citations</td>
        <td>Use this field to indicate other resources that are associated with the data. Examples include publications, grant numbers, and other datasets.</td>
      </tr>
      <tr>
        <td>Date</td>
        <td>Date submitted to Dash. This is automatically populated by Dash.</td>
      </tr>
    </tbody>
  </table>
  <br/>
  <p>* Required for submission</p>
</div>
