<div class="preparing_to_submit">
  <h1>Preparing to submit</h1>
  <p>Use this checklist to prepare your dataset for submission to Dash.
      See our Policies for more information.</p>
  <ol>
    <li>Inform your dataset co-authors that you plan to deposit the dataset in Dash.</li>
    <li>Ensure that all governmental and institutional regulations regarding the handling of sensitive data are addressed.</li>
    <li>Prepare or obtain the most up-to-date and complete version of dataset.</li>
    <li>Prepare or obtain relevant explanatory documents related to the dataset (e.g., readme.txt files, formal metadata records, or other critical information.etc.)</li>
    <li>Gather the following information, to be entered as metadata in the Dash system (see <%= link_to 'Metadata Basics', stash_url_helpers.metadata_basics_path %> for more information):</li>
  </ol>
  <div>
    <ul>
      <li>Dataset title—be as descriptive as possible</li>
      <li>Full names of all dataset co-authors</li>
      <li>Subject keywords for the dataset (use discipline-specific controlled vocabularies whenever possible)</li>
      <li>Abstract (description) describing the dataset you are submitting</li>
      <li>Description of the methods used to collect the data</li>
      <li>Citations to associated materials, including grant numbers, publications using the dataset, and other related datasets</li>
    </ul>
  </div>
</div>
