<% @page_title = "My datasets - publish and preserve your data" %>

<div class="c-datasets-heading">
  <h1 class="c-datasets-heading__heading o-heading__level1">My datasets</h1>
  <%= button_to 'Start new dataset', stash_url_helpers.new_resource_path,
            class: 'c-datasets-heading__button', form_class: 'o-button__inline-form', method: :get %>
</div>
<div id="user_datasets" data-load="<%= stash_url_helpers.dashboard_user_datasets_path(format: :js) %>">
  <%= image_tag 'stash_engine/spinner.gif', size: '80x60', alt: 'Loading spinner' %>
</div>