<div class="upload_basics">
  <h1>Upload basics</h1>

  <ul>
    <li>See <a href="/xtf/search?smode=policiesPage">Policies</a> for more information on uploading datasets to Dash.</li>
    <li>All file formats are accepted by Dash, although it is good practice to share data using open formats.See the UK Data Archive for a <a href="http://www.data-archive.ac.uk/create-manage/format/formats-table">list of optimal file formats</a></li>
    <li>Include any files that may help others to use your data. This includes readme files, formal metadata files, or other critical information.</li>
    <li>Any data submitted via Dash will be in the <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International</a> (CC-BY 4.0). We do not currently support any other license types, nor do we allow for restrictions on data access or use.</li>
    <li>It is your responsibility to ensure your data are being shared responsibly and ethically. Please be careful of sharing sensitive data and ensure you are complying with institutional and governmental regulations.</li>
    <li>There is <a href="/xtf/search?smode=rightsPage">more information</a> on rights and ownership of, and licences for, research data.</li>
  </ul>
</div>