<% @page_title = "Privacy policy and terms of service" %>

<h1>Terms of service coming here</h1>

<p>They will be migrated from <a href="https://datadryad.org/pages/policies">Terms of service</a></p>.
