<div class ="geolocation_points">
  <table>
    <thead>
      <tr>
        <th></th>
        <th colspan="3"></th>
      </tr>
    </thead>
  <tbody>
  <tbody>
    <% geolocation_points.each do |geolocation_point| %>
      <tr>
        <td><%= image_tag("stash_datacite/geo_point.png", size: "30x30", alt: "Box") %></td>
        <td><%= geolocation_point.latitude %>,&nbsp; <%= geolocation_point.longitude %></td>
        <td><%#= button_to 'remove', geolocation_point_path(geolocation_point), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn" %></td>
      </tr>
    <% end %>
  </tbody>
</div>