<div class ="geolocation_points">
  <% geolocation_points.each do |geolocation_point| %>
    <%= image_tag("stash_datacite/geo_point.png", size: "30x30", alt: "Box") %>
    <%= geolocation_point.latitude %>,&nbsp; <%= geolocation_point.longitude %>
    <%= link_to 'remove', stash_datacite.geolocation_points_delete_path(geolocation_point), method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</div>