$('div.geolocation_points').replaceWith('<%= j render partial: "stash_datacite/geolocation_points/index", locals: { geolocation_points: @geolocation_points } %>')

map.on('popupopen', function (e) {
    var marker = e.popup._source;
    marker.options.id = <%= params[:id] %>

    // drag a marker and update in db.
      marker.on('dragend', function(event) {
        var changedPos = event.target.getLatLng();
        this.bindPopup(changedPos.lat + ',' + changedPos.lng + " " + "<button class='delete-button'>Delete</button>");
        $.ajax({
            type: "PUT",
            dataType: "script",
            url: "/stash_datacite/geolocation_points/update_coordinates",
            data: { 'latitude' :  changedPos.lat, 'longitude' :  changedPos.lng,
                   'resource_id' : $.urlParam('resource_id'), 'id' : marker.options.id }
        });
      });

    //delete marker from map and update in db.
      $( ".delete-button" ).click(function(event) {
        var par = $(event.target).parent();
        var popup = par.parent()._source;
        console.log(popup);
        // var marker = popup.popup._source;
       //  map.removeLayer(marker);
       //    $.ajax({
       //        type: "DELETE",
       //        dataType: "script",
       //        url: "/stash_datacite/geolocation_points/delete_coordinates",
       //        data: {'id' : marker.options.id, 'resource_id' : $.urlParam('resource_id') },
       //        success: function() {
       //        },
       //        error: function() {
       //        }
       //      });
     });
});

