<%# the local variable 'subject' should be passed in to this partial when there are multiple per page %>
<div id="js-keywords__container" class="c-keywords__container">
  <% subjects.each do |subject| %>
    <span class="c-keywords__keyword">
      <%= subject.subject %><span class="delete_keyword"><%=link_to '', stash_datacite.subjects_delete_path(subject.id, resource_id: resource_id), method: :delete, remote: true, class: 'c-keywords__keyword-remove' %></span>
    </span>
  <% end %>
  <%= text_field_tag('subject' , nil, { id: 'keyword', class: 'js-keywords__input c-keywords__input' }) %>
</div>

<script type="text/javascript">
  var disable;
  $(function() {
    function split( val ) {
      return val.split( /,\s*/ );
    }
    function extractLast( term ) {
      return split( term ).pop();
    }
    $('#keyword').unbind('blur');
    $('#keyword')
      // don't navigate away from the field on tab when selecting an item
      .bind( "keydown", function( event ) {
        if ( event.keyCode === $.ui.keyCode.TAB &&
            $( this ).autocomplete( "instance" ).menu.active ) {
          event.preventDefault();
        }
      })
     .autocomplete({
        source: function( request, response ) {
          $.ajax({
            url: "<%= stash_datacite.subjects_autocomplete_path %>",
            dataType: "json",
            data: {
              term: extractLast( request.term )
            },
            success: function( data ) {
              response( data );
            }
          });
        },
        search: function() {
          // custom minLength
          var term = extractLast( this.value );
          if ( term.length < 2 ) {
            return false;
          }
        },
        focus: function() {
          // prevent value inserted on c-keywords__container--has-focus
          return false;
        },
        select: function( event, ui ) {
          var terms = split( this.value );
          // remove the current input
          terms.pop();
          // add the selected item
          terms.push( ui.item.value );
          // add placeholder to get the comma-and-space at the end
          terms.push( "" );
          this.value = terms.join( ", " );
          return false;
        },
        open: function(event, ui) {
          disable=true;
        },
        close: function(event, ui) {
          disable=false;
          $(this).focus();
        }
      });
  });
  </script>