<% unless subjects.nil? || subjects.length < 1 %>
    <h3 class="o-heading__level2">Subject keywords</h3>
    <p><%= subjects.each_with_index.map{ |s, i|
        highlights = highlight_fields.detect {|h| h[:index] == i}
        "<span class='#{' highlight' if highlights }'>#{s.subject}</span>"
    }.join(", ").html_safe %></p>
    <% deleted = highlight_fields.detect {|h| h.key?(:deleted) } %>
    <% if deleted %>
        <p class="highlight"><%= deleted[:deleted] %> keywords deleted</p>
    <% end %>
<% end %>
