<h1>Data deposit agreement</h1>

<p>
  <a href="https://library.ucsb.edu/" target="_blank">UC Santa Barbara Library</a> is pleased to provide use of
  the Dash data repository (Dash), maintained by
  <a href="http://www.cdlib.org/services/uc3/" target="_blank">California Digital Library</a> (CDL), as a free service
  for UC Santa Barbara users.
</p>

<p>By accepting the data deposit agreement, you acknowledge and agree to the following:</p>

<h2>Who may use this service?</h2>
<ul>
  <li>UCSB faculty, staff, and graduate students.</li>
</ul>

<h2>What may be deposited?</h2>
<ul>
  <li>Data related to the research and teaching missions of UCSB.</li>
  <li>
    Deposited data must be your original work, or in the public domain, or for which you have obtained the necessary
    rights or permissions to deposit.
  </li>
  <li>This repository is intended for final products, not for incomplete or in-progress works.</li>
</ul>

<h2>What may not be deposited?</h2>
<ul>
  <li>Data containing unlawful, private, confidential, or sensitive information.</li>
</ul>

<h2>Licensing and availability</h2>
<ul>
  <li>
    In compliance with best practices in open data, all deposited data will be released under a
    <a href="https://creativecommons.org/share-your-work/public-domain/cc0/" target="_blank">CC0</a> public domain dedication.
    (While CC0 does not require attribution, growing community and data citation norms create an expectation that users
    will properly cite data in the same manner they would any other form of scholarly communication.)
  </li>
  <li>
    You may defer the release of deposited data for up to six months at the time of submission.  At the end of six months,
    the data will be released under a CC0 dedication unless you request and justify an additional deferment.
  </li>
</ul>

<h2>Limits and limitations</h2>
<ul>
  <li>There is a limit of 100GB per data publication.</li>
  <li>If you anticipate uploading more than 500GB total, please contact the Data Curation Program first.</li>
  <li>
    Published datasets may not be removed by users.  Data withdrawal requests and justifications should be directed
    to the Data Curation Program.
  </li>
</ul>

<h2>Retention period</h2>
<ul>
  <li>
    Data deposited in this repository will be retained and made accessible (by Dash or equivalent repository) for a
    minimum of 10 years from the time of submission.  After that time, if continued accessibility of the data is desired
    and justified, curators at the UCSB Library will coordinate with the original depositor to transfer the data to an
    alternative repository.
  </li>
</ul>

<h2>Our rights</h2>
<ul>
  <li>
    The UCSB Library and CDL will have access to all content for the purposes of maintaining the system, creating backup
    copies, and publicly sharing the data. You grant data curators at the UCSB Library and CDL the right to review and
    enhance the metadata of submitted datasets.
  </li>
  <li>
    The UCSB Library and CDL retain the right to remove any material deemed, in their discretion, inappropriate or
    out of the scope of this repository.
  </li>
  <li>All actions taken by curators will be communicated to the depositor first.</li>
</ul>

<p>Additional information can be found at <a href="https://dash.ucsb.edu/stash/help" target="_blank">https://dash.ucsb.edu/stash/help</a>
  and at <a href="https://dash.ucsb.edu/stash/faq/" target="_blank">https://dash.ucsb.edu/stash/faq/</a>.</p>

<p>
  For help and support, contact the Data Curation Program at
  <a href="mailto:datacuration@library.ucsb.edu">datacuration@library.ucsb.edu</a>.
</p>
