<h1>Data deposit agreement</h1>

<p>
  <a href="https://www.library.ucdavis.edu/" target="_blank">UC Davis Library</a> is pleased to provide use of the UC Davis instance of
  the Dash data repository (Dash), maintained by
  <a href="http://www.cdlib.org/services/uc3/" target="_blank">California Digital Library</a> (CDL), as a free service for UC Davis users.
</p>

<p>By accepting the data deposit agreement, you acknowledge and agree that:</p>

<ol>
  <li>
    This platform is intended for use only by UC Davis faculty, graduate students, postdocs, and professional
    researchers. Any deposits resulting from unauthorized use will be removed. If you do not hold an affiliation named
    above, but you believe you should have access to Dash based on your research contributions and needs,
    <a href="mailto:dataserv@ucdavis.edu">contact the Data Management Program</a>. Permissions will be granted on a case-by-case basis.
  </li>

  <li>
    Any data you deposit will not contain any unlawful, private, confidential, or sensitive information.
  </li>

  <li>
    Any data you deposit will be comprised of your original work, public domain data, or data for which you have the
    necessary rights or permissions to deposit consistent with the terms of this agreement.
  </li>

  <li>
    UC Davis Library and CDL will have access to all content for the purposes of maintaining the system, creating backup
    copies, and publicly sharing the data. You grant data curators at the UC Davis Library and CDL the right to review
    and enhance the metadata of submitted datasets.
  </li>

  <li>
    In compliance with best practices in open data, all data deposited in the UC Davis Dash instance will be released
    under a <a href="https://www.library.ucdavis.edu/news/cc0-and-data-citation/" target="_blank">CC0 public domain dedication</a>.
    You may defer the release of deposited data for up to six months at the time
    of submission. At the end of six months, the data will be released under a CC0 dedication unless you actively
    request and justify a deferment.
  </li>

  <li>
    The total space allocation per UC Davis user is 200 GB. If you foresee the need to exceed this size, please contact
    the UC Davis Library at <a href="mailto:dataserv@ucdavis.edu">dataserv@ucdavis.edu</a>.
  </li>

  <li>
    Access to the datasets through this repository is intended to last until at least 2027. In the event a decision is
    made to discontinue the use of Dash, CDL will transfer the existing data to an alternative repository or otherwise
    return them to the submitting party.
  </li>

  <li>
    Published datasets may not be removed by individual users. Data withdrawal requests and justifications should be
    directed to <a href="mailto:uc3@ucop.edu">CDL</a>.
  </li>

  <li>
    UC Davis Library and CDL retain the right to remove any material deemed, in their discretion, inappropriate or out
    of the scope of this repository.
  </li>

  <li>
    You agree to the terms of the <a href="http://www.cdlib.org/about/privacy.html" target="_blank">CDL Terms of Use and Privacy Policy</a>,
    and all applicable UC Davis Library Policies and Procedures.
  </li>
</ol>

