<%# pass in resource %>
<div id="modal_poop" style="display:none;">
</div>

<% if resource.tenant.intrusive_data_deposit_agreement? && !resource.accepted_agreement? %>
  <script>
    $('#modal_poop').html("<%= escape_javascript(
                                         render partial: "tenants/#{current_tenant.tenant_id}/dda", locals: { resource: resource }) %>");
    $(function() {

      $("#modal_poop").dialog({
        autoOpen: true,
        height: 'auto',
        width: $(window).width() - 300,
        modal: true,
        closeOnEscape: false,
        open: function(event, ui) {
          $(".ui-dialog-titlebar-close", ui.dialog | ui).hide();
        },
        'buttons':
        {"Accept": function () {

          $.ajax({
            url: '<%= metadata_entry_pages_accept_agreement_path(resource_id: params[:resource_id] ) %>',
            type: 'POST',
            dataType: 'json',
            success: function(result) {
              $("#modal_poop").dialog('close');
            }
          });
        },
          "Reject": function () {
            $.ajax({
              url: '<%= metadata_entry_pages_reject_agreement_path(resource_id: params[:resource_id] ) %>',
              type: 'DELETE',
              dataType: 'script',
              /* success: function(result) {
               // Do something with the result
               } */
            });
          } }
      });
    });
  </script>
<% end %>