<% @page_title = "GMail authorization" %>

<h1 class="o-heading__level1">GMail authorization</h1>

<p>To authorize Dryad's connection to GMail, click the button below, and login to Google as the user
  <code><%= APP_CONFIG[:google][:journal_account_name] %></code>
</p>

<%= button_to "Log in with Google", '/auth/google_oauth2'  %>
