<%
  # This is a template for a non-standard templating used by the jQuery file drag and drop plugin.
  # It is required since we need to display some things that do not take remote AJAX actions and this puts it in the
  # page for the x-tmpl language to deal with.
  # AJAX doesn't happen until the file is actually uploaded and then uses UJS
%>

<script id="upload-line" type="text/x-tmpl">
  <div class="c-upload__item js-unuploaded" id="not_uploaded_file_{%=o.id%}">
    <div class="c-upload__filename"><span class="js-filename">{%=o.name%}</span> <span class="c-upload__filesize">{%=formatSizeUnits(o.size)%}</span></div>
    <div class="c-upload__action">
      <progress class="js-bar" style="display: none" max="100" value="0"></progress>
      <button class="js-remove_link c-upload__button">Remove</button>
      <button class="js-cancel c-upload__button" style="display: none" id="cancel_{%=o.id%}">Cancel</button>
    </div>
    <input name="temp_id" value="{%=o.id%}" type="hidden" />
    <input name="resource_id" value="<%= @resource.id %>" type="hidden"/>
    <input name="hidden_bytes" value="{%=o.size%}" type="hidden" />
    <span class="spaced_text" style="display: none"><a href="#" id="up_button_{%=o.id%}" data-id="{%=o.id%}" class="js-upload-it">Upload</a></span>
    <span style="display: none" class="js-hidden_bytes">{%=o.size%}</span>
</div>
</script>