<p>
  Size limits: <%= filesize(current_tenant.max_total_version_size) %> of new files may be uploaded from
  your computer via drag and drop, or <%= filesize(current_tenant.max_submission_size) %> in total via URL.
</p>
