<% # local: resource, title %>
<div class="o-admin-dialog">
    <h1><%= title %></h1>
    <% prev = resource.previous_version %>
    <p> Diffs are <%= resource.changed_from_previous %></p>
    <table>
	<tr><th>Field</th><th>This version</th><th>Previous Version</th></tr>
	<tr><td>Title</td><%= resource.title %><td></td><td><%= prev.title %></td></tr>
	<tr><td></td><td></td><td></td></tr>
    </table>
</div>
