<%
  # This replaces the header bar in geoblacklight since it contains both a geoblacklight application bar and the search.
  # It's called from our special layout which is only for Geoblacklight and customized.  It has different top content
  # for the search result page (catalog with search params) vs the explore page.
%>

<% if controller_name == 'catalog' && (has_search_parameters? || params[:action] == 'show') %>
  <div class="geobl-search-spacing">
    <%= render_search_bar  %>
  </div>
<% else %>
  <div class='geobl-homepage-masthead jumbotron'>
    <div class='d-flex justify-content-center'>
      <%= content_tag :h1, t('geoblacklight.home.headline'), class: 'text-center' %>
    </div>
    <div class='d-flex justify-content-center'>
      <%= content_tag :h2, t('geoblacklight.home.search_heading'), class: 'text-center' %>
    </div>
    <div class='row justify-content-md-center'>
      <div class='col-md-6 col-sm-12'>
        <div class='navbar-search'>
          <%= render_search_bar %>
        </div>
      </div>
    </div>
  </div>
<% end %>