<div class="t-login__info">
  <h2>Dryad's Commitment to You</h2>

  <h3>Curation</h3>
  <p>All datasets are curated by a team of Dryad curators</p>

  <h3>Compliance</h3>
  <p>Long term adherence to funder and publisher mandates around open data</p>

  <h3>Community Supported</h3>
  <p>Dryad is researcher-led and supported by our institutional and publisher communities</p>
</div>