<div class="t-login__info">
  <h2>Dryad's Commitment to You</h2>

  <h3>High Quality</h3>
  <p>All datasets are curated</p>

  <h3>Community Supported</h3>
  <p>Dryad is researcher-led and supported by our institutional and publisher communities</p>

  <h3>Long Term</h3>
  <p>Archiving, compliance to funder and publisher mandates, and impact for your research data</p>
</div>