<div class="t-login__info">
  <h2>Dryad's Commitment to You</h2>

  <h3>High Quality</h3>
  <p>All datasets are curated</p>

  <h3>Low Cost or Community Supported</h3>
  <p>Researcher-led and non-commercial</p>

  <h3>Long Term</h3>
  <p>Archiving, compliance to mandates, credit for your data</p>
</div>