<div class="t-login__box">
  <!--
  <h2 class="o-heading__level2-login-with">Login using</h2>
  <a class="t-login__orcid" href="/stash/auth/orcid?origin=login" title="Login with ORCID" id="orcid_login"></a> -->
  <div style="padding-left: 50px;">
    <h2 class="o-heading__level2-login-with">
      <a href="/stash/auth/orcid?origin=login">
        <%= image_tag 'stash_engine/orcid.png', style: 'float: left; position: relative; top: -7px;' %>
        Login with<br/>your ORCID iD
      </a>
    </h2>
  </div>
</div>