<div class="t-login__more-messages"><div class="t-login__orcid-small"></div><div style="padding-top: 10px;">&nbsp;login was successful.</div></div>
<%= render partial: 'sso_section', locals: {replace_text: 'Please verify your identity using Single Sign-on'} %>