<div class="t-login__section">
  <div class="t-login__box">
    <h1>Login</h1>

    <%= link_to '/stash/auth/orcid?origin=login', class: 't-login__buttonlink' do %>
      <%= image_tag('stash_engine/icon_orcid', class: 't-login__orcid-small', alt: 'ORCID logo') %>
      Login or create your ORCID iD
    <% end %>

    <p>Dryad uses ORCiD as its primary login method.</p>
    <p>Please use your ORCiD login credentials to login to Dryad.</p>
  </div>

  <div class="t-login__info">
    <h2>Dryad's Commitment to You</h2>

    <h3>High Quality</h3>
    <p>All datasets are curated</p>

    <h3>Low Cost or Community Supported</h3>
    <p>Researcher-led and non-commercial</p>

    <h3>Long Term</h3>
    <p>Archiving, compliance to mandates, credit for your data</p>
  </div>
</div>