<% if @internal_data.count.positive? %>
  <table class="c-lined-table" id="activity_log_table">
    <tr class="c-lined-table__head">
      <th class="c-admin-table">
        Date
      </th>
      <th class="c-admin-table">
        Type
      </th>
      <th class="c-admin-table">
        Value
      </th>
    </tr>
    <% @internal_data.each do |item| %>
      <tr class="c-lined-table__row">
        <td><%= formatted_datetime(item.updated_at) %></td>
        <td><%= item.data_type %></td>
        <td><%= item.value %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>No internal data is available for this dataset</p>
<% end %>