<% @page_title = 'Editor example - Publish and Preserve your Data' %>

<h1>Editor example</h1>

<p>Here comes CKEditor.</p>

<%# javascript_include_tag 'ckeditor/ckeditor.js' %>


<%= cktext_area_tag :notes, nil, class: 'noogin' %>