<% @page_title = 'Help - Publish and Preserve your Data' %>
<div class="markdown_styles">

  <% if current_tenant %>
      <div class="toc">
        <!-- Since the content is same for all tenants currently, the partial layouts/help will be the commom part. -->
        <%# render "layouts/help", toc: true %>
        <!-- The content specific to the tenant can come form the partial below -->
        <%#= render "tenants/#{current_tenant.tenant_id}/help", toc: true %>
      </div>
      <%= render "layouts/help" %>
      <%#= render "tenants/#{current_tenant.tenant_id}/help" %>
  <% else %>
      <p>A placeholder for the Help page.</p>
  <% end %>
</div>