# When in the 'test' environment, only use the content from dryad-config-example, not the content
# in the main part of this file.
<% if Rails.env == 'test' %>
<%= YamlHelper.output_test_section(example_filename: 'app_config.yml') %>
<% else %>

defaults: &DEFAULTS
  google_analytics_id: null
  shared_resource_model: StashEngine::Resource
  stash_mount: /stash
  ezid:
    host: ezid.cdlib.org
    port: 443
  google_maps_api_key: <%= Rails.application.credentials[Rails.env.to_sym][:google_maps_api_key] %>
  contact_us_uri: help@datadryad.org
  # sandbox orcid credentials
  orcid:
    site: https://sandbox.orcid.org/
    authorize_url: https://sandbox.orcid.org/oauth/authorize
    token_url: https://api.sandbox.orcid.org/oauth/token
    key:  <%= Rails.application.credentials[Rails.env.to_sym][:orcid_key] %>
    secret: <%= Rails.application.credentials[Rails.env.to_sym][:orcid_secret] %>
    member: true
    sandbox: true
    api: https://api.sandbox.orcid.org
  submission_error_email: [dryad.submission.error.emails@mailinator.com]
  zenodo_error_email: [dryad.submission.error.emails@mailinator.com]
  submission_bc_emails: [""]
  contact_email: ["uc3@ucop.edu", "help@datadryad.org"]
  helpdesk_email: dryad.helpdesk@mailinator.com
  send_journal_published_notices: false
  default_tenant: dryad
  old_dryad_access_token: <%= Rails.application.credentials[Rails.env.to_sym][:old_dryad_access_token] %>
  old_dryad_url: https://v1.datadryad.org
  counter:
    account: CDL.DASH
    token: <%= Rails.application.credentials[Rails.env.to_sym][:counter_token] %> 
  zenodo:
    access_token: <%= Rails.application.credentials[Rails.env.to_sym][:zenodo_access_token] %> 
    base_url: https://sandbox.zenodo.org
    community_id: dryad
    application_id: 3357
  payments:
    service: stripe
    key: <%= Rails.application.credentials[Rails.env.to_sym][:stripe_key] %> 
    data_processing_charge: 12000 # charge in cents
    large_file_size: 5.0e+10 # 50 GB
    additional_storage_chunk_size: 1.0e+10 # 10 GB
    additional_storage_chunk_cost: 5000 # in cents
  merritt_express_base_url: http://mrtexpress-stage.cdlib.org
  merritt_max_submission_threads: 5
  crossref_base_url: https://api.crossref.org
  crossref_mailto: scott.fisher@ucop.edu
  fee_waiver_countries:
    - 'Afghanistan'
    - 'Burkina Faso'
    - 'Burundi'
    - 'Central African Republic'
    - 'Chad'
    - 'Democratic Republic of the Congo'
    - 'Eritrea'
    - 'Ethiopia'
    - 'Gambia'
    - 'Guinea'
    - 'Guinea-Bissau'
    - 'Liberia'
    - 'Madagascar'
    - 'Malawi'
    - 'Mali'
    - 'Mozambique'
    - 'Nigeria'
    - 'North Korea'
    - 'Republic of the Congo'
    - 'Rwanda'
    - 'Sierra Leone'
    - 'Somalia'
    - 'South Sudan'
    - 'Sudan'
    - 'Syria'
    - 'Togo'
    - 'Uganda'
    - 'Yemen'
    - 'Angola'
    - 'Algeria'
    - 'Bangladesh'
    - 'Belize'
    - 'Benin'
    - 'Bhutan'
    - 'Bolivia'
    - 'Cabo Verde'
    - 'Cambodia'
    - 'Cameroon'
    - 'Comoros'
    - 'Congo'
    - 'Djibouti'
    - 'East Timor'
    - 'Egypt'
    - 'El Salvador'
    - 'Eswatini'
    - 'Ghana'
    - 'Haiti'
    - 'Honduras'
    - 'India'
    - 'Indonesia'
    - 'Iran'
    - 'Ivory Coast'
    - 'Kenya'
    - 'Kiribati'
    - 'Kyrgyzstan'
    - 'Laos'
    - 'Lesotho'
    - 'Mauritania'
    - 'Micronesia'
    - 'Mongolia'
    - 'Morocco'
    - 'Myanmar'
    - 'Nepal'
    - 'Nicaragua'
    - 'Nigeria'
    - 'Pakistan'
    - 'Palestinian Territory'
    - 'Papua New Guinea'
    - 'Philippines'
    - 'Samoa'
    - 'Sao Tome and Principe'
    - 'Senegal'
    - 'Solomon Islands'
    - 'Sri Lanka'
    - 'State of Palestine'
    - 'Swaziland'
    - 'Tajikistan'
    - 'Tanzania'
    - 'Tunisia'
    - 'Ukraine'
    - 'Uzbekistan'
    - 'Vanuatu'
    - 'Vietnam'
    - 'Zambia'
    - 'Zimbabwe'
  funder_exemptions:
    - 'Chan Zuckerberg Initiative'
  link_out:
    # LinkOut FTP information for Europe PubMed Central
    labslink:
      ftp_host: labslink.ebi.ac.uk
      ftp_dir: f24ml3c8
      ftp_username: <%= Rails.application.credentials[Rails.env.to_sym][:labslink_ftp_username] %> 
      ftp_password: <%= Rails.application.credentials[Rails.env.to_sym][:labslink_ftp_password] %> 
      ftp_provider_id: 1012
    # LinkOut FTP information for NCBI
    pubmed:
      ftp_host: sftp-private.ncbi.nlm.nih.gov
      ftp_dir: holdings
      ftp_username: <%= Rails.application.credentials[Rails.env.to_sym][:pubmed_ftp_username] %> 
      ftp_password: <%= Rails.application.credentials[Rails.env.to_sym][:pubmed_ftp_password] %> 
      ftp_provider_id: 7893
      api_key: <%= Rails.application.credentials[Rails.env.to_sym][:pubmed_api_key] %>
  s3:
    region: us-west-2
    bucket: dryad-s3-dev
    key: AKIAIQ5XWADKJZ556SBQ
    secret: <%= Rails.application.credentials[Rails.env.to_sym][:s3_secret] %>
  google:
    gmail_client_id: <%= Rails.application.credentials[Rails.env.to_sym][:gmail_client_id] %>
    gmail_client_secret: <%= Rails.application.credentials[Rails.env.to_sym][:gmail_client_secret] %>
    journal_account_name: journal-submit-app@datadryad.org
    journal_processing_label: dev-journal-submit
    journal_error_label: dev-journal-submit-error
  maximums:
    # 300 GB and 50 GB below but expressed in bytes
    merritt_size: 300_000_000_000
    zenodo_size: 50_000_000_000
    files: 1000
  frictionless:
    # 150 MB and below
    size_limit: 10_000_000
    missing_values: "na,n/a,.,none,NA,N/A,N.A.,n.a.,-,empty,blank"
  rate_limit:
    # number of requests allowed per minute
    all_requests: 120
    zip_downloads: 10
    api_requests_anon: 30
    api_requests_auth: 120
    api_requests_v1: 30
  salesforce:
    server: https://dryad2-dev-ed.lightning.force.com
    username: ryan+sf@datadryad.org
    password: <%= Rails.application.credentials[Rails.env.to_sym][:salesforce_password] %>
    security_token: <%= Rails.application.credentials[Rails.env.to_sym][:salesforce_security_token] %>
    client_id: <%= Rails.application.credentials[Rails.env.to_sym][:salesforce_client_id] %>
    client_secret: <%= Rails.application.credentials[Rails.env.to_sym][:salesforce_client_secret] %>
  mce_key: <%= Rails.application.credentials[Rails.env.to_sym][:tiny_mce] %>

development: &DEVELOPMENT
  <<: *DEFAULTS
  submission_error_email: [dryad.submission.error.emails@mailinator.com, sfisher@ucop.edu, ryan@datadryad.org]
  zenodo_error_email: [dryad.submission.error.emails@mailinator.com, sfisher@ucop.edu, ryan@datadryad.org]
  shib_sp_host: dryad-dev.cdlib.org
  page_error_email: ~
  feedback_email_from: no-reply-dryad-dev@datadryad.org
  send_journal_published_notices: false
  collection_uri: http://mrtsword-stg.cdlib.org:39001/mrtsword/
  google_analytics_id: UA-145629338-2
  payments:
    service: stripe
    key: <%= Rails.application.credentials[Rails.env.to_sym][:stripe_key] %> 
    # Very small limit for large files to facilitate testing (500KB)
    large_file_size: 5.0e+5
    data_processing_charge: 12000 # charge in cents
    additional_storage_chunk_size: 1.0e+5 # (100KB)
    additional_storage_chunk_cost: 5000

aws_db:
  <<: *DEVELOPMENT
  send_journal_published_notices: false

local:
  <<: *DEVELOPMENT
  send_journal_published_notices: false

local_dev:
  <<: *DEVELOPMENT

stage:
  <<: *DEFAULTS
  submission_error_email: [dryad.submission.error.emails@mailinator.com, sfisher@ucop.edu, ryan@datadryad.org]
  zenodo_error_email: [dryad.submission.error.emails@mailinator.com, sfisher@ucop.edu, ryan@datadryad.org]
  shib_sp_host: dryad-stg.cdlib.org
  page_error_email: [scott.fisher@ucop.edu, ryan@datadryad.org]
  feedback_email_from: no-reply-dryad-stg@datadryad.org
  google_analytics_id: UA-145629338-3
  s3:
    region: us-west-2
    bucket: dryad-s3-stg
    key: AKIAIQ5XWADKJZ556SBQ
    secret: <%= Rails.application.credentials[Rails.env.to_sym][:s3_secret] %>

migration:
  <<: *DEFAULTS
  submission_error_email: [sfisher@ucop.edu, ryan@datadryad.org]
  zenodo_error_email: [sfisher@ucop.edu, ryan@datadryad.org]
  shib_sp_host: dryad-stg.cdlib.org
  page_error_email: ["scott.fisher@ucop.edu"]
  feedback_email_from: no-reply-dryad-migration@datadryad.org
  merritt_express_base_url: http://mrtexpress.cdlib.org

demo:
  <<: *DEFAULTS
  shib_sp_host: dryaddemo.cdlib.org
  page_error_email: [scott.fisher@ucop.edu]
  submission_error_email: [sfisher@ucop.edu, ryan@datadryad.org]
  zenodo_error_email: [sfisher@ucop.edu, ryan@datadryad.org]
  feedback_email_from: no-reply-dryaddemo@cdlib.org

production:
  <<: *DEFAULTS
  google_analytics_id: UA-145629338-1
  shib_sp_host: datadryad.org
  page_error_email: [scott.fisher@ucop.edu, ryan@datadryad.org]
  submission_error_email: [sfisher@ucop.edu, ryan@datadryad.org, Maria.Praetzellis@ucop.edu]
  zenodo_error_email: [sfisher@ucop.edu, ryan@datadryad.org]
  helpdesk_email: help@datadryad.org
  feedback_email_from: no-reply-dryad@datadryad.org
  # orcid production credentials
  orcid:
    site: https://orcid.org/
    authorize_url: https://orcid.org/oauth/authorize
    token_url: https://api.orcid.org/oauth/token
    key:  <%= Rails.application.credentials[Rails.env.to_sym][:orcid_key] %>
    secret: <%= Rails.application.credentials[Rails.env.to_sym][:orcid_secret] %>
    member: true
    sandbox: false
    api: https://api.orcid.org
  submission_bc_emails: [""]
  send_journal_published_notices: true
  old_dryad_access_token: <%= Rails.application.credentials[Rails.env.to_sym][:old_dryad_access_token] %>
  zenodo:
    access_token: <%= Rails.application.credentials[Rails.env.to_sym][:zenodo_access_token] %> 
    base_url: https://zenodo.org
    community_id: dryad
    application_id: 42723
  merritt_express_base_url: http://mrtexpress.cdlib.org
  payments:
    service: stripe
    key: <%= Rails.application.credentials[Rails.env.to_sym][:stripe_key] %>
    large_file_size: 5.0e+10
    data_processing_charge: 12000 # charge in cents
    additional_storage_chunk_size: 1.0e+10 # (10GB)
    additional_storage_chunk_cost: 5000
  s3:
    region: us-west-2
    bucket: dryad-s3-prd
    key: AKIAIQ5XWADKJZ556SBQ
    secret: <%= Rails.application.credentials[Rails.env.to_sym][:s3_secret] %>
  google:
    gmail_client_id: <%= Rails.application.credentials[Rails.env.to_sym][:gmail_client_id] %>
    gmail_client_secret: <%= Rails.application.credentials[Rails.env.to_sym][:gmail_client_secret] %>
    journal_account_name: journal-submit-app@datadryad.org
    journal_processing_label: journal-submit-v2
    journal_error_label: journal-submit-error-v2
  salesforce:
    server: https://dryad.lightning.force.com
    username: ryan@datadryad.org
    password: <%= Rails.application.credentials[Rails.env.to_sym][:salesforce_password] %>
    security_token: <%= Rails.application.credentials[Rails.env.to_sym][:salesforce_security_token] %>
    client_id: <%= Rails.application.credentials[Rails.env.to_sym][:salesforce_client_id] %>
    client_secret: <%= Rails.application.credentials[Rails.env.to_sym][:salesforce_client_secret] %>

# Terminate the if statement from the beginning of this file.
<% end %>
