<% if Rails.env == 'test' %>
test:
  shared_resource_model: StashEngine::Resource
  ezid:
    host: ezid.cdlib.org
    port: 443
  contact_us_uri: help@datadryad.org
  repository:
    domain: https://merritt-test.example.org
    endpoint: "https://merritt-test.example.org:39001/mrtsword/collection/cdl_dryaddev"
    username: horsecat
    password: MyHorseCatPassword
  orcid:
    site: https://sandbox.orcid.org/
    authorize_url: https://sandbox.orcid.org/oauth/authorize
    token_url: https://api.sandbox.orcid.org/oauth/token
    key:  APP-I07IMI2NJTMP9Z6G
    secret: <REPLACE-ME>
    member: true
    sandbox: true
    api: https://api.sandbox.orcid.org
  submission_error_email: [my.fun.submission.error.emails@example.com]
  submission_bc_emails: [""]
  zenodo_error_email: [my.fun.zenodo.error.emails@example.com]
  contact_email: ["contact1@example.edu", "contact2@example.edu"]
  default_tenant: mock_tenant
  old_dryad_url: https://api.datadryad.example.org
  helpdesk_email: dryad.helpdesk@mailinator.com
  send_journal_published_notices: false
  counter:
    account: CDL.DASH
    token: ci1NiJDAwLTAwkb
  zenodo:
    access_token: "ThisIsAFakeToken"
    client_id: zenodo_client_id
    client_secret: zenodo_client_secret
    base_url: https://sandbox.zenodo.org
    community_id: dryad-test
    application_id: 1234
  payments:
    service: stripe
    key: replace-me
    pk_key: replace-me
    data_processing_charge: 12000 # charge in cents
    data_processing_charge_new: 15000 # charge in cents 
    dpc_change_date: 2023-01-01
    large_file_size: 5.0e+10
    additional_storage_chunk_size: 1.0e+10 # 10 GB
    additional_storage_chunk_cost: 5000 # in cents  
  merritt_base_url: https://storage-test.datadryad.org
  merritt_max_submission_threads: 5
  crossref_base_url: https://api.crossref.org
  crossref_mailto: test.dude@example.edu
  fee_waiver_countries:
    - 'Afghanistan'
    - 'Guinea-Bissau'
    - 'Sierra Leone'
  funder_exemptions:
    - 'Happy Clown School'
  link_out:
    # LinkOut FTP information for Europe PubMed Central
    labslink:
      ftp_host: labslink.example.org
      ftp_dir: testing
      ftp_username: username
      ftp_password: password
      ftp_provider_id: 1234
    # LinkOut FTP information for NCBI
    pubmed:
      ftp_host: pubmed.example.org
      ftp_dir: testing
      ftp_username: username
      ftp_password: password
      ftp_provider_id: 9876
  s3:
    region: us-west-2
    bucket: a-test-bucket
    merritt_bucket: a-merritt-test-bucket
    key: abcdefg
    secret: HIJKLMNOP
    sns_arn: some:arn
  lambda_id:
    dataZip: abcdefg
  maximums:
    merritt_size: 3.0e+10
    upload_size: 1.0e+12
    zenodo_size: 5.0e+9
    zip_size: 11.0e+9
    api_zip_size: 200
    files: 100
    frictionless: 1_000_000
  rate_limit:
    # number of requests allowed per minute
    # these rates are low to facilitate quick testing of the rate limiter,
    # but the rate limiter is disabled for most rspec classes
    file_downloads_per_hour: 2
    file_downloads_per_day: 5
    file_downloads_per_month: 10
    zip_downloads_per_hour: 2
    zip_downloads_per_day: 5
    zip_downloads_per_month: 10
    helpdesk_forms_per_month: 3
    all_requests: 10
    api_requests_anon: 5
    api_requests_auth: 10
    api_requests_v1: 5
  salesforce:
    server: https://testsalesforce.com
    login_host: test.salesforce.com
    username: nobody@datadryad.org
    password: nopass
    security_token: notoken
    client_id: noclientid
    client_secret: noclientsecret
  container_file_extensions:
    - 'zip'
    - 'tar.gz'
    - 'tgz'
  datacite_data_repo_id: dryad_testing_repo_id
  identifier_service:
    provider: datacite
    prefix: "10.5072"
    account: my.account
    password: "my.password"
    sandbox: true
<% else %>

defaults: &DEFAULTS
  shared_resource_model: StashEngine::Resource
  ezid:
    host: ezid.cdlib.org
    port: 443
  contact_us_uri: help@datadryad.org
  repository:
    domain: https://storage-test.datadryad.org
    endpoint: "http://storage-test.datadryad.org"
    username: <%= Rails.application.credentials[Rails.env.to_sym][:merritt_dryaddev_username] %>
    password: <%= Rails.application.credentials[Rails.env.to_sym][:merritt_dryaddev_password] %>
  orcid:
    site: https://sandbox.orcid.org/
    authorize_url: https://sandbox.orcid.org/oauth/authorize
    token_url: https://api.sandbox.orcid.org/oauth/token
    key:  <%= Rails.application.credentials[Rails.env.to_sym][:orcid_key] %>
    secret: <%= Rails.application.credentials[Rails.env.to_sym][:orcid_secret] %>
    member: true
    sandbox: true
    api: https://api.sandbox.orcid.org
  submission_error_email: [dryad.submission.error.emails@mailinator.com]
  zenodo_error_email: [dryad.submission.error.emails@mailinator.com]
  submission_bc_emails: [""]
  contact_email: help@datadryad.org
  helpdesk_email: dryad.helpdesk@mailinator.com
  send_journal_published_notices: false
  default_tenant: dryad
  old_dryad_url: https://v1.datadryad.org
  counter:
    account: DRYAD.DRYAD
    token: <%= Rails.application.credentials[Rails.env.to_sym][:counter_token] %>
  zenodo:
    base_url: https://zenodo-rdm-qa.web.cern.ch
    community_id: dryad
    application_id: 3357
    client_id: <%= Rails.application.credentials[Rails.env.to_sym][:zenodo_client_id] %>
    client_secret: <%= Rails.application.credentials[Rails.env.to_sym][:zenodo_client_secret] %>
    access_token: <%= Rails.application.credentials[Rails.env.to_sym][:zenodo_access_token] %>
  payments:
    service: stripe
    key: <%= Rails.application.credentials[Rails.env.to_sym][:stripe_key] %>
    pk_key: <%= Rails.application.credentials[Rails.env.to_sym][:stripe_pk_key] %>
    data_processing_charge: 12000 # charge in cents
    data_processing_charge_new: 15000 # charge in cents
    dpc_change_date: 2023-01-04
    large_file_size: 5.0e+10 # 50 GB
    additional_storage_chunk_size: 1.0e+10 # 10 GB
    additional_storage_chunk_cost: 5000 # in cents
  merritt_base_url: https://storage-test.datadryad.org
  merritt_max_submission_threads: 5
  crossref_base_url: https://api.crossref.org
  crossref_mailto: ryan@datadryad.org
  fee_waiver_countries: []
  funder_exemptions:
    - 'Chan Zuckerberg Initiative'
  link_out:
    # LinkOut FTP information for Europe PubMed Central
    labslink:
      ftp_host: labslink.ebi.ac.uk
      ftp_dir: f24ml3c8
      ftp_username: <%= Rails.application.credentials[Rails.env.to_sym][:labslink_ftp_username] %>
      ftp_password: <%= Rails.application.credentials[Rails.env.to_sym][:labslink_ftp_password] %>
      ftp_provider_id: 1012
    # LinkOut FTP information for NCBI
    pubmed:
      ftp_host: sftp-private.ncbi.nlm.nih.gov
      ftp_dir: holdings
      ftp_username: <%= Rails.application.credentials[Rails.env.to_sym][:pubmed_ftp_username] %>
      ftp_password: <%= Rails.application.credentials[Rails.env.to_sym][:pubmed_ftp_password] %>
      ftp_provider_id: 7893
      api_key: <%= Rails.application.credentials[Rails.env.to_sym][:pubmed_api_key] %>
  s3:
    region: us-west-2
    bucket: dryad-s3-dev
    merritt_bucket: dryad-assetstore-merritt-dev
    reports_bucket: dryad-reports
    key: AKIA2KERHV5E3OITXZXC
    secret: <%= Rails.application.credentials[Rails.env.to_sym][:s3_secret] %>
    sns_arn: <%= Rails.application.credentials[Rails.env.to_sym][:s3_sns_arn] %>
  lambda_id:
    dataZip: w27i4vubmmwkssdf6xpszafmhq0rffog
  waf_key: <%= Rails.application.credentials[Rails.env.to_sym][:aws_waf_key] %>
  google_analytics_id: null
  matomo_analytics_id: null
  google_recaptcha_sitekey: 6Lfhn5kiAAAAAIzZPQEGRa43cDJz-rNVxRcQIkU4
  google_recaptcha_secret: <%= Rails.application.credentials[Rails.env.to_sym][:google_recaptcha_secret] %>
  google:
    gmail_client_id: <%= Rails.application.credentials[Rails.env.to_sym][:gmail_client_id] %>
    gmail_client_secret: <%= Rails.application.credentials[Rails.env.to_sym][:gmail_client_secret] %>
    token_path: '/home/ec2-user/deploy/shared/google_token.json'
    journal_account_name: journal-submit-app@datadryad.org
    journal_processing_label: dev-journal-submit
    journal_error_label: dev-journal-submit-error
  maximums:
    # 300 GB and 50 GB below but expressed in bytes
    merritt_size: 300_000_000_000
    upload_size: 1.0e+12
    zenodo_size: 50_000_000_000
    zip_size: 11_000_000_000
    api_zip_size: 200_000_000
    files: 100
    frictionless: 50_000_000
  rate_limit:
    file_downloads_per_hour: 100
    file_downloads_per_day: 500
    file_downloads_per_month: 3000
    zip_downloads_per_hour: 20
    zip_downloads_per_day: 100
    zip_downloads_per_month: 500
    helpdesk_forms_per_month: 3
    # all other rates are number of requests allowed per minute
    all_requests: 120
    api_requests_anon: 30
    api_requests_auth: 120
    api_requests_v1: 30
  salesforce:
    server: https://dryad--cloudparti.sandbox.lightning.force.com
    login_host: test.salesforce.com
    username: admin@datadryad.org.cloudparti
    password: <%= Rails.application.credentials[Rails.env.to_sym][:salesforce_password] %>
    security_token: <%= Rails.application.credentials[Rails.env.to_sym][:salesforce_security_token] %>
    client_id: <%= Rails.application.credentials[Rails.env.to_sym][:salesforce_client_id] %>
    client_secret: <%= Rails.application.credentials[Rails.env.to_sym][:salesforce_client_secret] %>
    web_to_lead_target: https://test.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8
    org_id: 00D54000000YogL
    participation_field_id: 00N5400000ifBPB
    comment_field_id: 00N5400000ifBP4
  mce_key: <%= Rails.application.credentials[Rails.env.to_sym][:tiny_mce] %>
  container_file_extensions:
    - 'zip'
    - 'tar.gz'
    - 'tgz'
  datacite_data_repo_id: dryad_testing_repo_id
  identifier_service:
    provider: datacite
    prefix: "10.7959"
    account: <%= Rails.application.credentials[Rails.env.to_sym][:datacite_username] %>
    password: <%= Rails.application.credentials[Rails.env.to_sym][:datacite_password] %>
    sandbox: true
  cedar_editor_url: "/cedar-embeddable-editor/cedar-embeddable-editor.js?1-0-14"
  cedar_templates:
    # only the Neuroscience template will be loaded; the selectable editor is disabled
    - ["9ce4b66a-1597-47cb-b465-24d9d33fbb88", "Files", "File Description"]
    - ["7479dcb2-2c2f-44c8-953d-507c8b52c06a", "Human Cognitive Neuroscience Data", "Human Cognitive Neuroscience Data"]
    - ["b7f291ea-d548-43dc-8685-dc74e73892a5", "EEB",  "Ecology and Evolutionary Biology"]
    - ["ea716306-5263-4f7a-9155-b7958f566933", "NCBI-MIAIRR", "MiAIRR V1.1.0"]
    - ["dc3fa214-88f4-49dd-b56b-f4552b2d3474", "NCBI-HUMAN", "CEDAR-NCBI Human Tissue"]

dev: &DEV
  <<: *DEFAULTS
  submission_error_email: [dryad.submission.error.emails@mailinator.com, devs@datadryad.org]
  zenodo_error_email: [dryad.submission.error.emails@mailinator.com, devs@datadryad.org]
  zenodo:
    access_token: <%= Rails.application.credentials[Rails.env.to_sym][:zenodo_access_token] %>
    base_url: https://zenodo-rdm-qa.web.cern.ch
    community_id: dryad
    application_id: 5
    client_id: <%= Rails.application.credentials[Rails.env.to_sym][:zenodo_client_id] %>
    client_secret: <%= Rails.application.credentials[Rails.env.to_sym][:zenodo_client_secret] %>
  shib_sp_host: v3-dev.datadryad.org
  page_error_email: ~
  feedback_email_from: no-reply-dryad-dev@datadryad.org
  send_journal_published_notices: false
  collection_uri: http://storage-test.datadryad.org
  google_analytics_id: UA-145629338-2
  matomo_analytics_id: datadryad-dev
  payments:
    service: stripe
    key: <%= Rails.application.credentials[Rails.env.to_sym][:stripe_key] %>
    pk_key: <%= Rails.application.credentials[Rails.env.to_sym][:stripe_pk_key] %>
    # Very small limit for large files to facilitate testing (500KB)
    large_file_size: 5.0e+5
    data_processing_charge: 12000 # charge in cents
    data_processing_charge_new: 15000 # charge in cents
    dpc_change_date: 2022-12-14
    additional_storage_chunk_size: 1.0e+5 # (100KB)
    additional_storage_chunk_cost: 5000

development:
  <<: *DEV
  submission_error_email: [dryad.submission.error.emails@mailinator.com]
  send_journal_published_notices: false
  maximums:
    merritt_size: 200_000_000
    upload_size: 500_000_000
    zenodo_size: 50_000_000_000
    zip_size: 11_000_000_000
    api_zip_size: 200_000_000
    files: 100
    frictionless: 50_000_000

stage:
  <<: *DEFAULTS
  submission_error_email: [dryad.submission.error.emails@mailinator.com, devs@datadryad.org]
  zenodo_error_email: [dryad.submission.error.emails@mailinator.com, devs@datadryad.org]
  shib_sp_host: sandbox.datadryad.org
  page_error_email: [devs@datadryad.org]
  feedback_email_from: no-reply-dryad-stg@datadryad.org
  google_analytics_id: UA-145629338-3
  matomo_analytics_id: datadryad-stg
  send_journal_published_notices: true
  repository:
    domain: https://storage-test.datadryad.org
    endpoint: "http://storage-test.datadryad.org"
    username: <%= Rails.application.credentials[Rails.env.to_sym][:merritt_dryadstg_username] %>
    password: <%= Rails.application.credentials[Rails.env.to_sym][:merritt_dryadstg_password] %>
  s3:
    region: us-west-2
    bucket: dryad-s3-stg
    merritt_bucket: dryad-assetstore-merritt-stage
    key: AKIA2KERHV5E3OITXZXC
    secret: <%= Rails.application.credentials[Rails.env.to_sym][:s3_secret] %>

production:
  <<: *DEFAULTS
  shib_sp_host: datadryad.org
  page_error_email: [devs@datadryad.org]
  submission_error_email: [devs@datadryad.org]
  zenodo_error_email: [devs@datadryad.org]
  helpdesk_email: help@datadryad.org
  feedback_email_from: no-reply-dryad@datadryad.org
  repository:
    domain: https://storage-test.datadryad.org
    endpoint: "http://storage-test.datadryad.org"
    username: <%= Rails.application.credentials[Rails.env.to_sym][:merritt_dryad_username] %>
    password: <%= Rails.application.credentials[Rails.env.to_sym][:merritt_dryad_password] %>
  # orcid production credentials
  orcid:
    site: https://orcid.org/
    authorize_url: https://orcid.org/oauth/authorize
    token_url: https://api.orcid.org/oauth/token
    key:  <%= Rails.application.credentials[Rails.env.to_sym][:orcid_key] %>
    secret: <%= Rails.application.credentials[Rails.env.to_sym][:orcid_secret] %>
    member: true
    sandbox: false
    api: https://api.orcid.org
  submission_bc_emails: [""]
  send_journal_published_notices: true
  zenodo:
    base_url: https://zenodo.org
    community_id: dryad
    application_id: 42723
    client_id: <%= Rails.application.credentials[Rails.env.to_sym][:zenodo_client_id] %>
    client_secret: <%= Rails.application.credentials[Rails.env.to_sym][:zenodo_client_secret] %>
    access_token: <%= Rails.application.credentials[Rails.env.to_sym][:zenodo_access_token] %>
  merritt_base_url: https://storage-test.datadryad.org
  payments:
    service: stripe
    key: <%= Rails.application.credentials[Rails.env.to_sym][:stripe_key] %>
    pk_key: <%= Rails.application.credentials[Rails.env.to_sym][:stripe_pk_key] %>
    large_file_size: 5.0e+10
    data_processing_charge: 12000 # charge in cents
    data_processing_charge_new: 15000 # charge in cents
    dpc_change_date: 2023-01-04
    additional_storage_chunk_size: 1.0e+10 # (10GB)
    additional_storage_chunk_cost: 5000
  s3:
    region: us-west-2
    bucket: dryad-s3-prd
    merritt_bucket: dryad-assetstore-merritt-west
    key: AKIA2KERHV5E3OITXZXC
    secret: <%= Rails.application.credentials[Rails.env.to_sym][:s3_secret] %>
  google_analytics_id: G-6CWE0T05CC
  matomo_analytics_id: datadryad
  google:
    gmail_client_id: <%= Rails.application.credentials[Rails.env.to_sym][:gmail_client_id] %>
    gmail_client_secret: <%= Rails.application.credentials[Rails.env.to_sym][:gmail_client_secret] %>
    token_path: '/home/ec2-user/deploy/shared/google_token.json'
    journal_account_name: journal-submit-app@datadryad.org
    journal_processing_label: journal-submit-v2
    journal_error_label: journal-submit-error-v2
  salesforce:
    server: https://dryad.lightning.force.com
    login_host: login.salesforce.com
    username: admin@datadryad.org
    password: <%= Rails.application.credentials[Rails.env.to_sym][:salesforce_password] %>
    security_token: <%= Rails.application.credentials[Rails.env.to_sym][:salesforce_security_token] %>
    client_id: <%= Rails.application.credentials[Rails.env.to_sym][:salesforce_client_id] %>
    client_secret: <%= Rails.application.credentials[Rails.env.to_sym][:salesforce_client_secret] %>
    web_to_lead_target: https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8
    org_id: 00D3h000003z3po
    participation_field_id: 00N3h00000Ix75q
    comment_field_id: 00N3h00000Ix75j
  datacite_data_repo_id: da-80l49bsf
  identifier_service:
    provider: datacite
    prefix: "10.5061"
    account: <%= Rails.application.credentials[Rails.env.to_sym][:datacite_username] %>
    password: <%= Rails.application.credentials[Rails.env.to_sym][:datacite_password] %>
    sandbox: false
  cedar_templates:
    - ["7479dcb2-2c2f-44c8-953d-507c8b52c06a", "Human Cognitive Neuroscience Data", "Human Cognitive Neuroscience Data"]

<% end %>
