default: &default
  adapter: mysql2
  database: dash
  username:
  password: blank
  port: 3306
  encoding: utf8

development:
  <<: *default
  host: examplehost
  password: examplepass

test:
  <<: *default
  host: test
  password: test


stage:
  <<: *default
  host: stage
  password: stage

production:
  <<: *default
  host: prod
  password: prod