@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;700&family=Noto+Sans:wght@400;700&display=swap');

.markdown_editor {
  border: thin solid #d0d0d0;
  border-radius: 5px;
  overflow: hidden;
  margin: 1em auto;
}

.markdown_editor:has(.milkdown[aria-invalid]) {
  border-color: rgb(209, 44, 29);
}

.markdown_editor:focus-within {
  border-color: #0071a8;
  outline: thin solid #0071a8;
}

.md_editor_textarea {
  height: 55vh;
  position: relative;
  overflow: auto;
  background-color: white;
}

#readme_step_editor .md_editor_textarea {
  height: 400px;
  max-height: 65vh;
}

.md_editor_textarea > div:not(.c-alert--error) {
  overflow: auto;
  position: absolute;
  bottom: 0; left: 0;
  top: 0; right: 0;
}

@media screen and (max-width: 760px) {
  .md_editor_textarea {
    height: 75vh;
  }
}

.markdown_editor .c-alert--error {
  position: absolute;
  top: 5px; right: 15px;
  box-shadow: 0px 2px 3px 1px #ddd;
  margin-right: 3px;
  z-index: 5;
  width: 600px;
  font-size: 1rem;
  max-width: 85vw;
}

.markdown_editor .md_editor-buttons {
  border-radius: 5px 5px 0 0;
  border-bottom: thin solid #d0d0d0;
  background-color: rgb(233, 236, 239);
  display: flex;
  flex-wrap: wrap;
  row-gap: 3px;
}

.markdown_editor .md_editor-buttons div[role="group"]:not(:last-of-type) {
  border-right: thin solid #d0d0d0;
  margin-right: .25ch;
  padding-right: .25ch;
}

.markdown_editor .md_editor-buttons .md_editor-toggle {
  margin-left: auto;
  white-space: nowrap;
}

.markdown_editor .md_editor-buttons .md_editor-toggle button {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;
  font-size: .95em;
}

.markdown_editor .md_editor-buttons .md_editor-toggle button[aria-disabled]{
  background-color: #fff;
  color: #000;
  border: thin solid #d0d0d0;
  border-bottom: none;
  margin: -2px -2px 0;
}

.markdown_editor .md_editor-buttons .md_editor-toggle button[aria-disabled]:after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 3;
}

.markdown_editor .md_editor-buttons .spacer {
  align-self: center;
  padding: 0 .5ch;
}

.markdown_editor .md_editor-buttons .spacer:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 1.4rem;
  border-right: thin solid #d0d0d0;
}

.markdown_editor .md_editor-buttons .headingSelect,
.markdown_editor .md_editor-buttons .tableSelect,
.markdown_editor .md_editor-buttons .linkSelect,
.markdown_editor .md_editor-buttons .listSelect {
  display: inline-block;
  height: 2.5rem;
  vertical-align: top;
  position: relative;
}

.markdown_editor .md_editor-buttons .tableSelect > button i:first-child,
.markdown_editor .md_editor-buttons .listSelect > button i:first-child {
  margin-right: .5ch;
}


.markdown_editor .md_editor-buttons .headingButton,
.markdown_editor .md_editor-buttons button {
  height: 2.5rem;
  line-height: 1;
  padding: 10px 8px;
}

.markdown_editor .md_editor-buttons .headingButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: thin solid #d0d0d0;
  border-top: none; border-bottom: none;
  min-width: 110px;
  margin-right: 1.5px;
  margin-left: 1.5px;
  cursor: pointer;
}

.markdown_editor .md_editor-buttons button {
  background-color: rgb(233, 236, 239);
  border: none;
  min-width: 2.3rem;
}

.markdown_editor .md_editor-buttons button:hover,
.markdown_editor .md_editor-buttons .headingButton:hover {
  background-color: #0071a8;
  color: #fff;
}

.markdown_editor .md_editor-buttons button.active,
.markdown_editor .md_editor-buttons .headingButton.active {
  color: #0071a8;
  text-shadow: 0 0 .06rem #98cae2;
}

.markdown_editor .md_editor-buttons .headingButton:focus,
.markdown_editor .md_editor-buttons button:focus {
  background-color: #0071a8;
  color: #fff;
  outline-width: thin;
}

.markdown_editor .md_editor-buttons button.active:hover,
.markdown_editor .md_editor-buttons .headingButton.active:hover,
.markdown_editor .md_editor-buttons .headingButton.active:focus,
.markdown_editor .md_editor-buttons button.active:focus {
  color: #0071a8;
  background-color: #fff;
}

.markdown_editor .md_editor-buttons button[disabled] {
  color: #aaa;
  background-color: rgb(233, 236, 239);
  text-shadow: none;
}

.markdown_editor .md_editor-buttons > button:first-child,
.markdown_editor .md_editor-buttons > *[class*='Select']:first-child,
.markdown_editor .md_editor-buttons > *[class*='Select']:first-child > *:first-child {
  border-top-left-radius: 5px;
  border-left: none;
  margin-left: 0;
}

.markdown_editor .md_editor-buttons i[class*='chevron']{
  font-size: .7rem;
  color: #8d8d8d;
}

.markdown_editor .md_editor-buttons .tableOptButton {
  white-space: nowrap;
}

.markdown_editor .md_editor-buttons .tableOptButton[disabled] i[class*='chevron'] {
  color: #aaa;
}

.markdown_editor .md_editor-buttons .headingButton:not(.active):hover i,
.markdown_editor .md_editor-buttons .headingButton:not(.active):focus i,
.markdown_editor .md_editor-buttons .headingButton:not(.active):hover i,
.markdown_editor .md_editor-buttons .headingButton:not(.active):focus i,
.markdown_editor .md_editor-buttons .linkSelect > button:not(.active):focus i,
.markdown_editor .md_editor-buttons .linkSelect > button:not(.active):hover i,
.markdown_editor .md_editor-buttons .tableOptButton:not([disabled]):hover i[class*='chevron'],
.markdown_editor .md_editor-buttons .tableOptButton:not([disabled]):focus i[class*='chevron'],
.markdown_editor .md_editor-buttons .tableOptMenu button:hover i[class*='chevron'],
.markdown_editor .md_editor-buttons .tableOptMenu button:focus i[class*='chevron'] {
  color: #f2f2f2;
}

.markdown_editor .md_editor-buttons .headingMenu,
.markdown_editor .md_editor-buttons .tableMenu,
.markdown_editor .md_editor-buttons .tableOptMenu,
.markdown_editor .md_editor-buttons .linkMenu,
.markdown_editor .md_editor-buttons .listMenu {
  position: absolute;
  top: 100%; left: -3px;
  margin-left: 3px;
  z-index: 10;
}

.markdown_editor .md_editor-buttons .headingMenu,
.markdown_editor .md_editor-buttons .tableMenu > div,
.markdown_editor .md_editor-buttons .tableOptMenu,
.markdown_editor .md_editor-buttons .linkMenu,
.markdown_editor .md_editor-buttons .listMenu {
  margin: 0; padding: 0;
  width: 140px;
  background-color: #fff;
  border: thin solid #d0d0d0;
  border-top: none;
  box-shadow: 0px 2px 3px 1px #ccc;
  max-height: 55cqh;
  max-width: 100cqw;
  overflow: auto;
}

.markdown_editor .md_editor-buttons .headingMenu,
.markdown_editor .md_editor-buttons .tableOptMenu {
  list-style-type: none;
}

.markdown_editor .md_editor-buttons .headingMenu:focus {
  outline: 0;
}

.markdown_editor .md_editor-buttons .headingMenu li {
  margin: 0;
  padding: 3px 5px;
  border-top: thin solid #d0d0d0;
}

.markdown_editor .md_editor-buttons .headingMenu li.selected {
  background-color: #00527A;
  color: white;
}

.markdown_editor .md_editor-buttons .headingMenu li.highlighted {
  background-color: #0071a8;
  color: white;
}

.markdown_editor .md_editor-buttons .tableMenu {
  top: 2.5rem;
  left: 0; right: 0;
  width: 100cqw;
  display: flex;
  justify-content: center;
}

.markdown_editor .md_editor-buttons .tableMenu > div {
  padding: 1rem 1rem 0;
  line-height: 0;
}

@media screen and (max-width: 980px) {
  .markdown_editor .md_editor-buttons .linkMenu {
    left: -150px;
  }
  .markdown_editor .md_editor-buttons .tableMenu {
    left: auto; right: 0;
    min-width: 0;
  }
}

.markdown_editor .md_editor-buttons .tableEntry {
  white-space: nowrap;
  display: table;
  border-collapse: collapse;
}

.markdown_editor .md_editor-buttons .tableEntry div {
  display: table-row;
}

.markdown_editor .md_editor-buttons .tableEntry span {
  display: table-cell;
  height: 1.3rem;
  width: 1.3rem;
  border: thin solid #949494;
}

.markdown_editor .md_editor-buttons .tableEntry div:first-child span {
  background-color: #eee;
}

.markdown_editor .md_editor-buttons .tableEntry span.hovering {
  background-color: #98cae2;
  border-color: #0071a8;
}

.markdown_editor .md_editor-buttons .tableMenuButtons {
  display: block;
  font-size: .98rem;
  text-align: center;
  padding: 0;
  margin: .25ch auto;
  line-height: 1;
}

.markdown_editor .md_editor-buttons .tableMenuButtons input {
  padding: 0;
  margin: 0;
  border: none;
  max-width: 3ch;
  text-align: center;
}

.markdown_editor .md_editor-buttons .tableMenuButtons button {
  padding: 0;
  margin: 0;
  min-width: 0;
  min-height: 0;
  height: 1ch;
}

.markdown_editor .md_editor-buttons .tableMenuButtons button:hover,
.markdown_editor .md_editor-buttons .tableMenuButtons button:focus  {
  color: #00527A;
  background-color: #fff;
}

.markdown_editor .md_editor-buttons .tableOptMenu {
  background-color: transparent;
  width: 135px;
  max-height: none;
  overflow: visible;
  font-size: .98rem;
}

.markdown_editor .md_editor-buttons .tableOptMenu ul {
  list-style-type: none;
  margin: 0; padding: 0;
  position: absolute;
  width: 170px;
  left: 137px; right: 0; top: 0;
  z-index: 11;
  box-shadow: 0px 2px 3px 1px #ccc;
}

.markdown_editor .md_editor-buttons .tableOptMenu li {
  margin: 0; padding: 0;
  background-color: rgb(233, 236, 239);  
}

.markdown_editor .md_editor-buttons .tableOptMenu > li {
  position: relative;
}

.markdown_editor .md_editor-buttons .tableOptMenu li button {
  display: flex;
  width: 100%;
  align-items: center;
  gap: .5ch;
}

.markdown_editor .md_editor-buttons .tableOptMenu .icon-stack {
  width: 2ch;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.markdown_editor .md_editor-buttons .tableOptMenu i[class*='plus'],
.markdown_editor .md_editor-buttons .tableOptMenu i[class*='turn'] {
  font-size: .6rem;
}

.markdown_editor .md_editor-buttons .tableOptMenu .icon-stack *:first-child {
  margin-top: -2px;
  margin-bottom: -3px;
}

.markdown_editor .md_editor-buttons .tableOptMenu .icon-line {
  display: inline-flex;
  align-items: center;
  gap: 1px;
}

.markdown_editor .md_editor-buttons .tableOptMenu i.one {
  overflow: clip;
  clip-path: rect(auto auto auto auto round 28%);
  font-size: 1.1rem;
  width: .61rem;
}

.markdown_editor .md_editor-buttons .tableOptMenu i[class*='chevron'] {
  margin-left: auto;
}

@media screen and (min-width: 500px) and (max-width: 1080px) {
  .markdown_editor .md_editor-buttons .tableOptMenu {
    left: auto; right: -3px;
  }
  .markdown_editor .md_editor-buttons .tableOptMenu li button {
    flex-direction: row-reverse;
  }
  .markdown_editor .md_editor-buttons .tableOptMenu i[class*='chevron'] {
    margin-left: 0;
    margin-right: auto;
  }
  .markdown_editor .md_editor-buttons .tableOptMenu i[class*='chevron']:before {
    content: '\f053';
  }
  .markdown_editor .md_editor-buttons .tableOptMenu ul {
    left: auto; right: 137px;
  }
}

.markdown_editor .md_editor-buttons .linkMenu {
  width: 300px;
  height: 7rem;
  font-size: .9rem;
  padding: 5px 8px;
}

.markdown_editor .md_editor-buttons .linkMenu label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2px 0;
  font-weight: bold;
}

.markdown_editor .md_editor-buttons .linkMenu input {
  padding: 2px 4px;
  font-weight: normal;
  border: thin solid #d0d0d0;
  border-radius: 0;
  flex-grow: 2;
  margin-left: 5px;
}

.markdown_editor .md_editor-buttons .linkMenu .buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row-reverse;
  margin-top: 5px;
}

.markdown_editor .md_editor-buttons .linkMenu .buttons button {
  border: thin solid #98cae2;
}

.markdown_editor .md_editor-buttons .linkMenu .buttons button:first-child {
  background-color: #e4f1f7;
  margin-left: 6px;
}

.markdown_editor .md_editor-buttons .linkMenu .buttons button:hover {
  background-color: #98cae2;
}

.markdown_editor .milkdown {
  height: 100%;
}

.markdown_editor .milkdown .ProseMirror.editor,
.markdown_editor .cm-editor {
  padding: 1.5rem 1rem;
  font-size: 1rem;
  min-height: 100%;
}

.ProseMirror.editor *:first-child {
  margin-top: 0;
}

.ProseMirror.editor p {
  white-space: normal;
  white-space-collapse: preserve-spaces;
}

.milkdown, .headingMenu li {
  font-family: 'Noto Sans', 'Helvetica Neue', 'Helvetica', 'Arial', '나눔바른고딕', 'Nanum Barun Gothic', '맑은고딕', 'Malgun Gothic', sans-serif;
  margin: 0 !important;
}

.cm-editor .cm-scroller {
  font-family: 'Noto Sans Mono', 'Consolas', monospace;
  font-size: .95em;
  overflow: visible;
}

.milkdown *, .milkdown *:focus, .ProseMirror-selectednode {
  outline: none;
}

.milkdown h1,
.cm-editor .md_h1,
.milkdown h2,
.cm-editor .md_h2,
.milkdown h3,
.cm-editor .md_h3,
.milkdown h4,
.cm-editor .md_h4,
.milkdown h5,
.cm-editor .md_h5,
.milkdown h6,
.cm-editor .md_h6,
.headingMenu li {
  font-weight: bold;
  color: #000;
}

.headingMenu li.h0 {
  font-size: 1rem;
  font-weight: normal;
}

.milkdown h1, .headingMenu .h1, .cm-editor .md_h1 {
  font-size: 1.8rem;
  line-height: 2.3rem;
  margin-bottom: 1rem;
}

.milkdown h2, .headingMenu .h2, .cm-editor .md_h2 {
  font-size: 1.45rem;
  line-height: 1.75rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.milkdown h3, .headingMenu .h3, .cm-editor .md_h3 {
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-top: 1.25rem;
  margin-bottom: .75rem;
}

.milkdown h4, .headingMenu .h4, .cm-editor .md_h4 {
  font-size: 1.12rem !important;
  line-height: 1.5rem;
  margin-top: 1.15rem;
  margin-bottom: .75rem;
}

.milkdown h5,
.milkdown h6,
.headingMenu .h5,
.headingMenu .h6,
.cm-editor .md_h5,
.cm-editor .md_h6 {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 1rem;
  margin-bottom: .5rem;
}

.milkdown h6,
.headingMenu .h6,
.cm-editor .md_h6,
.md_em {
  font-style: italic;
}

.milkdown blockquote,
.md_bq {
  border-left: thick solid #ccc;
  margin-left: 0;
  padding-left: 8px;
}

.md_bq {
  padding-top: 2px;
  padding-bottom: 2px;
}

.milkdown blockquote::before {
  content: '';
}

.milkdown code {
  font-family: 'Noto Sans Mono', 'Consolas', monospace;
  font-size: 0.9em;
}

.md_cmark, .md_code, .md_mono {
  background-color: rgb(235, 235, 235);
  padding: 1px 0;
  font-size: 0.95em;
}

.md_code {
  display: block;
}

.md_cmark:first-child:last-child {
  display: block;
}

.md_li {
  padding: 8px 0;
}

.md_list {
  margin-left: 2em;
}

.md_amark {
  color: #00527A;
}

.md_a, .md_href {
  color: #0071a8;
}

.md_b {
  font-weight: 700;
}

.md_sub {
  vertical-align: sub;
  font-size: 90%;
}

.md_sup {
  vertical-align: super;
  font-size: 90%;
}

.md_strike {
  text-decoration: line-through;
}

.md_hr {
  display: flex;
  align-items: center;
  column-gap: 1ch;
}

.md_hr:after {
  content: '';
  height: 2px;
  background-color: #808080;
  flex-grow: 2;
}

.md_th {
  font-weight: 700;
  background-color: rgb(235, 235, 235);
}
