.markdown_editor {
  border: thin solid #d0d0d0;
  border-radius: 5px;
}

.markdown_editor:focus-within {
  border-color: #0071a8;
}

.markdown_editor .md_editor-buttons ~ div {
  height: 65vh;
  overflow: auto;
}

@media screen and (max-width: 760px) {
  .markdown_editor .md_editor-buttons ~ div {
    height: 75vh;
  }
}

.markdown_editor .md_editor-buttons {
  height: 2.5rem;
  border-radius: 5px 5px 0 0;
  border-bottom: thin solid #d0d0d0;
  background-color: rgb(233, 236, 239);
}

.markdown_editor .md_editor-buttons .spacer {
  display: inline-block;
  vertical-align: middle;
  padding: 0 1rem;
}

.markdown_editor .md_editor-buttons .spacer:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 1.4rem;
  border-right: thin solid #d0d0d0;
}

.markdown_editor .md_editor-buttons .headingSelect,
.markdown_editor .md_editor-buttons .tableSelect,
.markdown_editor .md_editor-buttons .linkSelect {
  display: inline-block;
  height: 100%;
  vertical-align: top;
  position: relative;
}

.markdown_editor .md_editor-buttons .headingButton,
.markdown_editor .md_editor-buttons button {
  height: 100%;
  line-height: 1;
  padding: 10px 8px;
}

.markdown_editor .md_editor-buttons .headingButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: thin solid #d0d0d0;
  border-top: none; border-bottom: none;
  min-width: 110px;
  margin-right: 1.5px;
  margin-left: 1.5px;
}

.markdown_editor .md_editor-buttons button {
  background-color: transparent;
  border: none;
  min-width: 2.3rem;
}

.markdown_editor .md_editor-buttons button:hover,
.markdown_editor .md_editor-buttons .headingButton:hover {
  background-color: #98cae2;
}

.markdown_editor .md_editor-buttons .headingButton:focus,
.markdown_editor .md_editor-buttons button:focus {
  background-color: #98cae2;
  outline-width: thin;
}

.markdown_editor .md_editor-buttons > button:first-child,
.markdown_editor .md_editor-buttons .headingSelect:first-child,
.markdown_editor .md_editor-buttons .headingSelect:first-child .headingButton {
  border-top-left-radius: 5px;
  border-left: none;
  margin-left: 0;
}

.markdown_editor .md_editor-buttons .headingButton i {
  font-size: .7rem;
  color: #8d8d8d;
}

.markdown_editor .md_editor-buttons .headingMenu,
.markdown_editor .md_editor-buttons .tableMenu,
.markdown_editor .md_editor-buttons .linkMenu {
  list-style-type: none;
  margin: 0; padding: 0;
  position: absolute;
  top: 100%; left: -3px;
  margin-left: 3px;
  z-index: 10;  
  width: 140px;
  background-color: #fff;
  border: thin solid #d0d0d0;
  border-top: none;
  box-shadow: 0px 2px 3px 1px #ccc;
}

.markdown_editor .md_editor-buttons .headingMenu:focus {
  outline: 0;
}

.markdown_editor .md_editor-buttons .headingMenu li {
  margin: 0;
  padding: 3px 5px;
  border-top: thin solid #d0d0d0;
}

.markdown_editor .md_editor-buttons .headingMenu li.highlighted {
  background-color: #e4f1f7;
}

.markdown_editor .md_editor-buttons .headingMenu li.selected {
  background-color: rgb(233, 236, 239);
}

.markdown_editor .md_editor-buttons .tableMenu {
  padding: 1rem;
  line-height: 0;
}

.markdown_editor .md_editor-buttons .tableEntry {
  white-space: nowrap;
  display: table;
  border-collapse: collapse;
}

.markdown_editor .md_editor-buttons .tableEntry div {
  display: table-row;
}

.markdown_editor .md_editor-buttons .tableEntry span {
  display: table-cell;
  height: 1.3rem;
  width: 1.3rem;
  border: thin solid #d0d0d0;
}

.markdown_editor .md_editor-buttons .tableEntry div:first-child span {
  background-color: #eee;
}

.markdown_editor .md_editor-buttons .tableEntry span.hovering {
  background-color: #e4f1f7;
  border-color: #98cae2;
}

.markdown_editor .md_editor-buttons .linkMenu {
  width: 300px;
  height: 6rem;
}

.milkdown .ProseMirror.editor {
  padding: 1rem;
  font-size: 1rem;
}

.headingMenu li {
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', '나눔바른고딕', 'Nanum Barun Gothic', '맑은고딕', 'Malgun Gothic', sans-serif;
  margin: 0 !important;
}

.milkdown h1,
.milkdown h2,
.milkdown h3,
.milkdown h4,
.milkdown h5,
.milkdown h6,
.headingMenu li {
  font-weight: bold;
  color: #000;
}

.headingMenu li.h0 {
  font-size: 1rem;
  font-weight: normal;
}

.milkdown h1, .headingMenu .h1 {
  font-size: 1.8rem;
  line-height: 2.3rem;
  margin-bottom: 1rem;
  font-weight: bold;
  color: #000;
}

.milkdown h2, .headingMenu .h2 {
  font-size: 1.45rem;
  line-height: 1.75rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.milkdown h3, .headingMenu .h3 {
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-top: 1.25rem;
  margin-bottom: .75rem;
}

.milkdown h4, .headingMenu .h4 {
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin-top: 1.15rem;
  margin-bottom: .75rem;
}

.milkdown h5,
.milkdown h6,
.headingMenu .h5,
.headingMenu .h6 {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 1rem;
  margin-bottom: .5rem;
}

.milkdown blockquote {
  border-left: thick solid #ccc;
  margin-left: 0;
  padding-left: 8px;
}

.milkdown blockquote::before {
  content: '';
}