<% # local: user %>

<h1>Journal administration for <%= "#{user.first_name} #{user.last_name}"%></h1>

<p>This user is an administrator for the following journals:</p>
<ul>
<% user.journals_as_admin.each do |journal| %>
  <li><%= journal.title %></li>
<% end %>
</ul>
