<%# takes tenants as local: facets %>
<%= "No filters available" unless facets.present? %>
<% if facets.present? %>
<h4>Status</h4>
<div>
  <ul class="c-facet-list">
    <% facets.each do |f| %>
      <li>
        <% if params[:status] == f %>
          <span class="c-facet-li__selected"><%= f.gsub('_', ' ') %></span>
          <%= link_to stash_url_helpers.user_admin_profile_path(sortable_table_params.merge(status: nil, page: 1), id: params[:id]),
								  class: 'c-facet-remove-link' do %>
            <i class="fa fa-times c-facet-remove" title="Remove filter"></i>
          <% end %>
        <% else %>
          <%= link_to f.gsub('_', ' ').capitalize, stash_url_helpers.user_admin_profile_path(id: params[:id], status: f) %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
<% end %>
