<% unless creators.nil? %>
  <% creators.each do |creator| %>
    <div class="o-metadata__group1">
      <%= ([ (creator.creator_full_name ?
              "<span class='o-metadata__author'>#{h(creator.creator_full_name)}</span>" : nil) ] +
         creator.affiliations.map{|i|
              (i.try(:smart_name) ? "<span class='o-metadata__affiliation'>#{h(i.try(:smart_name))}</span>" : nil) } +
         [ (creator.orcid_id ? "<a class='c-orcid__icon' title='orcid_website' href='http://orcid.org'></a><span class='o-metadata__orcid'>#{h(creator.orcid_id)}</span>" : nil) ])
          .flatten.reject(&:blank?).join(", ").html_safe %>
    </div>
  <% end %>
<% end %>