<% unless creators.nil? %>
Author:<br/>
(Author, Affiliation, OrcidID)
  <% creators.each do |creator| %>
    <ul style="list-style-type:none">
      <li><%= creator.creator_full_name %>,&nbsp;
      <%= creator.affliation.try(:long_name) %>,&nbsp;
      <%= creator.orcid_id %></li>&nbsp;
    </ul>
  <% end %>
<% end %>