<% unless creators.nil? %>
  <% creators.each do |creator| %>
      <p><%= [creator.creator_full_name, creator.affiliation.try(:long_name), creator.orcid_id].reject(&:blank?).join(", ") %></p>
  <% end %>
<% end %>