/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
#map{
  width: 100%;
  height: 250px;
}
.ui-autocomplete {
z-index: 100;
}