<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>
  <body>
    <%= yield %>

    <p>Please do not reply to this email.</p>

    <p>The Dryad Team</p>
    <p><a href="https://datadryad.org" title="Dryad">https://datadryad.org</a></p>
  </body>
</html>
