<p>Dear <%= @user_name %>,</p>

<p>
  Previously, we requested modifications to your Dryad dataset submission. As a reminder, these
  changes must be addressed before we can publish your dataset:
</p>

<p>
  Title: "<%= @resource.title.html_safe %>"<br/>
  DOI: <%= @resource.identifier_uri %>
</p>

<p>
  If we do not receive a reply or if no action is taken within one year of the initial email from us,
  we will withdraw your dataset. Once withdrawn, all metadata and data files will be retained for to one year,
  allowing you to easily resume the curation and publication process if you choose to reinstate your submission.
</p>

<p>
  Our previous email correspondence contains specific details on the changes required. Contact us
  at <a href="mailto:help@datadryad.org?subject=Dataset with DOI: <%= @resource.identifier_value %>">help@datadryad.org</a>
  if you have any questions or no longer wish to proceed with the publication of this dataset.
</p>

<p>
  To view the status of your dataset(s), follow these steps:
  <ol>
    <li><a href="https://datadryad.org">Login to https://datadryad.org</a></li>
    <li>Click on "My datasets"</li>
    <li>Locate your submission</li>
    <li>Incorporate pending edits, if any</li>
    <li>Click "Submit"</li>
  </ol>
</p>

<p>We hope to hear from you shortly.</p>
