<p>Dear <%= @user_name %>,</p>

<p>
  Because we have not received a response to our initial request and subsequent reminders regarding edits to your
  Dryad dataset, we have withdrawn your data submission to Dryad titled, "<%= @resource.title %>."
</p>

<p>
  You are welcome to reinstate your submission at any time. All previously provided metadata and data files will be
  retained as well as the assigned DOI. To restore your submission and resume the curation and publication
  processes, contact help@datadryad.org.
</p>

<p>We hope you will consider Dryad to host your future data submissions.</p>

<p>
The Dryad Team<br/>
<a href="mailto:help@datadryad.org">help@datadryad.org</a>
</p>