<p>Dear <%= @user_name %>,</p>

<p>
  As a reminder, we are unable to proceed with the publication of your data submission to Dryad titled,
  "<%= @resource.title %>" because the changes requested in our previous correspondence have not been addressed.
</p>

<p>
  If we do not receive a reply or if no action is taken within 2 weeks, we will withdraw your dataset. Please
  note, once withdrawn, your submission can be reinstated at any time. All previously provided metadata and data files
  will be retained allowing you to easily resume the curation and publication processes.
</p>

<p>We hope to hear from you soon.</p>

<p>
The Dryad Team<br/>
<a href="mailto:help@datadryad.org">help@datadryad.org</a>
</p>