<p>Dear <%= @user_name %>,</p>

<p>Published dataset: <%= @resource.title %></p>

<p>Now that you've published your data on Dryad, increase discoverability and boost citations of your related research by adding a link to your article directly from your dataset landing page. Here's how:</p>

<ol>
    <li><a href="https://datadryad.org">Login to https://datadryad.org</a></li>
    <li>Locate your published dataset in the 'Complete' section</li>
    <li>Click 'Revise submission'</li>
    <li>At the top of the first page of the submission form, select 'a published article'</li>
    <li>Add the article identifier to the DOI field</li>
    <li>Proceed to the final page of the submission form and click "Submit"</li>
</ol>

<p>If you need assistance, contact <a href="mailto:<%= @helpdesk_email %>"><%= @helpdesk_email %></a>.</p>

<p>Thank you for choosing Dryad to host, protect, and preserve your data.</p>
