<p>Dear <%= @user_name %>,</p>

<p>Published dataset: <%= @resource.title.html_safe %></p>

<p>Now that you've published your data on Dryad, you can increase discoverability and boost citations of your related research by adding your article DOI directly to your dataset landing page. Here's how:</p>

<ol>
    <li><a href="https://datadryad.org/dashboard">Login to https://datadryad.org</a></li>
    <li>Navigate to the “My datasets” page</li>    
    <li>Locate your published dataset in the "Complete" section</li>
    <li>On the right-hand side of the page, click "Link article". Please note that this button will only appear if you have not already linked a primary article to your dataset submission.</li>
    <li>Type in the journal’s name, and include your article DOI.</li>
    <li>Click "Submit"</li>
</ol>

<p>If you need assistance, contact <a href="mailto:<%= @helpdesk_email %>"><%= @helpdesk_email %></a>.</p>

<p>Thank you for choosing Dryad to host, protect, and preserve your data.</p>
