<p>Dear <%= @user_name %>,</p>

<p>Published dataset: <%= @resource.title %></p>

<p>Now that you've published your data on Dryad, increase discoverability and boost citations of your related research by adding a link to your article directly from your dataset landing page. Here's how:</p>

<ol>
    <li><a href="https://datadryad.org">Login to https://datadryad.org</a></li>
    <li>Locate your published dataset in the 'Complete' section</li>
    <li>Click 'Create new version'</li>
    <li>At the top of the first page of the submission form, select 'a published article'</li>
    <li>Add the article identifier to the DOI field</li>
    <li>Proceed to the final page of the submisison form and click "Submit"</li>
</ol>

<p>Interested in having intriguing data delivered directly to your inbox? <a href="https://docs.google.com/forms/d/e/1FAIpQLSfw9aG7WoKYan3nlxU4O61QjOEDbqyav8wGImRTQlev7LGoyQ/viewform">Sign up for Dryad's Open Data Digest</a> &ndash; a monthly round-up highlighting our most viewed datasets from a wide range of research areas and authors around the globe.</p>

<p>If you need assistance, contact <a href="mailto:<%= @helpdesk_email %>"><%= @helpdesk_email %></a>.</p>

<p>Thank you for choosing Dryad to host, protect, and preserve your data.<br/>
The Dryad Team</p>

