<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>

<p>An error occurred while submitting dataset &ldquo;<%= @title %>&rdquo;
  (<%= link_to("#{@identifier_str}", "https://doi.org/#{@identifier_value}")%>)
  for user <%= link_to(@user_name, "mailto:#{@user_email }") %>. The error details are below.
</p>

<hr/>

<pre>
<%= @backtrace  %>
</pre>

</body>
</html>
