<p>Dear <%= @user_name %>,</p>

<p>Your Dryad data submission, “<%= @resource.title %>”, is currently "In Progress". It has not yet been submitted for evaluation by a member of our curation team.</p>

<p>When you are prepared to submit this dataset for curation and publication, please follow these steps:</p>
<ol>
<li>Login to <a href="https://datadryad.org">https://datadryad.org</a></li>
<li>Click on "My datasets"</li>
<li>Locate your submission with the status "In Progress"</li>
<li>Click "Resume" to access your submission</li>
<li>Incorporate pending edits, if any</li>
<li>Click "Submit"</li>
</ol>

<p>If you do not intend to proceed with the publication of this dataset, you may either select "Delete" from your dashboard if this option is available to you, or contact Dryad's Helpdesk at <a href="mailto:<%= @helpdesk_email %>"><%= @helpdesk_email %></a> to request that it is withdrawn.

<p>Should you need to reach out to us in regards to this submission, please include the DOI in your email to ensure swift assistance.</p>

<p>The Dryad Team</p>
