<!DOCTYPE html>
<html>
<head>
  <title>Stash-Harvester</title>
  <%= stylesheet_link_tag    "harvester/application", media: "all" %>
  <%= javascript_include_tag "harvester/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
