<% controller.redirect_to solr_document_path(documents[0].id, single_search: true) if documents.length == 1 %>
<div class='row'>
  <div id="documents" class="documents-list">
    <%= render documents, :as => :document %>
  </div>
</div>
