<%  # this isn't the normal header icons since we don't have layers or datasets of maps
    # document is passed in as a local variable (solr document) %>
<% if document[:solr_geom] %>
  <span class='c-category__globe'></span>
<% end %>

