<div id="submission-wizard">
<%= render partial: 'stash_engine/shared/dataset_steps_nav' %>
<%= render partial: 'stash_datacite/metadata_entry_pages/metadata_entry_form' %>
</div>
<%= render partial: 'stash_engine/shared/dataset_steps_bottom_nav', locals: {page: 1} %>
