<div class="c-input">
<%= form.label :long_name, "Update full name for #{@tenant.short_name}"%>
<%= form.text_field(:long_name, value: @tenant.long_name, class: 'c-input__text', style: 'width:100%') %>
</div>