<p>This setting controls whether <%= @tenant.short_name.presence || 'the member'%>, if active, is displayed on the member list and selectable by users looking to connect.</p>
<p><%= form.check_box :partner_display, {checked: @tenant.partner_display}, 1, 0 %> <%= form.label :partner_display, "Member is displayed", class: 'c-input__label' %></p>
<%unless @tenant.enabled %><p><em>Member is inactive, and will not be displayed regardless of this setting</em></p><%end%>