<div class="c-input">
<%= form.label :short_name, "Update name for #{@tenant.short_name}"%>
<%= form.text_field(:short_name, value: @tenant.short_name, class: 'c-input__text', style: 'width:100%') %>
</div>