<div class="t-login__info">
  <h2 class="o-heading__level2">Why use Dryad?</h2>

  <h3>Curation</h3>
  <p><a href="https://datadryad.org/stash/mission#our-curation-and-publication-process">All datasets are curated</a> to ensure they are Findable, Accessible, Interoperable, and Reusable (FAIR).</p>

  <h3>Compliance</h3>
  <p>Enables adherence to <a href="https://blog.datadryad.org/category/policy/">funder and publisher open data mandates</a>.</p>

  <h3>Community supported</h3>
  <p>Dryad is researcher-led and supported by <a href="https://datadryad.org/stash/join_us">our institutional and publisher members</a>.</p>
</div>