<div class="t-login__info">
  <h2 class="o-heading__level2">Dryad's Commitment to You</h2>

  <h3>Curation</h3>
  <p>All datasets are curated to ensure they are Findable, Accessible, Interoperable, and Reusable</p>

  <h3>Compliance</h3>
  <p>Enabling adherence to funder and publisher open data mandates</p>

  <h3>Community supported</h3>
  <p>Dryad is researcher-led and supported by our institutional and publisher members</p>
</div>