<% @page_title = 'Login' %>
<div class="t-login__section">
  <div class="t-login__box">
    <h1>ORCID account</h1>

    <p>Dryad uses ORCID as its primary login method.<br>Please use, or create, your ORCID login credentials to login to Dryad.</p>

    <%= link_to '/stash/auth/orcid?origin=login', class: 't-login__buttonlink', method: :post do %>
      <%= image_tag('stash_engine/icon_orcid.svg', class: 't-login__orcid-small', alt: 'ORCID') %>
      Login or create your ORCID iD
    <% end %>

    <% if !Rails.env.include?('prod') && ENV['TEST_LOGIN'].present? %>
      <p>
        <%= link_to 'Use test login', Rails.application.routes.url_helpers.test_login_path %>
      </p>
    <% end %>
  </div>

  <%= render partial: 'login_info' %>


</div>
