<div id="page-columns">
  <div id="page-content">
    <nav aria-label="Terms navigation" style="display: flex; align-items: baseline; column-gap: 1ch; flex-wrap: wrap; font-size: 1rem;">
      <span>Account:</span>
      <ul class="c-header__nav-group">
        <li class="c-second__nav-item"><a href="/account">My account</a></li>
        <li class="c-second__nav-item"><a href="/account/saved_searches"  aria-current="page">Saved searches</a></li>
      </ul>
    </nav>
    <h1>Saved searches</h1>
    <% if current_user.min_admin? %>
      <div id="admin_searches">    
        <h2 id="saved">Admin dashboard searches</h2>
        <% if current_user.admin_searches.empty? %>
          <p>Save searches from the <%= link_to 'Admin dashboard', admin_dashboard_path %></p>
        <% else %>
          <p>Click the search name to view results and to edit search fields and filters.</p>
          <ol class="saved_searches_list" id="admin_searches_list">
            <% current_user.admin_searches.each_with_index do |s,i| %>
              <%= render partial: 'saved_search', locals: { saved_search: s, index: i } %>
            <% end %>
          </ol>
        <% end %>
      </div>
      <h2>Published dataset searches</h2>
    <% end %>
    <% if current_user.public_searches.empty? %>
      <p>Save search terms and filters from <%= link_to 'Dryad\'s search', new_search_path %> to repeat your searches and discover new datasets as they are published.</p>
    <% else %>
      <p>Click the search name to view the latest results from your saved search.<p>
      <p style="line-height: 150%;">Subscribe to be notified when new datasets meet your search criteria. Click <i class="fas fa-bell" role="img" aria-label="Subscribe"></i> to receive weekly updates via email, or <i class="fas fa-bell-slash" role="img" aria-label="Unubscribe"></i> to unsubscribe from email updates. Click <i class="fas fa-rss-square" role="img" aria-label="Copy link to web feed"></i> to copy a link to subscribe via an RSS or feed reader.</p>
      <ol class="saved_searches_list" id="public_searches_list">
        <% current_user.public_searches.each_with_index do |s,i| %>
          <%= render partial: 'saved_search', locals: { saved_search: s, index: i } %>
        <% end %>
      </ol>
    <% end %>
  </div>
</div>
<script type="text/javascript">
  document.querySelectorAll('.copy-share-code').forEach(url => url.addEventListener('click', (e) => {
    e.preventDefault()
    window.navigator.clipboard.writeText(url.href).then(async () => {
      icon = url.firstElementChild.classList.contains('fa-share') ? 'fa-share' : 'fa-rss-square'
      url.setAttribute('aria-label', 'Copied')
      url.setAttribute('title', 'Copied')
      url.firstElementChild.classList.toggle(icon)
      url.firstElementChild.classList.toggle('fa-check')
      await new Promise(res => setTimeout(res, 3000));
      url.setAttribute('title', 'Copy link to share search')
      url.setAttribute('aria-label', 'Copy link to share search')
      url.firstElementChild.classList.toggle(icon)
      url.firstElementChild.classList.toggle('fa-check')
    });
  }));
</script>