[Unit]
Description="Anubis HTTP defense proxy (instance %i)"

[Service]
User=ec2-user
ExecStart=/home/ec2-user/anubis/var/anubis
Restart=always
RestartSec=30s
EnvironmentFile=/home/ec2-user/anubis/run/%i.env
LimitNOFILE=infinity
DynamicUser=yes
CacheDirectory=anubis/%i
CacheDirectoryMode=0755
StateDirectory=anubis/%i
StateDirectoryMode=0755
ReadWritePaths=/run

[Install]
WantedBy=multi-user.target
