[Unit]
Description=Dryad delayed job service
After=local-fs.target network.target

[Service]
User=ec2-user
Type=forking
WorkingDirectory=/home/ec2-user/deploy/current
Environment=RAILS_ROOT=/home/ec2-user/deploy/current
Environment=RAILS_ENV=some_environment

ExecStart=/home/ec2-user/.rbenv/shims/bundle exec bin/delayed_job -n 3 start
ExecStop=/home/ec2-user/.rbenv/shims/bundle exec bin/delayed_job stop
ExecReload=/home/ec2-user/.rbenv/shims/bundle exec bin/delayed_job -n 3 restart
RemainAfterExit=no
Restart=on-failure
RestartSec=5s
TimeoutSec=120

[Install]
WantedBy=multi-user.target
