# A unit file for systemd, to launch the storage status updater server for Dryad
[Unit]
Description=Dryad storage status updater service
After=local-fs.target network.target

[Service]
User=ec2-user
WorkingDirectory=/home/ec2-user/deploy/current
Environment=RAILS_ROOT=/home/ec2-user/deploy/current
Environment=RAILS_ENV=some_environment

ExecStartPre=/bin/rm -f tmp/pids/merritt_status_updater.pid
ExecStart=/home/ec2-user/.rbenv/shims/bundle exec rails merritt_status:update
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=multi-user.target
