<div class="table-wrapper c-lined-table-wrapper" role="region" tabindex="0" aria-labelledby="orgs-label">
<table class="c-lined-table">
  <thead>
    <tr>
      <th class="c-lined-table__sort" <%= sort_display('name') %>>
        <%= sortable_column_head sort_field: 'name', title: 'Name' %>
      </th>
      <th class="c-admin-table">
        Contacts
      </th>
      <th class="c-admin-table">
        Child orgs
      </th>
      <th class="c-admin-table">
        Journals
      </th>
      <th class="c-admin-table">
        Parent org
      </th>
    </tr>
  </thead>

  <tbody>  
    <% orgs.each do |o| %>
      <tr class="c-lined-table__row" id="row_<%=o.id%>">
        <%= render partial: 'admin_org_row', locals: {o: o} %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

