<%# Removed ZeroClipboard for Rails since the copy/paste was broken from it.  Also depended on Flash which is soon obsolete.
  # There are also many browser security restrictions for accessing the clipboard, so probably hard to do dependably. %>

<div class="sharing_form">
  <p>
    You can share this version of your dataset files with others using the url below.
  </p>

  <p>Click the <em>Select Text</em> button and then copy and paste the URL.</p>


  <input type="text" name="sharing_link" id="sharing_link" value="<%= share.sharing_link %>"
         class="c-input__text--copypaste" readonly="readonly">

  <button id="select_url" class="o-button__plain-text2">Select Text</button>

<script>
  $('#select_url').click(function() {
      $('#sharing_link').select();
  });
</script>