<% # takes resource as local %>
<% unless current_user.id == resource.user_id %>
  <div style="width: 100%; background-color: orange;">
    You are editing <%= resource.user.name %>'s dataset.
  </div>
<% end %>