<footer class="c-footer">
  <div class="c-footer__link-group">
    <div class="c-footer__policy-group">
      <a href="http://www.cdlib.org/about/terms.html" class="js-nav-out">Terms of Use</a>
      <a href="http://www.cdlib.org/about/privacy.html" class="js-nav-out">Privacy Policy</a>
      <a href="http://www.cdlib.org/about/accessibility.html" class="js-nav-out">Accessibility Policy</a>
      <a href="<%= stash_url_helpers.terms_path %>">Terms of Service</a>
    </div>
    <div class="c-footer__social-group">
      <a href="https://twitter.com/datadryad" class="js-nav-out"><i class="fa fa-twitter-square fa-2x"></i> Follow us on Twitter</a>
      <a href="https://blog.datadryad.org/" class="js-nav-out"><i class="fa fa-rss-square fa-2x"></i> Check out our Blog</a>
      <a href="#" class="js-nav-out"><i class="fa fa-envelope-square fa-2x"></i> Subscribe to our mailing list</a>
    </div>
  </div>
  <p>Copyright (c) 2019 Dryad</p>
</footer>
