<% # takes locals of institution_list, status_list %>
  <form>
    <div class="c-horizontal-form__input--filter-by">Filter by:</div>
    <select class="c-horizontal-form__input">
      <option>Institution</option>

    </select>
    <select class="c-horizontal-form__input--status">
      <option>Status</option>

    </select>
    <a href="#" class="c-horizontal-form__input">Reset all filters</a>
  </form>
</div>