<% @page_title = "Admin Dashboard" %>
<h1 class="o-heading__level1">Admin Dashboard</h1>

<%= render partial: 'admin_head', locals: { all_stats: @all_stats, seven_day_stats: @seven_day_stats } %>

<div>
  <h2>Datasets</h2>
  <%= render partial: 'search' %>
  <%= render partial: 'filter', locals: { institution_list: @institution_list, status_list: @status_list } %>

  <%= render partial: 'datasets_table' %>
</div>
