<% unless abstract.try(:description).blank? %>
  <h3 class="o-heading__level2">Abstract</h3>
  <div>
    <%= raw(abstract.description) %>
  </div>
<% end %>

<% unless methods.try(:description).blank? %>
  <h3 class="o-heading__level2">Methods</h3>
  <div>
    <%= raw(methods.description) %>
  </div>
<% end %>

<% unless other.try(:description).blank? %>
  <h3 class="o-heading__level2">Usage Notes</h3>
  <div>
    <%= raw(other.description) %>
  </div>
<% end %>