---
http_interactions:
- request:
    method: post
    uri: https://api.reporter.nih.gov/v2/projects/search
    body:
      encoding: UTF-8
      string: '{"criteria":{"project_nums":["R01HD113192"]},"include_fields":["ProjectTitle","ProjectNum","AgencyIcFundings","AgencyIcAdmin","ProjectDetailUrl","CoreProjectNum","DateAdded"],"offset":0,"limit":50,"sort_field":"DateAdded","sort_order":"desc"}'
    headers:
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Supported-Versions:
      - '2.0'
      X-Rate-Limit-Limit:
      - 1m
      X-Rate-Limit-Remaining:
      - '199'
      X-Rate-Limit-Reset:
      - '2025-09-22T12:48:32.7566212Z'
    body:
      encoding: UTF-8
      string: '{"meta":{"search_id":"82XQxHIkX0i7b4T0jBjPNg","total":0,"offset":0,"limit":50,"sort_field":"DateAdded","sort_order":"desc","sorted_by_relevance":true,"properties":{"URL":"https:/reporter.nih.gov/search/82XQxHIkX0i7b4T0jBjPNg/projects"}},"results":[]}'
  recorded_at: Mon, 22 Sep 2025 12:47:32 GMT
recorded_with: VCR 6.3.1
