---
http_interactions:
- request:
    method: post
    uri: https://api.reporter.nih.gov/v2/projects/search
    body:
      encoding: UTF-8
      string: '{"criteria":{"project_nums":["R01HD113192"]},"include_fields":["ProjectTitle","ProjectNum","AgencyIcFundings","AgencyIcAdmin","ProjectDetailUrl","CoreProjectNum","DateAdded"],"offset":0,"limit":50,"sort_field":"DateAdded","sort_order":"desc"}'
    headers:
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Supported-Versions:
      - '2.0'
      X-Rate-Limit-Limit:
      - 1m
      X-Rate-Limit-Remaining:
      - '199'
      X-Rate-Limit-Reset:
      - '2025-09-22T12:53:17.6047784Z'
    body:
      encoding: UTF-8
      string: '{"meta":{"search_id":"I9b_agJzvkqJdVqRVg0x3A","total":3,"offset":0,"limit":50,"sort_field":"DateAdded","sort_order":"desc","sorted_by_relevance":true,"properties":{"URL":"https:/reporter.nih.gov/search/I9b_agJzvkqJdVqRVg0x3A/projects"}},
      "results": [
        {
          "project_num":"5R01HD113192-03","agency_ic_admin":{"code":"HD","abbreviation":"NICHD","name":"Eunice Kennedy Shriver National Institute of Child Health and Human Development 1"},
          "agency_ic_fundings":[{"fy":2025,"code":"HD","name":"Eunice Kennedy Shriver National Institute of Child Health and Human Development","abbreviation":"NICHD","total_cost":299925.0,"direct_cost_ic":193500.0,"indirect_cost_ic":106425.0}],
          "core_project_num":"R01HD113192-RC2",
          "project_title":"Microbial-induced maternal factors that influence fetal immune development 1",
          "project_detail_url":"https://reporter.nih.gov/project-details/11169041",
          "date_added":"2025-09-07T22:56:09"
        },
        {
          "project_num":"5R01HD113192-03","agency_ic_admin":{"code":"HD","abbreviation":"NICHD","name":"Eunice Kennedy Shriver National Institute of Child Health and Human Development 2"},
          "agency_ic_fundings":[{"fy":2025,"code":"HD","name":"Eunice Kennedy Shriver National Institute of Child Health and Human Development","abbreviation":"NICHD","total_cost":299925.0,"direct_cost_ic":193500.0,"indirect_cost_ic":106425.0}],
          "core_project_num":"R01HD113192-RC1",
          "project_title":"Microbial-induced maternal factors that influence fetal immune development 2",
          "project_detail_url":"https://reporter.nih.gov/project-details/11169041",
          "date_added":"2025-09-07T22:56:08"
        }
      ]}'
  recorded_at: Mon, 22 Sep 2025 12:52:17 GMT
recorded_with: VCR 6.3.1
