<a class="c-skipnav" href="#maincontent">Skip to main content</a>

<% if params[:controller].try(:include?, 'pages') && params[:action] == 'home' %>
  <header class="t-home__header c-header">
<% else %>
  <header class="c-header">
<% end %>
    <div class="c-header__logos">
      <%= link_to(stash_url_helpers.root_path, class: 'c-header__dash-logo-link js-nav-out') do %>
        <%
        dash_logo = image_tag('stash_engine/logo_dryad.png', class: 'c-header__dash-logo-svg', alt: 'Dryad')
        tenant_logo = ( (current_tenant.blank? || current_tenant.logo_file.blank?) ? '' : logo_path(class: "c-header__dash-logo-svg") ) %>
        <div><%= dash_logo %></div><% unless tenant_logo.blank? %><div><%= tenant_logo %></div><% end %>
      <% end %>
    </div>

  <%= render partial: "layouts/stash_engine/nav" %>

  </header>