<!DOCTYPE html>
<html>
<head>
  <title>StashEngine</title>
  <%= stylesheet_link_tag    "stash_engine/application", media: "all" %>
  <%= javascript_include_tag "stash_engine/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="head_box">
  <div class="logo">test image</div>
  <div class="dash_logo">Dash</div>
  <div class="search_and_login">Search</div>
  <div class="menu_bar">menu 1 | menu 2 | menu 3 | menu 4</div>
  <div class="log_in_out">logout</div>
  <div style="clear:both"></div>
</div>

<%= yield %>

</body>
</html>
