<p>An error occurred while submitting dataset &ldquo;<%= @resource.title %>&rdquo;
  (<%= link_to(@resource.identifier_uri, @resource.identifier_uri)%>)
  for user <%= link_to(@resource.user.name, "mailto:#{@resource.user.email }") %>. The error details are below.
</p>

<hr/>

<pre>
<%= @backtrace  %>
</pre>
