<%# takes a local of resource %>
<% contributor = resource.contributors.where(contributor_type: 'sponsor').first ||
    StashDatacite::Contributor.new(contributor_type: 'sponsor', resource_id: resource.id)

   create_path, update_path = contributors_create_path, contributors_update_path
%>

<div class="c-input">
  <%= react_component('components/MetadataEntry/FacilityAutocomplete',
                      {name: (contributor.contributor_name || ''),
                       rorId: (contributor.name_identifier_id || ''),
                       contribId: contributor.id,
                       resourceId: resource.id,
                       createPath: create_path,
                       updatePath: update_path,
                       'controlOptions': { 'htmlId' => "research_facility", 'labelText' => 'Research facility', 'isRequired' => false }
                      }) %>
</div>
