<h3 class="o-heading__level2">Funding</h3>
<% unless contributors.nil? %>
  <% contributors.each do |contributor| %>
     <p><%= contributor.contributor_name %>,
      Award:<%= contributor.award_number %></p>
  <% end %>
<% end %>