<p>
  To see the dataset status, visit your <%= link_to 'My datasets', "https://dash2-dev.ucop.edu/#{@vars[:path]}" %> page.
  If you have questions or concerns, please visit the Dash <%= link_to 'FAQ', '#' %> page or
  <%= link_to 'contact us', contact_us_url %>.
</p>

<p>Please do not reply to this email.</p>
