<%= link_to 'Back to My Datasets', stash_engine.dashboard_path, class: "btn" %>
<%= link_to 'Proceed to Uploads', stash_engine.file_uploads_path, class: "btn" %>

<div>
  <%# form_for(:general, method: :post, remote: true, url: generals_find_or_create_path) do |f| %>

    <%# f.hidden_field :resource_id, value: params[:resource_id] %>
    <%= render partial: 'stash_datacite/generals/metadata_entry_form' %>

    <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
  <%# end %>
</div>