<div>
  <%= form_for :general, url: generals_create_path do |f| %>

    <%= f.hidden_field :resource_id, value: params[:resource_id] %>
    <%= render partial: 'stash_datacite/generals/metadata_entry_forms' %>
  <% end %>
</div>