<%# takes a local identifier AR object #%>
<h2 tabindex="0" class="expand-button" role="button" aria-expanded="false" aria-controls="citations-sec">Works referencing this dataset</h2>
<div id="citations-sec" hidden>
  <ul class="o-list">
    <% identifier.cached_citations.each do |cite| %>
      <li>
        <% if cite.citation.blank? %>
          <%= "Citation metadata for #{cite.doi} was not available from DataCite." %>
        <% else %>
          <%= cite.citation.html_safe %><!-- The doi: <%= cite.doi %> -->
        <% end %>
      </li>
    <% end %>
  </ul>
</div>