<%# takes a local identifier AR object #%>
<h1>Works referencing this dataset</h1>
<% identifier.cached_citations.each do |cite| %>
  <p>
    <% if cite.citation.blank? %>
      <%= "Citation metadata for #{cite.doi} was not available from DataCite." %>
    <% else %>
      <%= cite.citation.html_safe %><!-- The doi: <%= cite.doi %> -->
    <% end %>
  </p>
<% end %>