<%# takes a local identifier AR object #%>
<div id="citations-sec" hidden>
  <ul class="o-list">
    <% identifier.cached_citations.each do |cite| %>
      <li>
        <% if cite.citation.blank? %>
          <%= "Citation metadata for #{cite.doi} was not available from DataCite." %>
        <% else %>
          <%= cite.citation.html_safe %><!-- The doi: <%= cite.doi %> -->
        <% end %>
      </li>
    <% end %>
  </ul>
</div>