<% # takes dataset_identifier as local %>
<% resource = dataset_identifier.latest_downloadable_resource(user: current_user) %>
<% if resource.total_file_size < APP_CONFIG.maximums.zip_size %>
  <div class="o-download">
    <% add_download_authorization(resource.id) %>
    <%= form_with url:
                      "/stash/downloadZip/#{"doi_#{dataset_identifier.identifier}__v#{minimal_date(resource.publication_date.present? && resource.publication_date < Time.now.utc ? resource.publication_date : resource.updated_at)}".gsub(/\.|:|\//, '_')}.zip",
                  method: :post, name: 'download', id: 'zip_download', remote: true do |form| %>
        <% resource.current_file_uploads.each do |fu| %>
          <input type="hidden" name="resource_id" value="<%= resource.id %>"/>
        <% end %>
        <button type="submit" name="submit" class="o-download__files js-download" id="download_zip_button"><span id="download_icon"></span>Download full dataset</button>
    <% end %>
    <div class="screen-reader-only" id="accessible-dl-msg" aria-live="assertive"></div>
  </div>
  <% content_for :doc_end do %>
  <script type="text/javascript" async>
    const dlbutton = document.getElementById('download_zip_button');
    if ("serviceWorker" in navigator) {
      <%= render partial: 'stash_engine/downloads/download_zip', formats: :js %>
    } else {
      dlbutton.hidden = true;
    }
  </script>
  <% end %>
<% end %>