<div class="o-download">
  <%= button_to "Download the dataset files", download_resource_path(@resource.id), class: 'o-download__files js-download',
                :data => {:url => increment_downloads_resource_path(@resource.id) }, id: "dl_res_#{@resource.id}" %>
</div>