<%# takes local variable of resource %>
<div class="c-sidebox">
    <h2 class="c-sidebox__heading">Data files</h2>
    <p>
	<% if @resource.identifier.embargoed_until_article_appears? %>
	    This dataset is embargoed and will be released when the associated article is published.
	    Contact <a href="mailto:help@datadryad.org?subject=Article published for <%= @resource.identifier.to_s %>">help@datadryad.org</a>
	    to notify us of article publication.
	<% else %>
	    This dataset is embargoed <% if @resource.publication_date.present? && @resource.publication_date > Time.new.utc -%>
	    and will be released on <%= formatted_date(@resource.publication_date) %>
	    <% end -%>.
	    <% auth = @resource.authors.first %>
	    <% if auth&.author_email&.present? %>
		Please contact <a href="mailto:<%= auth.author_email %>"><%= auth.author_standard_name %></a>
		with any questions.
	    <% else %>
		<!-- the author sucks and didn't give an email.  Maybe imported data? -->
	    <% end %>
	<% end %>
    </p>
    <p>Lists of files and downloads will become available to the public when released.</p>
</div>
