<span><%= identifier.counter_stat.views %> views </span>
<% unless identifier.latest_resource&.resource_type&.resource_type == 'collection' %>
  <span><%= identifier.counter_stat.unique_request_count %> downloads</span>
<% end %>
<span id="metrics_citation_count">
  <%= identifier.counter_stat.citation_count %> citations
</span>