<%# takes local: identifier_id %>


<script>
  $(window).load(function(){
    let txt = `
    <h1>Connect your ORCID</h1>
    <p>You are a co-author for this dataset.</p>
    <p style="text-align: center;">
      <%= link_to "Connect your ORCID iD", "/stash/auth/orcid?#{{invitation: params[:invitation], identifier_id: identifier_id }.to_param}",
                  class: "js-add_my_Orcid_ID t-describe__add-button o-button__connect-orcid", method: :post %>
    </p>`;

    $('#genericModalContent').html(txt);
    console.log()
    $('#genericModalDialog')[0].showModal();

    // gets rid of the extra junk on the URL so it doesn't reload the invitation popup with a browser page reload
    if (history.pushState) {
      window.history.pushState({}, null, window.location.pathname);
    }
  });
</script>
