<div>
  <%= link_to "Download this dataset", @resource.download_uri %>
</div>

<div>
  <h3>Data Files</h3>
  File1
</div>

<div>
  <h3>Metrics</h3>
  (view icon): views<br/>
  (downloads icon): downloads
</div>

<div>
  <h3>Keywords</h3>
</div>

<div>
  <h3>License</h3>
</div>