<div id="display_resource"
     data-load="<%= metadata_url_helpers.resources_show_path(id: @resource_id, format: :js) %>">
  <%= image_tag 'stash_engine/spinner.gif', size: '80x60', alt: 'Loading spinner' %>
</div>
