// ##### Styles for Dash ##### //

// ***** Global Settings ***** //u

@import 'scss/variables';
@import 'scss/mixins';
@import 'scss/testing';
@import 'scss/normalize';
@import 'scss/fonts';
@import 'font-awesome';
@import 'scss/resets';

html, body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body, body#yes-really {
	line-height: 135%;
	max-width: 1220px;
	margin: 0 auto;
	padding: 10px;
	font-family: 'KievitWeb', sans-serif;
	font-size: initial;
	font-size: 1.1rem;

	@include bp(screen1) {
		padding: 10px 20px;
	}

	@include bp(screen2) {
		padding: 10px 30px;
	}

	&.prevent-clicks, &.prevent-clicks * {
		pointer-events: none;
	}

}

div {
	box-sizing: border-box;
}

input:focus, button:focus, *[tabindex]:focus, a:focus-visible {
	outline: 2px solid $medium-blue;
}

*[tabindex="-1"]:focus {
  outline: 0;
}

a:focus-visible {
	outline-offset: 4px;
}

a[role='button']:focus-visible, a[class*='button']:focus-visible {
	outline-offset: 0;
}

.c-pot-item {
	display: none !important;
}

// ***** Objects ***** //

@import 'scss/buttons';
@import 'scss/data-list';
@import 'scss/dataset-nav';
@import 'scss/dependency-list';
@import 'scss/download';
@import 'scss/drop';
@import 'scss/global-search';
@import 'scss/headings';
@import 'scss/links';
@import 'scss/list';
@import 'scss/logout';
@import 'scss/map';
@import 'scss/metadata';
@import 'scss/modal';
@import 'scss/proposed-change';
@import 'scss/section';
@import 'scss/select';
@import 'scss/showhide';
@import 'scss/table';
@import 'scss/steps';

// ***** Components ***** //

@import 'scss/admin-layout';
@import 'scss/admin-edit';
@import 'scss/alert';
@import 'scss/cedar';
@import 'scss/columns';
@import 'scss/data-results';
@import 'scss/real_facets';
@import 'scss/fieldsets';
@import 'scss/file-group';
@import 'scss/footer';
@import 'scss/form-group';
@import 'scss/header';
@import 'scss/input';
@import 'scss/keywords';
@import 'scss/latest';
@import 'scss/license';
@import 'scss/location';
@import 'scss/locations';
@import 'scss/login';
@import 'scss/orcid';
@import 'scss/pagination';
@import 'scss/progress';
@import 'scss/pubdate';
@import 'scss/readme';
@import 'scss/review-files';
@import 'scss/submission';
@import 'scss/submission-help';
@import 'scss/table-heading';
@import 'scss/text-styles';
@import 'scss/upload-file';
@import 'scss/upload-manifest';
@import 'scss/upload-table';
@import 'scss/upload-widgets';
@import 'scss/why-share';
@import 'scss/why-use';
@import 'scss/sharing-steps';
@import 'scss/getting-started';
@import 'scss/social-share';

// ***** Elements ***** //

@import 'scss/progress-element';

// ***** Themes ***** //

@import 'scss/api';
@import 'scss/about';
@import 'scss/contact';
@import 'scss/datasets';
@import 'scss/describe';
@import 'scss/help';
@import 'scss/home';
@import 'scss/landing';
@import 'scss/review';
@import 'scss/search-results';
@import 'scss/upload';
