<p>
  Size limits: <%= filesize(current_tenant.max_total_version_size) %> of new files per version added from your computer.
  <%= filesize(current_tenant.max_submission_size) %> in total (or added by URL).
</p>