<p>
  Size limits are <%= filesize(current_tenant.max_total_version_size) %> of new files per version added from your computer.
  You may add <%= filesize(current_tenant.max_submission_size) %> in total by URL or by submitting multiple versions.
</p>