<p>
  Size limits: <%= filesize(current_tenant.max_total_version_size) %> of new files per version may be uploaded from
  your computer or <%= filesize(current_tenant.max_submission_size) %> in total by URL or submitting multiple versions.
</p>