<% unless file_uploads.where(url: [nil, '']).nil? %>
  <ul class="c-review-files__list">
  <% file_uploads.each do |file_upload| %>
    <div class="<%= 'strike-deleted' if file_upload.file_state == 'deleted' %>">
      <li><%= file_upload.upload_file_name %>&nbsp;&nbsp;
      <%= filesize(file_upload.upload_file_size) %></li>
    </div>
  <% end %>
  </ul>
<% end %>

