<% #takes local variable of resource %>

<div>
  <% if resource.file_uploads.validated_table.count < 1 %>
    <span id="no_chosen2">No files have been uploaded.</span>
  <% else %>
    <table class="c-manifest-table">
      <tr class="c-manifest-table__head">
        <th class="c-manifest-table__filename-col">Filename</th>
        <th class="c-manifest-table__url-col">URL</th>
        <th class="c-manifest-table__size-col">Size</th>
        <th class="c-manifest-table__version-col">Version</th>
        <th class="c-manifest-table__actions-col">Actions</th>
      </tr>
      <%= render partial: "stash_engine/file_uploads/uploaded_file_from_server",
               collection: resource.file_uploads.validated_table, as: :uploaded_file %>
      <% if resource.latest_file_states.count > 10 %>
        </tbody> <!-- closing tbody which shows/hides rows greater than 10 -->
      <% end %>
    </table>
    <p id="show_all_files"><a href="#">Show all files</a></p>
    <p id="show_10_files"><a href="#">Show 10 files</a></p>
    <p id="display_size">Total: <%= filesize(@resource.file_uploads.present_files.sum(:upload_file_size)) %></p>
    <div class="bad_upload">
      <% if @resource.file_uploads.present_files.sum(:upload_file_size) > current_tenant.max_submission_size %>
        <p id="over_manifest_size">
          Your file size is over <%= filesize(current_tenant.max_submission_size) %>. You must remove some files to
          bring your total under this limit before you can upload these files.
        </p>
      <% end %>
      <% if @resource.file_uploads.present_files.count > current_tenant.max_files %>
        <p id="over_manifest_count">
          The number of files you added is more than <%= number_with_delimiter(current_tenant.max_files, :delimiter => ',') %>.
          In order to submit your dataset you must remove some files.
        </p>
      <% end %>
    </div>
  <% end %>
</div>