<% @page_title = "Funder dashboard" %>
<h1 class="o-heading__level1">Funder dashboard</h1>

<%= render partial: 'filter_panel' %>

<% if @funder_table.empty? %>
  <p>There are no results to show, please modify your filtering criteria to show results.</p>
<% else %>
  <%= render partial: 'funder_table' %>
<% end %>