<% @page_title = "Funder dashboard" %>
<h1 class="o-heading__level1">Funder dashboard</h1>



<div>
  <h2>Some funder stuff</h2>

  <%= form_with url: stash_url_helpers.admin_funders_path, method: :get do |form| %>
    <div class="o-admin-columns">
      <div class="o-admin-40-column">
        Column 1
        <div>
          <%= form.submit "Submit" %>
        </div>
      </div>
      <div class="o-admin-60-column">
        Column 2
      </div>
    </div>
  <% end %>
</div>