  <h2>Now resending submissions for these items</h2>

  <p>Re-enqueued these resource_ids for re-submission to Merritt: <%= params[:ids] %></p>

<%= link_to 'go back to viewing queue updates', stash_url_helpers.submission_queue_path %> (updates automatically every 2 minutes)
