<h1>Merritt submission queue</h1>
<div id="status_table" data-load="<%= stash_url_helpers.url_for(controller: 'stash_engine/submission_queue', action: 'refresh_table', params: sortable_table_params, only_path: true) %>">
  <%# render partial: 'status_table' %>
  <%= image_tag 'stash_engine/spinner.gif', size: '80x60', alt: 'Loading spinner' %>
</div>

<h2>Actions you can take</h2>

<h3>To shut down and hold submissions</h3>
<p>
  Add a <em>hold-submissions.txt</em> file in the directory above the Rails.root. This would be
  <em>~/apps/ui/releases/hold-submissions.txt</em> in our current directory structure.</p>

<h3>Re-enqueue submissions for checked items</h3>
<p>
 This will re-send the items you check (by clearing the queue states and re-inserting them in the current server's queue).
</p>

<p>
    <%= button_to 'Resend checked submissions',
                  stash_url_helpers.graceful_start_path,
                  { method: 'get',
                    params: { ids: '' },
                    onclick: "gatherChecked();",
                    class: 'o-button__plain-text2',
                    form_class: 'button_form'
                  } %>
</p>

<script>

  function gatherChecked() {
      const checked = [...document.querySelectorAll("input[type=checkbox]:checked")].map((el) => el.id ).join();
      document.querySelector('.button_form>input[name=ids]').value = checked;
  }

    //
    $(document).ready(function () {
        setInterval(refreshPartial, 120000) // refresh every 2 minutes
    });

    // calls action refreshing the partial
    function refreshPartial() {
        $.ajax({
            url: '<%= stash_url_helpers.url_for(controller: '/stash_engine/submission_queue', action: 'refresh_table', params: sortable_table_params) %>'
        })
    }
</script>
