<%# license object from main configuration should be passed in as local 'license', rights object as 'right' %>
<% if license.nil? %>
  <%= render partial: 'stash_datacite/licenses/no_license_review', locals: {right: right} %>
<% else %>
  <h2>License:</h2>
  <a href="https://spdx.org/licenses/CC0-1.0.html" target="_blank"><i class="fab fa-creative-commons-zero" aria-hidden="true"></i>Public domain<span class="screen-reader-only"> (opens in new window)</span></a>
<% end %>