<%# license object from main configuration should be passed in as local 'license', rights object as 'right' %>
<% if license.nil? %>
  <%= render partial: 'stash_datacite/licenses/no_license_review', locals: {right: right} %>
<% else %>
  <h2>License:</h2>
  <a href="https://creativecommons.org/publicdomain/zero/1.0/" target="_blank">
    Public domain
    <span role="img" aria-label="CC0 (opens in new window)" style="marginLeft: .25ch">
      <i class="fab fa-creative-commons" aria-hidden="true" />
      <i class="fab fa-creative-commons-zero" aria-hidden="true" />
    </span>
  </a>
<% end %>