<h2 class="review_headers">License</h2>

<% if @resource.current_state.blank? || @resource.rights.empty? %>
  <p>
    This work will be licensed under a
    <% lic = StashEngine::License.by_id(current_tenant.default_license) %>
    <%= link_to lic['name'], lic['uri'] %> license.
  </p>
<% elsif @resource.current_state.resource_state == 'in_progress' %>
    <% @resource.rights.each do |r| %>
      <p>
        This work will be licensed under a
        <%= link_to r.rights, r.rights_uri %> license.
      </p>
    <% end %>
<% end %>
