<h2 class="o-heading__page-span">License</h2>

<% if @resource.current_state.blank? || @resource.rights.empty? %>
  <%= render partial: "licenses/#{current_tenant.default_license}_review" %>
<% elsif @resource.current_state.resource_state == 'in_progress' %>
    <% @resource.rights.each do |r|
      l_id = StashEngine::License.by_uri(r.rights_uri)['id'] %>
      <%= render partial: "licenses/#{l_id}_review" %>
    <% end %>
<% end %>
