<%# takes tenants as local: facets %>
<h3 class="<%= ( params[:status] ? 'c-facet-title--open' : 'c-facet-title--closed' ) %> js-title-toggle"><a data-no-turbolink="true" href="#">Status</a></h3>
<div class="js-hideshow">
  <ul class="c-facet-list">
    <% facets.each do |f| %>
      <li>
        <% if params[:status] == f %>
          <span class="c-facet-li__selected"><%= f.gsub('_', ' ') %></span>
          <%= link_to sortable_table_params.merge(status: nil, page: 1), class: 'c-facet-remove-link' do %>
            <i class="fa fa-times c-facet-remove" title="Remove filter"></i>
          <% end %>
        <% else %>
         <%= link_to f.gsub('_', ' '), sortable_table_params.merge(status: f, page: 1) %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
