<% if params[:controller].include?('landing') %>
<h2><span id="expand-citation" role="button" tabindex="0" aria-expanded="false" aria-controls="dataset-citation">Citation<i class="fas fa-caret-down" aria-hidden="true"></i></span></h2>
<button title="Copy citation" aria-label="Copy citation" class="copy-icon" data-item="Citation"><i class="fa fa-paste" role="status"></i><span>Copy</span></button>
<% else %>
  <h3 class="o-heading__level2">Citation</h3>
<% end %>
<% publication = @resource.publication_date.blank? ? "Forthcoming #{publication_year}" : publication_year %>
<p id="dataset-citation"<% if params[:controller].include?('landing') %> hidden<% end %>><%= citation(authors, title, resource_type, identifier, publication) %></p>

<% if params[:controller].include?('landing') %>
<script type="text/javascript">
  const expandCitation = (e) => {
    const citation = document.getElementById('dataset-citation')
    const button = document.getElementById('expand-citation')
    if (citation.hasAttribute('hidden')) {
      button.setAttribute('aria-expanded', 'true')
    } else {
      button.setAttribute('aria-expanded', 'false')
    }
    button.lastElementChild.classList.toggle('fa-caret-down')
    button.lastElementChild.classList.toggle('fa-caret-up')
    citation.toggleAttribute('hidden')
  }
  document.getElementById('expand-citation').addEventListener('click', expandCitation)
  document.getElementById('expand-citation').addEventListener('keydown', (e) => {
    if (e.key === ' ' || e.key === 'Enter') {
      e.preventDefault()
      expandCitation(e)
    }
  });
</script>
<% end %>