<%# pass in the resource as a local and it'll output geolocation data information for js to use %>
<div id="geolocation_info">
  <% resource.geolocation_boxes.each do |b| %>
    <div class="js-hiddenbox" data-bbox="<%= "#{b.sw_longitude} #{b.sw_latitude} #{b.ne_longitude} #{b.ne_latitude}"%>"/>
  <% end %>
  <% resource.geolocation_points.each do |b| %>
    <div class="js-hiddenpoint" data-bbox="<%= "#{b.longitude} #{b.latitude} #{b.longitude} #{b.latitude}"%>"/>
  <% end %>
  <% resource.geolocation_places.each do |b| %>
    <div class="js-hiddenplace" data-name="<%= b.geo_location_place %>"
         data-bbox="<%= "#{b.longitude} #{b.latitude} #{b.longitude} #{b.latitude}"%>"/>
  <% end %>
</div>