<br/>
<strong><%= label_tag "Add a point or draw a rectangle on the map" %></strong><br/>
<div id="map"></div>

<script src="http://www.mapquestapi.com/sdk/leaflet/v2.s/mq-map.js?key=Jbz41iZLdjj63daDdS7jfAWAMervMCxY"></script>
<script src="http://www.mapquestapi.com/sdk/leaflet/v2.s/mq-geocoding.js?key=Jbz41iZLdjj63daDdS7jfAWAMervMCxY"></script>