<br/>
<strong><%= label_tag "Add a point or draw a rectangle on the map" %></strong><br/>
<div id="map"></div>

    <link
        rel="stylesheet"
        href="http://leaflet.github.io/Leaflet.draw/leaflet.draw.css"
    />
    <script
        src="http://leaflet.github.io/Leaflet.draw/leaflet.draw.js">
    </script>
<script src="http://www.mapquestapi.com/sdk/leaflet/v2.s/mq-map.js?key=Jbz41iZLdjj63daDdS7jfAWAMervMCxY"></script>
<script src="http://www.mapquestapi.com/sdk/leaflet/v2.s/mq-geocoding.js?key=Jbz41iZLdjj63daDdS7jfAWAMervMCxY"></script>