<p>Where was the data collected? Does it focus on particular locations?</p>
<strong><%= label_tag "Add a place or a point or rectangular area to the map or enter manually below" %></strong><br/>
<div id="map"></div>

<script type="text/javascript">
$(document).ready(function(){
    $("#location_section").click(function() {
        setTimeout(function() {
            map.invalidateSize();
        }, 1000);
    });
});
</script>