<div class="new_sharing">
  <p>
    <%= link_to 'Create a link', stash_engine.shares_create_path(resource_id: resource_id), method: :post, remote: true %> to share this dataset with others.
  </p>
</div>