name: Jest Javascript/React tests

on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-18.04

    steps:
      - uses: actions/checkout@v2
      - name: Install modules
        run: yarn

      - name: Run tests
        run: yarn test