<h1>Contact</h1>
<h2>Head Office</h2>
<p>Dryad<br>
417 Mace Blvd. , Ste J110<br>
Davis, CA 95618<br>
United States</p>

<h2>General enquiries</h2>
<ul>
	<li>Email: <a href="mailto:hello@datadryad.org">hello@datadryad.org</a></li>
	<li>Phone: <a href="tel:+18332925326">+1 833-292-5326</a></li>
</ul>
<br>
<p>Jennifer Gibson, Executive Director: <a class="emailr" href="mailto:dev@null">gro.dayrdatad@nosbigj</a></p>
<p>Jessica Herzog, Head of Publishing Services: <a class="emailr" href="mailto:dev@null">gro.dayrdatad@gozrehj</a></p>
<p>Sarah Lippincott, Head of Community Engagement: <a class="emailr" href="mailto:dev@null">gro.dayrdatad@haras</a></p>
<br>
<p><a href="https://twitter.com/datadryad">Twitter</a> | <a href="https://www.linkedin.com/company/datadryad/">LinkedIn</a> | <a href="https://www.facebook.com/DataDryad/">Facebook</a></p>
<br>
<p>Dryad is a 501(c)(3) nonprofit corporation under the North Carolina Nonprofit Corporation Act, registered with the U.S. IRS, EIN number 46-1685419.</p>