<!-- this had to be copied in because it was in the header of blacklight, but needs to be part of the code for
displaying modal dialogs and our header does not contain it -->
<div id="ajax-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal menu" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>
