<div id="page-columns">
  <nav id="page-nav" aria-label="Page navigation">
    <button id="nav-mobile-button" class="o-button__plain-text1" aria-label="Expand page menu"><i class="fas fa-angles-up"></i></button>
    <%= render page_content, toc: true %>
  </nav>
  <div id="page-content"><%= render page_content %></div>
</div>
