<div class="c-why-use__group">
  <h2 class="o-heading__level1-home">Why use Dryad?</h2>

  <div class="c-why-use__items">
    <div class="c-why-use__blurb">
      <div class="c-why-use__icon">
        <i class="fa fa-folder-open-o fa-3x fa-fw" aria-hidden="true"></i>
      </div>
      <div class="c-why-use__text">
        <strong class="c-why-use__strong" role="heading" aria-level="2">Any field. Any format.</strong> Submit data in any file format from any field of research. Share all of the data from a project in one place.
      </div>
    </div>

    <div class="c-why-use__blocker"></div>

    <div class="c-why-use__blurb">
      <div class="c-why-use__icon">
        <i class="fa fa-users fa-3x fa-fw" aria-hidden="true"></i>
      </div>
      <div class="c-why-use__text">
        <strong class="c-why-use__strong" role="heading" aria-level="2">Quality control and assistance.</strong> Our curators will check your files before they are released, and help you follow best practices.
      </div>
    </div>

    <div class="c-why-use__blocker"></div>

    <div class="c-why-use__blurb">
      <div class="c-why-use__icon">
        <i class="fa fa-check-square fa-3x fa-fw" aria-hidden="true"></i>
      </div>
      <div class="c-why-use__text">
        <strong class="c-why-use__strong" role="heading" aria-level="2">Straightforward compliance.</strong> Submit your data to satisfy publisher and funder requirements for preservation and availability with a minimum of effort. We work directly with many publishers -- including Wiley, The Royal Society, and PLOS -- to streamline the process.
      </div>
    </div>

    <div class="c-why-use__blocker"></div>

    <div class="c-why-use__blurb">
      <div class="c-why-use__icon">
        <i class="fa fa-globe fa-3x fa-fw" aria-hidden="true"></i>
      </div>
      <div class="c-why-use__text">
        <strong class="c-why-use__strong" role="heading" aria-level="2">Community-led.</strong> Dryad is a nonprofit membership organization that is committed to making data available for research and educational reuse now and into the future. Modest Data Publishing Charges help ensure our sustainability.
      </div>
    </div>
  </div>
</div>