<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>
  <body>
    <%= yield %>
    <p>Kind regards,<br/>
      The Dryad Team<br/>
      <a href="https://datadryad.org" title="Dryad">https://datadryad.org</a>
    </p>

    <p>Please do not reply to this email.</p>
  </body>
</html>
